<md-content id="maincontent" layout="row" layout-align="center center"> <!--   ng-if="vm.notification" --> 
    <section class="md-whiteframe-z1" style="margin:8px; padding:0px" flex="50" layout-padding>
        <md-toolbar class="md-warn" style="padding-top: 15px" >
        <div class="md-toolbar-tools">
            <h3>Please Reset Your Password</h3>
        </div>
        </md-toolbar>

        <form name="newpassword">
        <div layout="column" style="font-size: 14px; padding-top:0px" layout-padding>
        <md-input-container flex="33" >
            <label>New Password</label> 
            <input name="password" type="password" ng-model="reset.password" ng-minlength="8" required/>
            <div ng-messages="newpassword.password.$error">  
              <div ng-message="minlength">Must be atleast 8 characters.</div>
            </div>

            </md-input-container>
        <md-input-container flex="33">
            <label>Confirm Password</label> 
             <input name="confirmPassword" type="password" ng-model="reset.confirmpassword" compare-to="reset.password" required/>
            <div ng-messages="newpassword.confirmPassword.$error">
                <div ng-message="compareTo">Your password does not match.</div>
            </div>
            </md-input-container>
          <div layout="row">
             <md-button type="submit" style="color:black; margin:0px" ng-click="reset.savePassword()" aria-label="confirm reset password">Okay</md-button>
          </div>
        </div>
        </form>

    </section>
</md-content>
</span>