/*****
*  Vote buttons on a motion
***/

.motion_vote_buttons{
    transition: all 0.3s ease;
    opacity: 1;

    padding: $padding 0px;

    &.ng-hide-add, 
    &.ng-hide-remove{ 
        display: inline-block !important;
    }

    &.ng-hide{
        opacity: 0;
    }

}

.motion_vote_buttons__button{
  transition: 500ms filter linear; /* disabling blur */
  transition: 500ms -webkit-filter linear;
  
	button {
		margin: 0px;
		height: 50px;

		md-icon{
			height: 80%;
			width: 25%;
		}
	}
}


.motion_vote_buttons__button--abstain{
	@extend .motion_vote_buttons__button;
}

.motion_vote_buttons__button--agree{
	@extend .motion_vote_buttons__button;
}

.motion_vote_buttons__button--disagree{
	@extend .motion_vote_buttons__button;
}

.motion_vote_buttons__button--disabled{
	@extend .motion_vote_buttons__button;
  -webkit-filter: grayscale(100%) blur(1px); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(1px);
}