
/****************************************************************
*
*	Files at bottom of Motion
*
****************************************************************/

.motion_files{
	padding: $padding;
	flex: 1 0 100%;
	border-top: 1px solid $lightGrey;
}
