
/** Motion block and large division blocks */

motion, user-comment, motion-votes, comment-list{
	margin: $padding 0;
	display: flex;
	flex-direction: column;


}
 
motion{
	flex-direction:row;
}

@import 'motion_usercomment';
@import 'motion_commentlist';
@import 'motion_header';
@import 'motion_tiles';
@import 'motion_details';
@import 'motion_fab';
@import 'motion_files';
@import 'motion_vote_buttons';
@import 'motion_vote_statusbar';
