/* Applied to agree/disagree/abstain */
.motion_commentlist{

	header{
		flex-direction:row;
		display: flex;
	}

	section{
		padding: $padding;
	}
}


.motion_commentlist__text{

}

.motion_commentlist__vote{

}

@media screen and (max-width: 500px) {
	.motion_commentlist{
		md-icon.md-avatar-icon{
			margin:$padding;
		}

		md-list-item{
			display: flex;
			flex-flow: row wrap;
		}	
	}
}

.motion_commentlist__points{
	text-align:center;
	margin-top:0px;
	font-size: 1.4rem;
}

.motion_commentlist__points--positive{
	@extend .motion_commentlist__points;
	color:$primaryColor;
}


.motion_commentlist__points--negative{
	@extend .motion_commentlist__points;
	color:$accentColor;
}