
/****************************************************************
*
*	Text of a Motion
*
****************************************************************/

.motion_details{
	padding: $padding;
	flex: 1 0 100%;
		border-top: 1px solid $lightGrey;

}
