
/****************************************************************
*
*	STATUS BAR
*
****************************************************************/
.motion_vote_statusbar {
		display: flex;
    white-space: nowrap;
    padding: $padding 0;
}

.motion_vote_statusbar__bar {
	margin: 0;
	border-radius:0;
	flex: 1 0 auto;
	-webkit-display:block;

	flex-shrink: 0;
}

.motion_vote_statusbar__bar--abstain{
	@extend .motion_vote_statusbar__bar;
}

.motion_vote_statusbar__bar--agree {
	@extend .motion_vote_statusbar__bar;
}

.motion_vote_statusbar__bar--disagree  {
	@extend .motion_vote_statusbar__bar;
}
