<div flex-gt-xs="100" flex-md="70" flex-lg="70" flex-gt-lg="60" layout="column" style="margin:auto;">
<!-- <profile-toolbar></profile-toolbar> -->
  <md-card>
    <md-card-content>


    <md-list ng-cloak style="padding: 0" flex>

      <md-subheader class="md-no-sticky">Personal Information</md-subheader>
        <md-list-item ng-repeat="item in form.personalInformation" class="md-2-line" flex>
          <md-icon class="mdi {{ item.icon }}"></md-icon>
          <div class="md-list-item-text" ng-hide="item.edit">
            <h3>{{ item.label }}</h3>
            <p>{{ item.data }}</p>
          </div>

          <div class="md-list-item-text" ng-show="item.edit" ng-switch="item.label">
            <div ng-switch-when="Name" edit-name-field></div>
            <div ng-switch-when="Community" edit-community-field></div>
            <div ng-switch-when="Birthday" edit-birthday-field></div>
          </div>

          <md-button class="md-icon-button md-secondary" name="{{ item.label | lowercase }}" ng-click="editField($event); item.edit = !item.edit" ng-hide="item.edit">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>

          <md-button class="md-secondary" ng-show="item.edit" ng-disabled="item.form.$invalid" type="submit" ng-click="saveField($event, item)">
            <span ng-hide="item.saving">Save</span>
            <md-icon md-svg-src="loading" ng-show="item.saving"></md-icon>
          </md-button>
          <md-button class="md-secondary" ng-show="item.edit" ng-click="item.edit = !item.edit">Cancel</md-button>

        </md-list-item>

<!-- START SECTION DIVIDER -->
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky">Contact Information</md-subheader>
<!-- END SECTION DIVIDER -->

      <md-list-item ng-repeat="item in form.contactInformation" class="md-2-line">
        <md-icon class="mdi {{ item.icon }}"></md-icon>
          <div class="md-list-item-text" ng-hide="item.edit">
            <h3>{{ item.label }}</h3>
            <p>{{ item.data }}</p>
          </div>

          <div class="md-list-item-text" ng-show="item.edit" ng-switch="item.label" flex>
            <div ng-switch-when="Email" edit-email-field></div>
            <div ng-switch-when="Telephone" edit-telephone-field></div>
            <div ng-switch-when="Address" edit-address-field></div>
          </div>

          <md-button class="md-icon-button md-secondary" name="{{ item.label | lowercase }}" ng-click="editField($event); item.edit = !item.edit" ng-hide="item.edit">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>

          <md-button class="md-secondary" ng-show="item.edit" ng-disabled="item.form.$invalid" type="submit" ng-click="saveField($event, item)">
            <span ng-hide="item.saving">Save</span>
            <md-icon md-svg-src="loading" ng-show="item.saving"></md-icon>
          </md-button>
          <md-button class="md-secondary" ng-show="item.edit" ng-click="item.edit = !item.edit">Cancel</md-button>

      </md-list-item>

<!-- START SECTION DIVIDER -->
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky">Security Settings</md-subheader>
<!-- END SECTION DIVIDER -->

      <md-list-item ng-repeat="item in form.securitySettings" class="md-2-line">
        <md-icon class="mdi {{ item.icon }}"></md-icon>
          <div class="md-list-item-text" ng-hide="item.edit">
            <h3>{{ item.label }}</h3>
            <p>{{ item.data | capitalize }}</p>
          </div>

          <div class="md-list-item-text" ng-show="item.edit" ng-switch="item.label" flex>
            <div ng-switch-when="Show profile" edit-status-field></div>
            <div ng-switch-when="Password" edit-password-field></div>
          </div>

          <md-button class="md-icon-button md-secondary" name="{{ item.label | lowercase }}" ng-click="editField($event); item.edit = !item.edit" ng-hide="item.edit">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
          <md-button class="md-secondary" ng-show="item.edit" ng-disabled="item.form.$invalid" type="submit" ng-click="saveField($event, item)">
            <span ng-hide="item.saving">Save</span>
            <md-icon md-svg-src="loading" ng-show="item.saving"></md-icon>
          </md-button>
          <md-button class="md-secondary" ng-show="item.edit" ng-click="item.edit = !item.edit">Cancel</md-button>

      </md-list-item>

<!-- START SECTION DIVIDER -->
      <md-divider></md-divider>
      <span has-permission="administrate-permission">
      <md-subheader class="md-no-sticky">Roles & Permissions</md-subheader>
<!-- END SECTION DIVIDER -->

      <md-list-item class="md-2-line">
        <md-icon class="mdi mdi-home"></md-icon>
        <div class="md-list-item-text" ng-if="!roleFactory.edit" ng-init="fetchUserRoles();">
          <h3>User role</h3>
          <div ng-repeat="role in roles">
            <p>{{role.display_name}}</p>
            <p class="md-caption">{{role.description}}</p>
          </div>
        </div>

        <div class="md-list-item-text" layout="column" ng-show="roleFactory.edit">
          <md-select ng-model="profile.roles" multiple placeholder="Select user roles">
            <md-option ng-value="role.name" ng-repeat="role in roleFactory.list">
              {{ role.display_name }}
            </md-option>
          </md-select>

          <div layout="row">
            <md-button class="md-secondary" ng-show="roleFactory.edit" type="submit" ng-click="roleFactory.update(profile, roles)">
              <span ng-hide="roleFactory.saving">Save</span>
              <md-icon md-svg-src="loading" ng-show="roleFactory.saving"></md-icon>
            </md-button>
            <md-button class="md-secondary" ng-show="roleFactory.edit" ng-click="roleFactory.edit = !roleFactory.edit">Cancel</md-button>
          </div>
        </div>

         <md-button class="md-icon-button md-secondary" ng-click="roleFactory.edit = !roleFactory.edit" ng-hide="roleFactory.edit">
            <md-icon class="mdi mdi-pencil"></md-icon>
        </md-button>
      </md-list-item>

      <md-list-item class="md-2-line" ng-click="noop();" ng-if="settingsGlobal.security.verify_citizens">
        <md-icon class="mdi mdi-home"></md-icon>
        <div class="md-list-item-text">
          <h3>Verify user</h3>
          <p>Verified to vote and post comments.</p>
        </div>
        <md-switch class="md-secondary" ng-true-value="1" ng-false-value="0" ng-model="form.verifyUser.data" ng-click="saveField($event, form.verifyUser)"></md-switch>
      </md-list-item>
      </span>
    </md-list>
    </md-card-content>
  </md-card>
</div>
