<md-content flex role="navigation" ng-controller="MotionSidebarController as sidebar">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ui-sref="home" aria-label="Home Button">
        <md-icon md-svg-src="/themes/{{themename}}/logo/symbol_mono.svg"></md-icon>
      </md-button>
      <h2>Motions</h2>
      <span flex></span>
    </div>

  </md-toolbar>
  <md-list>
    <md-list-item class="sidebar-list" ng-repeat="motion in sidebar.motions" ui-sref-active="active"> 



      <md-icon aria-label="Visited" ng-class="{mdi:true, 'mdi-trending-up':motion.motionRank > 0, 'md-primary':motion.motionRank > 0, 'mdi-trending-down':motion.motionRank < 0, 'md-accent':motion.motionRank < 0, 'mdi-trending-neutral':motion.motionRank == 0}">
      <md-tooltip ng-if="motion.motionRank != 0">{{ motion.motionRank > 0 ? "Currently passing" : "Not passing"}}</md-tooltip>
      <md-tooltip ng-if="motion.motionRank == 0">Neutral</md-tooltip>
      </md-icon>

      <p layout-padding ui-sref="motion({id:motion.id})">{{ motion.title }}</p>

      <div ng-switch="{{ motion.votes[0].position }}">
        <md-button class="md-icon-button" ng-disabled="!motion.MotionOpenForVoting" md-ink-ripple>
          <md-icon ng-switch-when="1" class="md-primary" md-svg-src="/themes/{{themename}}/icons/thumb-up.svg" ng-click="sidebar.cycleVote(motion)" aria-label="cycle vote" ng-disabled="motion.MotionOpenForVoting"></md-icon>
          <md-icon ng-switch-when="0" md-svg-src="/themes/{{themename}}/icons/thumbs-up-down.svg" ng-click="sidebar.cycleVote(motion)" aria-label="cycle vote" ng-disabled="motion.MotionOpenForVoting"></md-icon>
          <md-icon ng-switch-when="-1" class="md-accent" md-svg-src="/themes/{{themename}}/icons/thumb-down.svg" ng-click="sidebar.cycleVote(motion)" aria-label="cycle vote"ng-disabled="motion.MotionOpenForVoting"></md-icon>
          <md-icon ng-switch-when="undefined"class="mdi mdi-checkbox-blank-circle-outline" ng-click="sidebar.cycleVote(motion)" aria-label="cycle vote"ng-disabled="motion.MotionOpenForVoting"></md-icon>
          <md-tooltip>Quick Vote</md-tooltip>
        </md-button>
      </div>

    <md-list-item ng-if="sidebar.emptyMotionsArray">
      <p class="md-body-1">No motions</p>
    <has-permission has-permission="create-motions">
    <md-list-item class="sidebar-list" md-ink-ripple ui-sref-active="active"> 
      <md-icon class="mdi" md-font-icon="mdi-plus" aria-label="add" ui-sref="createmotion"></md-icon>
      <p ui-sref="createmotion">Create new motion</p>
    </md-list-item>
    </has-permission>
    </md-list-item>


  </md-list>
</md-content>
