<!-- <has-permission has-permission="administrate-permissions"> -->
  <form layout-padding ng-controller="UserRoleController as role">
  <table layout-padding>
    <thead>
      <tr>
        <td>
            <p class="md-body-2" translate="{{'USER_ROLES'}}"></p>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="r in role.roles">
          <td>
          <md-checkbox  
          ng-model="r.this_users_roles"
          ng-click="user.test_role_name(r)" style="margin:0px">
            <p class="md-caption" style="margin:0px">{{r.display_name}}</p>
            <md-tooltip>{{r.description}}</md-tooltip>
          </md-checkbox>
          </td>
      </tr>

    </tbody>
  </table>
  <md-button ng-click="user.edit_role = !user.edit_role; role.uponPressingBack()"><md-icon class="mdi mdi-arrow-left"></md-icon>&nbsp;{{ 'BACK' | translate}}</md-button>
  </form>
<!-- </has-permission>  -->