<md-card ng-controller="editUserController as user" id="edit-user-form">
  <md-toolbar class="md-tall">
    <div>
      <md-icon class="mdi mdi-big mdi-account-circle"></md-icon>
        <div class="user-toolbar" style="color:black; padding-left: 97px; padding-top: 12px">
        <h2 class="md-headline" style=" margin:0">
          {{user.profile.first_name}} 
          <span hide-sm>{{user.profile.middle_name}}</span>
          {{user.profile.last_name}}    
          <span hide-sm class="user-public-setting" style="font-size:18px">({{user.profile.public ? ('PUBLIC' | translate) : ('PRIVATE' | translate)}})</span>
        </h2>
        </div>

      <div class="user-role-toolbar" ng-controller="UserRoleController as role">
          <p class="md-caption" ng-repeat="r in user.profile.user_role">{{ r }}{{ $last ? '' : ',&nbsp;' }}</p>
          <has-permission has-permission="administrate-permissions">
             <md-icon ng-click="user.edit_role = !user.edit_role; role.checkRoles(user.profile.user_role)" class="edit-btn mdi mdi-pencil"></md-icon>
          </has-permission>
      </div>
    </div>


  </md-toolbar>

  <ng-include src="'app/components/user/partials/user-roles.tpl.html'" ng-if="user.edit_role"></ng-include>

  <md-card-content ng-if="!user.edit_role">
    <div layout-padding>
        <div layout="row" id="email">
          <md-icon class="mdi mdi-email" style="padding-right:10px"></md-icon>
            <md-input-container flex>
            <label>Email</label> 
              <input type='email' placeholder=" " ng-model="user.profile.email" disabled style="background-image:none;"/>
            </md-input-container>
              <md-icon class="edit-btn mdi mdi-pencil" ng-click="user.expand('email')" ng-hide="user.field.email || user.success.email"></md-icon>
              <md-icon class="mdi mdi-menu-down" ng-show="user.field.email" ng-click="user.expand('email')" ></md-icon>
              <md-icon class="mdi mdi-check" ng-show="user.success.email"></md-icon>
        </div>

        <div layout="row" id="emailEdit" ng-show="user.field.email">
          <md-input-container flex style="padding-left:38px">
            <label>Enter new email</label>
            <input type='email' ng-model='user.new.email' ng-keypress="user.pressEnter($event, 'email')" />
          </md-input-container>
            <md-icon class="mdi mdi-lock" ng-show="user.locking.email"></md-icon>
            <md-icon class="mdi mdi-lock-open" ng-hide="user.locking.email" ng-click="user.lock('email')">
              <md-tooltip>Save</md-tooltip>
            </md-icon>
        </div>

        <div layout="row" id="date_of_birth">
          <md-icon  class="mdi mdi-cake" style="padding-right:10px"></md-icon>
            <md-input-container flex>
              <label>Birthday</label> 
                <input type="text" placeholder=" " ng-model="user.profile.date_of_birth" disabled style="background-image:none;" format-date/>
            </md-input-container>
            <md-icon class="edit-btn mdi mdi-pencil" ng-click="user.expand('date_of_birth')" ng-hide="user.field.date_of_birth || user.success.date_of_birth"></md-icon>
            <md-icon class="mdi mdi-menu-down" ng-show="user.field.date_of_birth" ng-click="user.expand('date_of_birth')" ></md-icon>
            <md-icon class="mdi mdi-check" ng-show="user.success.date_of_birth"></md-icon>
        </div>

        <div layout="row" id="date_of_birthEdit" ng-show="user.field.date_of_birth">
          <md-input-container flex style="padding-left:38px">
            <label>Enter in your Birthday</label>
            <input type='date' ng-model='user.new.date_of_birth' ng-keypress="user.pressEnter($event, 'date_of_birth')" />
          </md-input-container>
            <md-icon class="mdi mdi-lock" ng-show="user.locking.date_of_birth"></md-icon>
            <md-icon class="mdi mdi-lock-open" ng-hide="user.locking.date_of_birth" ng-click="user.lock('date_of_birth');">
              <md-tooltip>Save</md-tooltip>
            </md-icon>
        </div>


        <div layout="row" id="address">
          <md-icon class="mdi mdi-home" style="padding-right:10px"></md-icon>
            <md-input-container flex>
              <label>Address</label> 
                <input type='text' placeholder=" " ng-model='user.profile' disabled style="background-image:none;" format-address/>
            </md-input-container>
            <md-icon class="edit-btn mdi mdi-pencil" ng-click="user.expand('address')" ng-hide="user.field.address || user.success.address"></md-icon>
            <md-icon class="mdi mdi-menu-down" ng-show="user.field.address" ng-click="user.expand('address')" ></md-icon>
            <md-icon class="mdi mdi-check" ng-show="user.success.address"></md-icon>

        </div>

        <div id="addressEdit" ng-show="user.field.address">
           <md-input-container flex style="padding-left:38px; bottom:10px">
              <label>Enter in your address</label>
            </md-input-container> 

          <!-- TODO: Form Validation on Address, make unable to submit if not all are filled in. -->
          <div layout="row"  style="padding-left:38px" flex>
            
              <md-input-container flex="10">
                <label>Apt/Suite</label> 
                <input type='text' ng-model='user.new.unit_number'/>
              </md-input-container>
              <md-input-container flex="15">
                <label>Street No.</label> 
                <input type='text' ng-model='user.new.street_number' required/>
              </md-input-container>
              <md-input-container flex="50">
                <label>Street Name</label> 
                <input type='text' ng-model='user.new.street_name' required/>
              </md-input-container>
              <md-input-container flex="20">
                <label>Postal Code</label> 
                <input type='text' ng-model='user.new.postal_code' ng-keypress="user.pressEnter($event, ['unit_number', 'street_number', 'street_name', 'postal_code'])"required/>
              </md-input-container>
             <md-icon class="mdi mdi-lock" ng-show="user.locking.address">
            </md-icon>
            <md-icon class="mdi mdi-lock-open" ng-hide="user.locking.address" ng-click="user.lock(['unit_number', 'street_number', 'street_name', 'postal_code'])">
              <md-tooltip>Save</md-tooltip>
            </md-icon>

          </div>
        </div>


        <div layout="row" id="ethnic_origin_id">
          <md-icon class="mdi mdi-human" style="padding-right:10px"></md-icon>
              <md-input-container flex>
                <label>Ethnicity</label> 
                  <input type='text' ng-model='user.ethnicity.region' disabled ethnic-origin style="background-image:none;"/>
              </md-input-container>
            <md-icon class="edit-btn mdi mdi-pencil" ng-click="user.expand('ethnic_origin_id')" ng-hide="user.field.ethnic_origin_id || user.success.ethnic_origin_id || user.disabled_unauthenticated"></md-icon>
            <md-icon class="edit-btn-disabled mdi mdi-pencil" ng-show="user.disabled_unauthenticated">
              <md-tooltip md-direction="left">Your identity must be verifed first.</md-tooltip>
            </md-icon>
            <md-icon class="mdi mdi-menu-down" ng-show="user.field.ethnic_origin_id" ng-click="user.expand('ethnic_origin_id')"></md-icon>
              <md-icon class="mdi mdi-check" ng-show="user.success.ethnic_origin_id"></md-icon>
        </div>

        <div layout="row" id="ethnicityEdit" ng-show="user.field.ethnic_origin_id">
          <md-input-container flex style="padding-left:38px">
            <label>Enter in your ethnicity</label>
            <md-select ng-model="user.new.ethnic_origin_id">
              <md-option ng-repeat="ethnicity in user.ethnicities" ng-value="ethnicity.id">{{ ethnicity.region }}
                <md-tooltip>{{ ethnicity.description }}</md-tooltip>
              </md-option>
            </md-select>
          </md-input-container>
            <md-icon class="mdi mdi-lock" ng-show="user.locking.ethnic_origin_id"></md-icon>
            <md-icon class="mdi mdi-lock-open" ng-hide="user.locking.ethnic_origin_id" ng-click="user.lock('ethnic_origin_id')">
              <md-tooltip>Save</md-tooltip>
            </md-icon>
        </div>


        <div layout="row" id="password">
          <md-icon class="mdi mdi-account-key" style="padding-right:10px"></md-icon>
              <md-input-container flex>
                <label>Change Password</label> 
                  <input type='password' disabled style="background-image:none;"/>
              </md-input-container>
            <md-icon class="edit-btn mdi mdi-pencil" ng-click="user.expand('password')" ng-hide="user.field.password || user.success.password"></md-icon>
            <md-icon class="mdi mdi-menu-down" ng-show="user.field.password" ng-click="user.expand('password')" ></md-icon>
            <md-icon class="mdi mdi-check" ng-show="user.success.password"></md-icon>
        </div>

        <div layout="row" id="passwordEdit" ng-show="user.field.password">
          <md-input-container flex style="padding-left:38px">
            <label>Enter new password</label>
            <input type='password' ng-model='user.new.password' ng-keypress="user.pressEnter($event, 'password')"/>
          </md-input-container>
            <md-icon class="mdi mdi-lock" ng-show="user.locking.password"></md-icon>
            <md-icon class="mdi mdi-lock-open" ng-hide="user.locking.password" ng-click="user.lock('password')">
              <md-tooltip>Save</md-tooltip>
            </md-icon>
        </div>
    </div>
  </md-card-content>
</md-card>