<div ng-show="!user.isLoading">

<md-content id="maincontent" layout="column" fill-layout ng-cloak>

  <div>
  <section class="md-whiteframe-z1" style="margin:8px">
    <md-toolbar class="section-toolbar md-tall" style="min-height: 144px" layout-padding>
      <div>
        <span hide-md hide-gt-md style="font-size:10px; position:absolute; color:grey; bottom: 10px; left: 55px">{{user.profile.public ? ('PUBLIC' | translate) : ('PRIVATE' | translate)}}</span>

        <md-icon class="mdi-big mdi-account-circle md-primary"></md-icon>

<!--         <md-icon class="mdi mdi-camera" style="color: black;
    position: absolute;
    top: 53px;
    left: 49px;
    font-size: 38px;"></md-icon>
 -->

        <div style="color:black; padding-left: 120px; padding-top: 12px"><h3 class="md-headline" style=" margin:0">{{user.profile.first_name}} 
        <span hide-sm>{{user.profile.middle_name}} </span>

        {{user.profile.last_name}}
      

            <span hide-sm style="font-size:18px">({{user.profile.public ? ('PUBLIC' | translate) : ('PRIVATE' | translate)}})</span>

          
          <md-icon style="color:grey;" ng-click="user.show_edit_name = !user.show_edit_name;" ng-show="user.showEdits" class="edit-btn mdi mdi-pencil"  hide-sm ></md-icon>
          <md-icon style="color:grey; font-size:14px; padding-top:5px" ng-click="user.show_edit_name = !user.show_edit_name;" ng-show="user.showEdits" class="edit-btn mdi mdi-pencil" hide-md hide-gt-md></md-icon>

        </h3>
        </div>
        <div style="padding-left: 120px; position:absolute; color: grey; display:inline-block">
          <p  class="md-caption" style="display:inline-block; margin:0px" ng-repeat="user_role in user.this_users_roles">{{user_role}}{{$last ? '' : ',&nbsp;'}}</p>
          <has-permission has-permission="administrate-permissions">
           <md-icon style="color:grey;" ng-click="user.show_edit_role = !user.show_edit_role; user.checkRoles()" class="edit-btn mdi mdi-pencil" hide-sm ></md-icon>
           <md-icon style="color:grey; font-size:14px; padding-top:5px" ng-click="user.show_edit_role = !user.show_edit_role; user.checkRoles()" class="edit-btn mdi mdi-pencil" hide-md hide-gt-md></md-icon>

        </has-permission>
        </div>
      </div>




    </md-toolbar>

    <div layout="column" ng-if="user.isSelfOrAdmin"  layout-fill>
      <div ui-view="details"  ng-if="!user.show_edit_role && !user.show_edit_name && !user.show_edit_address"></div>
      <div ui-view="editname" ng-if="user.show_edit_name"></div>
      <div ui-view="roles"    ng-if="user.show_edit_role"></div>
      <div ui-view="address"  ng-if="user.show_edit_address"></div>

    </div>

  </section>

  <section  ng-if="user.profile.public && user.votes[0]" flex layout-margin class="md-whiteframe-z1">
    <md-toolbar class="section-toolbar">
      <div class="md-toolbar-tools">
        <h3 translate="{{'VOTING_HISTORY'}}"></h3>
      </div>
    </md-toolbar>
    <md-list layout-padding  ng-repeat="vote in user.votes">
    <md-list-item ui-sref-active="active"  ui-sref="motion({id:vote.motion_id})">
    <p class="md-body-1">{{vote.motion.title}}</p>
      <md-icon ng-show="vote.position==1"  class="md-primary" md-svg-src="/themes/{{::themename}}/icons/thumb-up.svg"></md-icon>
      <md-icon ng-show="vote.position==-1" md-svg-src="/themes/{{::themename}}/icons/thumb-down.svg"></md-icon>
      <md-icon ng-show="vote.position==0"  md-svg-src="/themes/{{::themename}}/icons/thumbs-up-down.svg"></md-icon>
        <md-button class="md-icon-button"  aria-label="yourVoteRedirect" ui-sref="motion({id:vote.motion_id})">
         <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
        </md-button>
      </md-list-item>
      <md-divider ng-show="!$last"></md-divider>
    </md-list>
  </section>
  </div>






<has-permission has-permission="hasAllusers">
<md-fab-toolbar class="md-right" >
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="menu" class="md-fab md-primary">
      <md-icon class="mdi" md-font-icon="mdi-menu" ></md-icon>
    </md-button>
    </md-fab-trigger>
    <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <has-permission has-permission="administrate-users">
      <md-button aria-label="create" ui-sref="createuser" class="md-icon-button">
        <md-icon class="mdi" md-font-icon="mdi-plus"></md-icon>
      </md-button>
      </has-permission>
      <has-permission has-permission="delete-users">
        <md-button aria-label="delete" ng-click="user.deleteUser(user.profile.id)" class="md-icon-button md-warn">
        <md-icon class="mdi" md-font-icon="mdi-delete"></md-icon>
      </md-button>
      </has-permission>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>
</has-permission>

</md-content>


</div>