<has-permission has-permission="administrate-permissions">
  <form layout-padding>
  <table layout-padding>
    <thead>
      <tr>
        <td>
            <p class="md-body-2" translate="{{'USER_ROLES'}}"></p>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="role in user.roles">
        <td>
        <md-checkbox  
        ng-model="role.this_users_role"
        ng-click="user.test_role_name(role)" style="margin:0px">
          <p class="md-caption" style="margin:0px">{{role.display_name}}</p>
          <md-tooltip>{{role.description}}</md-tooltip>
        </md-checkbox>
        </td>
      </tr>

    </tbody>
  </table>
  <md-button ng-click="user.show_edit_role = !user.show_edit_role; user.uponPressingBack()"><md-icon class="mdi mdi-arrow-left"></md-icon>&nbsp;{{ 'BACK' | translate}}</md-button>
  </form>
</has-permission> 