<md-content id="maincontent" layout="column" fill-layout>

  <section class="md-whiteframe-z1" style="margin:8px">
    <md-toolbar class="section-toolbar">
      <div class="md-toolbar-tools">
        <h3>Upload Background Image</h3>
      </div>
    </md-toolbar>
    <div layout="column" >
      <div flex="90" flex-sm="100" flex-order="2" flex-order-gt-sm="1" layout-padding ></div>
      <div flex="10" flex-sm="100" flex-order-sm="1"  flex-order="1" flex-order-gt-sm="2"  layout-padding>
      <form name="uploadfile">

      <md-input-container>

                <md-icon class="mdi" md-font-icon="mdi-account" ></md-icon>

        <input ng-model="credits" placeholder="Who took this photo?" required/>
      </md-input-container>

      <md-input-container>
                <md-icon class="mdi" md-font-icon="mdi-link" ></md-icon>
       <input ng-model="url" placeholder="myphotographywebsite.ca" required/>
      </md-input-container>

      <md-input-container>
                <md-icon class="mdi" md-font-icon="mdi-file-image-box" ></md-icon>
        <input type="file" name="file" onchange="angular.element(this).scope().chosenImage(this.files)" required/>
      </md-input-container>

      <div>
        <md-button ng-click="uploadFile(credits, url); uploadcheck()" ng-hide="uploading" type="submit">Submit
        </md-button>
        <md-button> <md-icon class="mdi" md-svg-src="/themes/default/loading.svg" ng-show="uploading"></md-icon>
        </md-button>
         <div ng-messages="uploadfile.$error" ng-if="showError">
          <div ng-message="">There was an error uploading your photo. Make sure you've entered in all the fields correctly.</div>
         </div>
        

      </div>
      </form>
      </div>
      
      </div>  
    </section>
  </md-content>