<md-content flex role="navigation" ui-view="navigation">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="toggleSidebar()" hide-lt-md aria-label="Toggle Menu">
	    		<md-icon md-svg-src="/img/icons/navigation/svg/production/ic_menu_18px.svg"></md-icon>
			</md-button>
		    <h2>Motions</h2>
		</div>
	</md-toolbar>
	<md-list>
		<md-list-item ng-repeat="motion in sidebar.motions" class="sidebar-list" ng-click="$scope.do">
		<!-- how do we mark what they have read/not read? -->
			<md-icon md-svg-src="/img/icons/navigation/svg/production/ic_check_18px.svg"></md-icon>
			<p ui-sref="app.motion({id:motion.id})" >{{ motion.title }} {{motion.id}}</p>

			<div ng-switch="{{ motion.votes[0].position}}">
				<md-icon ng-switch-when="1" md-svg-src="/img/icons/action/svg/production/ic_thumb_up_24px.svg" ng-click="cycleVote($event)" aria-label="Open Chat"></md-icon>
				<md-icon ng-switch-when="0" md-svg-src="/img/icons/action/svg/production/ic_thumbs_up_down_24px.svg" ng-click="cycleVote($event)" aria-label="Open Chat"></md-icon>
				<md-icon ng-switch-when="-1" md-svg-src="/img/icons/action/svg/production/ic_thumb_down_24px.svg" ng-click="cycleVote($event)" aria-label="Open Chat"></md-icon>
			</div>

		</md-list-item>
	</md-list>
	<md-toolbar>
		<div class="md-toolbar-tools">
		    <md-icon md-svg-src="/img/icons/action/svg/production/ic_event_18px.svg"></md-icon>
			<h2>Events</h2>
		</div>
	</md-toolbar>
	<md-list>
		<md-list-item ng-repeat="event in sidebar.events" class="sidebar-list" ng-click="$scope.do">

			<md-icon  md-svg-src="/img/icons/navigation/svg/production/ic_{{event.icon}}_18px.svg"></md-icon>

			<p ui-sref="app.event({id:event.record.id})" >{{ event.record.title }}</p>
				
		</md-list-item>
	</md-list>
</md-content>