<md-content flex role="navigation" ui-view="navigation">

<md-toolbar>
<h1 class="md-toolbar-tools">Motions</h1>
</md-toolbar>


<md-list>

	<md-list-item ng-repeat="motion in sidebar.motions" class="sidebar-list">
		<!-- how do we mark what they have read/not read? -->
		<md-icon md-svg-src="/img/icons/navigation/svg/production/ic_check_18px.svg"></md-icon>
		<p ui-sref="app.motion({id:motion.id})" >{{ motion.title }}</p>

		<md-icon md-svg-src="/img/icons/action/svg/production/ic_thumbs_up_down_24px.svg" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3"></md-icon>
	             <!-- 
	            md-svg-src="/img/icons/action/svg/production/ic_thumb_up_24px.svg" Have voted for
	            md-svg-src="/img/icons/action/svg/production/ic_thumb_down_24px.svg" Have voted against
	            md-svg-src="/img/icons/action/svg/production/ic_thumbs_up_down_24px.svg" Have abstained
	        -->
    </md-list-item>
</md-list>



<md-toolbar>
<h1 class="md-toolbar-tools">Events</h1>
</md-toolbar>

<div flex layout="column">
	<p>Will hard code these in for upcoming conference</p>
</div>

</md-content>