<md-card>
	<md-card-content layout-padding>
	<form name="createPageForm" ng-submit="createPageForm.$valid && create.save(create.form)">
					   
		<md-input-container style="width: 100%">
			<input placeholder="Page title" ng-model="create.form.title" required/>
		</md-input-container>
		
		<textarea alloy-editor id="create-page-editor" ng-model="create.form.content">
			<p>Click to start writing</p>
		</textarea>
					   
		<div layout="row">
			<spinner name="'Create'" form-name="createPageForm" on-hide="create.service.processing"></spinner>
			<md-button ng-click="create.cancel()">Cancel</md-button>
		</div>
	</md-card-content>
</md-card>