<md-fab-speed-dial has-permission="administrate-motion" class="md-scale fab-tool-animate" md-open="fab.isOpen" ng-mouseenter="fab.isOpen=true" ng-mouseleave="fab.isOpen=false" md-hover-full md-direction="down"
 style="position:fixed; right: 15px">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-primary">
      <md-icon class="mdi mdi-menu"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="Create" class="md-fab md-raised md-mini" ui-sref="create-page">
      <md-icon class="mdi mdi-plus" aria-label="Create"></md-icon>
    </md-button>
    <md-button aria-label="Edit" class="md-fab md-raised md-mini" ui-sref="edit-page({id:fab.pageObj.slug})">
      <md-icon class="mdi mdi-pencil" aria-label="Edit"></md-icon>
    </md-button>
    <md-button aria-label="Delete" class="md-fab md-raised md-mini md-warn" ng-click="fab.destroy()">
      <md-icon class="mdi mdi-delete" aria-label="Delete"></md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>