 <md-content layout="column">


  <md-card style="margin: 0">
    <md-card-content>
    
    <div ng-click="showCustomPages = !showCustomPages">
    <md-icon class="mdi mdi-file-multiple title-icon"></md-icon>
      <h3 class="title-header">Site</h3>
    </div>

      <div ng-if="showCustomPages" layout="column">

        <md-input-container>
          <label>Sitename</label> 
          <input type='text' ng-model='app.site.name'/>
        </md-input-container>

        <spinner ng-click="app.save('site')" name="'Save'" on-hide="app.settings.saving"></spinner>

      </div>
    </md-card-content>
  </md-card>



<!--     <md-input-container>
      <label>Theme</label>
      <md-select placeholder="Default" ng-model="app.themeSelect">
        <md-option value="default">Default</md-option> 
        <md-option value="custom">{{ app.theme.name === 'default' && 'Custom' || app.theme.name }}</md-option>
      </md-select>
    </md-input-container> -->


  <md-card style="margin:0">
    <md-card-content>

    <div ng-click="showColorPalette = !showColorPalette">
    <md-icon class="mdi mdi-palette title-icon"></md-icon>
      <h3 class="title-header">Color Palette</h3>
    </div>

    <div ng-if="showColorPalette" layout="column">

      <label>Warning Color</label>
      <div flex label="Warning Color" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="app.primary.warning" open-on-input="true"></div>


      <label>Primary Color</label>

      <div flex label="Hue 1" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="app.primary.hue_one" open-on-input="true"></div>
      <div flex label="Hue 2" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="app.primary.hue_two" open-on-input="true"></div>
      <div flex label="Hue 3" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="app.primary.hue_three" open-on-input="true"></div>
      

      <md-input-container flex>
        <label>Contrast</label>
          <md-select ng-model="app.primary.contrast" aria-label="Theme Primary Contrast">
            <md-option value="light">Light</md-option>
            <md-option value="dark">Dark</md-option>
          </md-select>
      </md-input-container>



      <label>Accent Color</label>
      <div flex label="Hue 1" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="app.accent.hue_one" open-on-input="true"></div>
      <div flex label="Hue 2" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="app.accent.hue_two" open-on-input="true"></div>
      <div flex label="Hue 3" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="app.accent.hue_three" open-on-input="true"></div>
      <md-input-container flex>
        <label>Contrast</label>
          <md-select ng-model="app.accent.contrast" aria-label="Theme Accent Contrast">
            <md-option value="light">Light</md-option>
            <md-option value="dark">Dark</md-option>
          </md-select>
      </md-input-container>

      <spinner ng-click="app.save('palette')" name="'Save'" on-hide="app.settings.saving"></spinner>
    </div>

      </md-card-content>
  </md-card>



 <!--    <p>For best quality, upload a SVG file.</p>

    <div flow-init="{target: '/file', testChunks:false}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="app.logo = $message">
      <md-button flow-btn>Upload logo</md-button>
      <img style="max-width: 100px; height: auto;" flow-img="$flow.files[0]" />
    </div>

    <div flow-init="{target: '/file', testChunks:false}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="app.favicon = $message">
      <md-button flow-btn>Upload favicon</md-button>
      <img style="max-width: 100px; height: auto;" flow-img="$flow.files[0]" />
    </div>

 -->

</md-content>