APP_ENV=local
APP_DEBUG=true
APP_BOUNCER=true
APP_KEY="run 'php artisan key:generate' to set this"
APP_NAME="IserveU Deployment"
APP_LIVERELOAD=false

DEBUGBAR_ENABLED=true

DB_HOST=localhost
DB_DATABASE=iserveu
DB_USERNAME=iserveu
DB_PASSWORD=iserveu

CACHE_DRIVER=array
SESSION_DRIVER=file
QUEUE_DRIVER=sync
QUEUE_NAME=isu
CACHE_PREFIX=isu

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=25
MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_FROM_ADDRESS=no.reply@address.ca
MAIL_FROM_NAME="My IserveU Install"

TIMEZONE=America/Yellowknife
URL=http://localhost

SENTRY_DSN=https://XXXXXXXXXXXXXXXXXX:XXXXXXXXXXXXXXXXXX@sentry.io/160800
SENTRY_PUBLIC_DSN=https://XXXXXXXXXXXXXXXXXX@sentry.io/160800