APP_ENV=production
APP_DEBUG=false
APP_KEY=RANDOMSTRING
APP_NAME="APP_NAME"
APP_LIVERELOAD=false

DB_HOST=MYSQL_HOST
DB_DATABASE=MYSQL_DB
DB_USERNAME=MYSQL_USER
DB_PASSWORD=MYSQL_PASS

CACHE_DRIVER=redis
SESSION_DRIVER=file
QUEUE_DRIVER=sync
QUEUE_NAME=local

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=25
MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_FROM_ADDRESS=no.reply@address.ca
MAIL_FROM_NAME="My IserveU Install"

TIMEZONE=America/Yellowknife
URL=http://localhost
