/vendor
/node_modules
/public/css/*
/public/js/*
/public/themes/*
/public/build/*
/public/icons/*
/public/fonts/*
/resources/bower/*
/storage/logs/*

.idea

_ide_helper.php
npm-debug.log
.env
.DS_Store
codeception.yml
tests/_output/*
.DS_Store
