var HtmlScreenshotReporter = require("protractor-jasmine2-screenshot-reporter");
var JasmineReporters = require('jasmine-reporters');
var defaultConfig = require('./tests/e2e/config.json');

exports.config = {

    suites: defaultConfig.suites,

    capabilities: {
        'browserName': 'chrome'
    },


    baseUrl: 'http://iserveu.local/', // change this to your local

    // anything you'd need to be user specific in tests
    params: {
        login: {
            username: 'YOUR_USERNAME',
            password: 'YOUR_PASSWORD'
        }
    },


    framework: 'jasmine2',

    jasmineNodeOpts: {
        showColors: true,
        defaultTimeoutInterval: 30000,
        realtimeFailure: true
    },

   onPrepare: function() {
        browser.driver.manage().window().maximize();
        
        var disableNgAnimate = function() {
            angular
                .module('disableNgAnimate', [])
                .run(['$animate', function($animate) {
                    $animate.enabled(false);
                }]);
        };

        var disableCssAnimate = function() {
            angular
                .module('disableCssAnimate', [])
                .run(function() {
                    var style = document.createElement('style');
                    style.type = 'text/css';
                    style.innerHTML = '* {' +
                        '-webkit-transition: none !important;' +
                        '-moz-transition: none !important' +
                        '-o-transition: none !important' +
                        '-ms-transition: none !important' +
                        'transition: none !important' +
                        '}';
                    document.getElementsByTagName('head')[0].appendChild(style);
                });
        };

        browser.addMockModule('disableNgAnimate', disableNgAnimate);
        browser.addMockModule('disableCssAnimate', disableCssAnimate);

    },

};
