<div ng-controller="loginController as login">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
  <div class="popover-content">
  	<form name="loginPopoverForm">
  	  <p ng-show="login.loginError === true" style="color: red;">Incorrect email or password</p>
  	  <div class="form-group">
  		<input class="form-control" type="text" placeholder="Username or Email" ng-model="login.email" />
  	  </div>
  	  <div class="form-group">
  	  	<input class="form-control"type="password" placeholder="Password" ng-model="login.password" />
  	  </div>  		  	
	  <div class="form-actions">
	  	<button class="btn btn-sm btn-primary" ng-click="login.logUserIn(login.email, login.password)">Login</button>
	  	<button class="btn btn-sm btn-danger" ng-click="$hide()">Close</button>
	  </div>
  	</form>
  </div>  
</div>