<div  layout-align="center center" layout-fill  layout="row">
  <div flex-sm="100" flex="30">
      <div flex="100" layout-align="center center" layout-padding>
       <img class="logo" src="/themes/default/logo/logo.png"/>
      </div>
    <md-content class="md-whiteframe-z5 loginbox" layout-padding layout-wrap layout="row" >
  
      <div flex="100">
        <form name="loginform" id="loginform" ng-hide="login.registerform" novalidate>
          <md-input-container flex>
            <label>Email</label>
            <input type="email" label="email" name="email" ng-model="login.email" required>
          </md-input-container>
          <md-input-container flex>
            <label>Password</label>
            <input type="password" name="password" ng-model="login.password" required>
            <div ng-messages="loginform.password.$error" ng-if="login.loginError">  
              <div ng-message="">Password and email combination incorrect.</div>
            </div>
          </md-input-container>
          <md-button type="submit" name="login"class="btn btn-primary" ng-click="login.login()">Login</md-button>
          <md-button class="btn btn-primary" name="creationextend" ng-click="login.extendregister()">Create</md-button>
          
          <md-button ng-show="login.loginError"ng-click="login.forgotPassword()">Forgot password</md-button>
         
        </form>
        
        <!-- extends when Create is pressed -->
        <form name="registerform" ng-if="login.registerform" novalidate>
          <md-input-container flex>
            <label>First Name</label>
            <input type="name" name="firstname" ng-model="login.first_name" required>
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input type="name" name="lastname" ng-model="login.last_name" required>
          </md-input-container>
          <md-input-container flex>
            <label>Email</label>
            <input type="email" name="newemail" ng-model="login.email" required>
            <div ng-messages="registerform.email.$error" ng-if="login.emailValidation">
              <div ng-message>This email is already registered on the site!</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Password</label>
            <input minlength="8" type="password" name="newpassword" ng-model="login.password"  required="">
            <div ng-messages="registerform.password.$error" ng-if="registerform.password.$error.minlength"> 
              <div ng-message>Password must be more than 8 characters long.</div>
            </div>
          </md-input-container>
          <md-button type="submit" name="create" class="btn btn-primary" ng-click="login.createUser()">Create</md-button>
          <md-button class="btn btn-primary" name="createcancel" ng-click="login.extendregister();">Cancel</md-button>
        </form>
      </div>
    </md-content>
  </div>
</div>
