<md-toolbar class="md-whiteframe-glow-z2">
	<div class="md-toolbar-tools docs-toolbar-tools" ng-click="openMenu()" tabIndex="-1">
	    <md-button class="md-icon-button" ng-click="toggleSidebar()" hide-gt-sm aria-label="Toggle Menu">
	    	<md-icon md-svg-src="/img/icons/navigation/svg/production/ic_menu_18px.svg"></md-icon>
	    </md-button>
	    <div layout="row" flex class="fill-height">
	        <h2>
	        Event : {{event.eventDetail.title}}
	        </h2>
	        <span flex></span> <!-- use up the empty space -->
	    </div>

	    <div ng-controller="userBarController as login">
         	<div class="md-toolbar-item docs-tools" layout="column" layout-gt-md="row" >
	            <md-button ng-show="userIsLoggedIn === true" href="/auth/logout" >Logout</md-button> <!--ng-click="login.logUserOut()"-->
	            <md-button ng-show="userIsLoggedIn === true" ui-sref="profile" ng-click="toggleRight()">{{currentUser.first_name}}</md-button>
	            <md-button ng-show="userIsLoggedIn === false" ng-click="toggleUserbar()">Login</md-button>
        	</div>
    	</div>
	</div>
</md-toolbar>
<md-content id="maincontent" layout="row" class="event_page" layout-wrap style="background-image: url('/img/photos/banner/01.jpg');">

	<div flex="100" flex-sm="100" flex-order-sm="2"  layout="row" layout-padding >
  		<section class="md-whiteframe-z1" layout-fill>
		  		<md-toolbar class="section-toolbar">
	        		<div class="md-toolbar-tools">
	          			<h3>Details</h3>
	              	</div>
				</md-toolbar>

  		<div ng-bind-html="event.eventDetail.text" layout-padding></div>
		</section>
	</div>



	<div ng-show='event.eventDetail.motions.length > 0' flex="100" flex-sm="100" flex-order-sm="2"  layout="row" layout-padding  >

		<section class="md-whiteframe-z1" layout-fill>
		  	<md-toolbar class="section-toolbar">
	        	<div class="md-toolbar-tools">
	        		<h3>Related Motions</h3>
	           	</div>
			</md-toolbar>
  			<div layout="row">
  				<div ng-repeat="motion in event.eventDetail.motions" flex="33" layout-padding>
  					<h3 class="md-headline">{{motion.title}}</h3>
  					<p class="md-body-1">{{motion.summary}}</p>
					<md-button ui-sref="app.motion({id:motion.id})" class="md-icon-button" aria-label="View Motion">
						<md-icon style="width:100%" md-svg-src="/img/icons/action/svg/production/ic_pageview_24px.svg"></md-icon>
					</md-button>
  					
  				</div>
  			</div>
		</section>	
	</div>
</md-content>

