<md-card>
	<md-card-content layout="column" layout-padding>


	<div>
	<md-icon class="mdi mdi-account-circle title-icon"></md-icon>
			<h3 class="title-header">Name</h3>
	</div>

	<div>
	<md-icon class="mdi mdi-email title-icon"></md-icon>
			<h3 class="title-header">Email</h3>
	</div>


	<div>
	<md-icon class="mdi mdi-home title-icon"></md-icon>
			<h3 class="title-header">Address</h3>
	</div>

	<div>
	<md-icon class="mdi mdi-cake title-icon"></md-icon>
			<h3 class="title-header">Birthday</h3>
	</div>

	<div>
	<md-icon class="mdi mdi-human title-icon"></md-icon>
			<h3 class="title-header">Ethnicity</h3>
	</div>

	<div>
	<md-icon class="mdi mdi-account-key title-icon"></md-icon>
			<h3 class="title-header">Change Password</h3>
	</div>

	</md-card-content>
</md-card>