 <md-list ng-cloak flex>
      <md-subheader class="md-no-sticky">Content</md-subheader>
        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Site Name</h3>
            <h4>{{ settingsGlobal.site.name }}</h4>  <!-- help -->
            <p>*Name of your site. Displays at the top of the browser name.</p>
          </div>
          <md-button class="md-icon-button md-secondary">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Social Media Links</h3>
            <div>
              <ul style="list-style-type: none;">
                <li><md-icon class="mdi mdi-twitter"></md-icon>Twitter</li>
                <li><md-icon class="mdi mdi-facebook"></md-icon>Facebook</li>
                <li><md-icon class="mdi mdi-home"></md-icon>Homepage</li>
              </ul>
            </div>
          </div>
          <md-button class="md-icon-button md-secondary">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Terms & Conditions</h3>
            <h4>{{ settingsGlobal.site.terms | limitTo: 255 }} ...</h4>  <!-- ellispises off at a certain ## -->
          </div>
          <md-button class="md-icon-button md-secondary">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-subheader class="md-no-sticky">Appearance</md-subheader>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Logo & favicon</h3>
            <h4><md-icon md-svg-src="/themes/{{::themename}}/logo/symbol_mono.svg"></md-icon></h4>
            <p>* Your organization's logo. Displays in the corner.</p>
          </div>

          <md-button class="md-icon-button md-secondary">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Login image</h3>
            <h4>IserveU</h4>  <!-- help -->
            <p>*Name of your site. Displays at the top of the browser name.</p>
          </div>
          <md-button class="md-icon-button md-secondary">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Background Image</h3>
            <h4>IserveU</h4>  <!-- help -->
            <p>*Name of your site. Displays at the top of the browser name.</p>
          </div>
          <md-button class="md-icon-button md-secondary">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Theme</h3>
            <h4>IserveU</h4>  <!-- help -->
            <p>*Name of your site. Displays at the top of the browser name.</p>
          </div>
          <md-button class="md-icon-button md-secondary">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>

        <md-divider></md-divider>

      <md-subheader class="md-no-sticky">Language</md-subheader>
      <md-list-item class="md-2-line" flex></md-list-item>
  </md-list>