<md-content>
  <md-card>
    <md-card-content>



      <md-list ng-cloak flex style="padding-top: 0;">
        <md-subheader class="md-no-sticky">Content</md-subheader>
        <md-list-item ng-repeat="item in content.ContentSettings.options" class="md-2-line" flex>
          <md-icon class="mdi {{ item.icon }}"></md-icon>
          <div class="md-list-item-text" ng-hide="item.edit">
            <h3>{{ item.label }}</h3>
            <p>{{ item.value }}</p>
          </div>

          <div class="md-list-item-text" ng-show="item.edit" ng-switch="item.label" flex>
            <div ng-switch-when="Site Name" edit-site-name-field></div>
            <div ng-switch-when="Social Media" edit-social-media-field></div>
            <div ng-switch-when="Terms and Conditions" edit-password-field></div>
          </div>

          <md-button class="md-icon-button md-secondary" name="{{ item.label | lowercase }}" ng-click="item.edit = !item.edit" ng-hide="item.edit">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>

          <md-button class="md-secondary" ng-show="item.edit" ng-disabled="item.form.$invalid" type="submit" ng-click="saveField($event, item)">
            <span ng-hide="item.saving">Save</span>
            <md-icon md-svg-src="loading" ng-show="item.saving"></md-icon>
          </md-button>
          <md-button class="md-secondary" ng-show="item.edit" ng-click="item.edit = !item.edit">Cancel</md-button>
          
        </md-list-item>

 <!-- old code -->

      <md-subheader class="md-no-sticky">Content</md-subheader>
        <md-list-item class="md-3-line" flex layout-padding>

          <div class="md-list-item-text" ng-hide="contentManager.showSitename">
            <h3>Site Name</h3>
            <h4>{{ settingsGlobal.site.name }}</h4>  <!-- help -->
            <p>*Name of your site. Displays at the top of the browser name.</p>
          </div>

          <div ng-if="contentManager.showSitename">
            <md-input-container>
            <label>Site name</label>
              <input type="text" ng-model="settingsGlobal.site.name">
            </md-input-container>

            <spinner ng-click="contentManager.service.saveTypeOf('site.name', settingsGlobal.site.name)" name="'Save'" on-hide="contentManager.service.data.saving" on-loaded="contentManager.toggleSitename();"></spinner>
          </div>

          <md-button class="md-icon-button md-secondary" ng-click="contentManager.toggleSitename();">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>

        </md-list-item>


        <md-divider></md-divider>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Social Media Links</h3>
            <div class="md-list-item-text md-inset" ng-hide="contentManager.showSocialmedia">
              <ul style="list-style-type: none; padding: 0;">
                <li><md-icon class="mdi mdi-home" style="margin: 0 5px 5px 0;"></md-icon>Homepage</li>
                <li><p class="md-caption">{{ settingsGlobal.site.address}}</p></li>
                <li><md-icon class="mdi mdi-twitter" style="margin: 0 5px 5px 0;"></md-icon>Twitter</li>
                <li><p class="md-caption">{{ settingsGlobal.site.twitter}}</p></li>
                <li><md-icon class="mdi mdi-facebook" style="margin: 0 5px 5px 0;"></md-icon>Facebook</li>
                <li><p class="md-caption">{{ settingsGlobal.site.facebook}}</p></li>
              </ul>
            </div>
            <div layout="column" ng-if="contentManager.showSocialmedia">
              <md-input-container>
                <label>Homepage</label>
                <input type="url" ng-model="settingsGlobal.site.address" format-http>
              </md-input-container>
              <md-input-container>
                <label>Twitter</label>
                <input type="url" ng-model="settingsGlobal.site.twitter" format-http>
              </md-input-container>
              <md-input-container>
                <label>Facebook</label>
                <input type="url" ng-model="settingsGlobal.site.facebook" format-http>
              </md-input-container>

              <spinner ng-click="contentManager.saveSocialMedia();" name="'Save'" on-hide="contentManager.service.data.saving" on-loaded="contentManager.toggleSocialmedia();"></spinner>
              <md-button ng-click="contentManager.toggleSocialmedia();">
                Cancel
              </md-button>
            </div>
          </div>
          <md-button class="md-icon-button md-secondary" ng-click="contentManager.toggleSocialmedia();">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>



        <md-divider></md-divider>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text" ng-hide="contentManager.showTerms">
            <h3>Terms & Conditions</h3>
            <h4 ng-bind-html="settingsGlobal.site.terms | limitTo: 255">...</h4>  <!-- ellispises off at a certain ## -->
          </div>
          <div ng-if="contentManager.showTerms" layout="column" flex>
            <textarea alloy-editor id="terms-conditions-editor" ng-model="settingsGlobal.site.terms"></textarea>
            <spinner ng-click="contentManager.service.saveTypeOf('site.terms', settingsGlobal.site.terms);" name="'Save'" on-hide="contentManager.service.data.saving" on-loaded="contentManager.toggleTerms();"></spinner>
          </div>
          <md-button class="md-icon-button md-secondary"  ng-click="contentManager.toggleTerms();">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>


        <md-subheader class="md-no-sticky">Appearance</md-subheader>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Logo & favicon</h3>
            <symbol-png resize-width="100"></symbol-png>
            <p>*Your organization's logo. Displays in the corner.</p>
          </div>

          <div layout="column" ng-show="contentManager.showFavicon">
            <isu-file-upload
                isu-bind-endpoint="/api/page/{{ contentManager.pageService.index[0].slug }}/file/symbol-png"
                isu-bind-files="contentManager.favicon"
                isu-patch-files="true"
                isu-on-success="contentManager.saveFavicon();">
            </isu-file-upload>
          </div>

          <md-button class="md-icon-button md-secondary"  ng-click="contentManager.toggleFavicon()">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Login image</h3>
            <logo-png resize-width="100" style="margin: 0 !important"></logo-png>
            <p>*Image displayed in the login screen.</p>
          </div>
          <div layout="column" ng-show="contentManager.showLoginImage">
            <isu-file-upload
                isu-bind-endpoint="/api/page/{{ contentManager.pageService.index[0].slug }}/file/logo-png"
                isu-bind-files="contentManager.loginImage"
                isu-patch-files="true"
                isu-on-success="contentManager.saveLoginImage();">
            </isu-file-upload>
          </div>
          <md-button class="md-icon-button md-secondary" ng-click="contentManager.toggleLoginImage()">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text">
            <h3>Background Image</h3>
            <p>*Background image for the site. Defaults to white.</p>
          </div>
          <md-button class="md-icon-button md-secondary" ng-click="contentManager.toggleBackground()">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>
        <div ng-if="contentManager.showBackground" layout="column" layout-padding>
            <md-input-container>
                <label>Image URL</label>
                <input ng-model="settingsGlobal.theme.background">
            </md-input-container>
            <div layout="row" layout-align="front center">
              <spinner ng-click="contentManager.service.saveTypeOf('theme.background', settingsGlobal.theme.background)"  name="'Save'" on-hide="contentManager.service.data.saving" on-loaded="contentManager.saveBackground(true);"></spinner>
              <md-button ng-show="contentManager.showBackground" ng-click="contentManager.showBackground();">Cancel</md-button>
            </div>
            <isu-file-upload
                isu-bind-endpoint="api/page/{{ contentManager.pageService.index[0].slug }}/file"
                isu-bind-files="contentManager.backgroundFiles"
                isu-existing-files="settingsGlobal.theme.background"
                isu-on-success="contentManager.saveBackground();"
              >
            </isu-file-upload>
        </div>

        <md-divider></md-divider>

        <md-list-item class="md-3-line" flex layout-padding>
          <div class="md-list-item-text" ng-hide="contentManager.showTheme">
            <h3>Theme</h3>
            <h4>{{ settingsGlobal.theme.name | capitalize }}</h4>  <!-- help -->
            <p>*Name of your theme, choose a preconfigured one or make your own.</p>
          </div>

          <div layout="column" ng-cloak class="md-padding" ng-if="contentManager.showTheme">

            <div layout-align="center center" layout="row">
              <md-button ng-click="contentManager.togglePalette('material');">
                Preset Palette
              </md-button>
              <md-button ng-click="contentManager.togglePalette('custom');">
                Customize your own
              </md-button>
            </div>

            <md-input-container>
              <label>Theme Name</label>
              <input type="text" ng-model="settingsGlobal.theme.name">
            </md-input-container>

            <div class="content-manager_theme--material-palette" ng-controller="ThemeDemoCtrl" ng-if="contentManager.palettes.material">
              <!-- Theme Options -->
              <div layout="row" layout-wrap layout-align="center center">
                <md-button ng-repeat="color in colors" flex-gt-md="15" flex="30"
                           md-colors="{background: '{{color}}'}" md-colors-watch="false"
                           ng-disabled="primary === color && !isPrimary" ng-click="selectTheme(color)">
                  {{color}}
                </md-button>
              </div>
              <!-- Theme Preview -->
              <div layout="row" class="section" layout-align="center center">
                <div layout="column" flex="50">
                  <theme-preview primary="primary" accent="accent"></theme-preview>
                </div>
              </div>
              <spinner ng-click="contentManager.saveMaterialPalette(primary, accent)" name="'Save'" on-hide="contentManager.service.data.saving" on-loaded="contentManager.togglePalette('material');"></spinner>
            </div>

            <div class="content-manager_theme--custom-palette" ng-if="contentManager.palettes.custom">
              <div class="palette-warning">
                <label>Warning Color</label>
                <div flex label="Warning Color" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="contentManager.palette.primary.warning" open-on-input="true"></div>
              </div>
              <div class="palette-colour-picker" layout="row">
                <div class="palette-primary" flex="30">
                  <label>Primary Color</label>
                  <div flex label="Hue 1" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="contentManager.palette.primary.hue_one" open-on-input="true"></div>
                  <div flex label="Hue 2" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="contentManager.palette.primary.hue_two" open-on-input="true"></div>
                  <div flex label="Hue 3" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="contentManager.palette.primary.hue_three" open-on-input="true"></div>

                  <md-input-container flex>
                    <label>Contrast</label>
                      <md-select ng-model="contentManager.palette.primary.contrast" aria-label="Theme Primary Contrast">
                        <md-option value="light">Light</md-option>
                        <md-option value="dark">Dark</md-option>
                      </md-select>
                  </md-input-container>
                  <spinner ng-click="contentManager.service.saveTypeOf('palette', contentManager.palette)" name="'Save'" on-hide="contentManager.service.data.saving"></spinner>

                </div>

                <div flex="30"></div>

                <div class="palette-accent" flex="30">
                  <label>Accent Color</label>
                  <div flex label="Hue 1" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="contentManager.palette.accent.hue_one" open-on-input="true"></div>
                  <div flex label="Hue 2" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="contentManager.palette.accent.hue_two" open-on-input="true"></div>
                  <div flex label="Hue 3" md-color-picker has-backdrop="true" click-outside-to-close="true" ng-model="contentManager.palette.accent.hue_three" open-on-input="true"></div>

                  <md-input-container flex>
                    <label>Contrast</label>
                      <md-select ng-model="contentManager.palette.accent.contrast" aria-label="Theme Accent Contrast">
                        <md-option value="light">Light</md-option>
                        <md-option value="dark">Dark</md-option>
                      </md-select>
                  </md-input-container>
                </div>
              </div>
            </div>

          <md-button class="md-icon-button md-secondary" ng-click="contentManager.toggleTheme();">
            <md-icon class="mdi mdi-pencil"></md-icon>
          </md-button>
        </md-list-item>

  </md-list>
  </md-card-content>
</md-card>
</md-content>

