<div class="home" ng-cloak layout layout-wrap flex>


<home-fab></home-fab>

  <div layout="column" layout-gt-xs="column" layout-md="column" layout-lg="column" layout-gt-lg="row" flex="100" flex-gt-xs="90" flex-md="90" flex-lg="90" style="margin: auto">

    <home-introduction layout flex="50"></home-introduction>

    <div layout layout="column" flex="50">
      <top-motions layout flex="50"></top-motions>
      <top-comments layout flex="50"></top-comments>
    </div>

  </div>


  <div layout-gt-md="row" layout-gt-xs="column" flex="100" flex-xs="100" flex-gt-xs="90" flex-md="90" flex-lg="90" style="margin: auto" layout-wrap ng-if="userIsLoggedIn && authenticatedUser"> 

    <my-comments layout flex></my-comments>
    <my-votes layout flex></my-votes>

  </div>

</div>