<div class="home" ng-cloak layout-wrap flex>

  <floating-button has-permission="administrate-motion"
    init-buttons="['edit']"
    on-edit="homePage.edit(home)">
  </floating-button>

  <div flex layout-gt-md="row" layout="column">

    <div flex="100" style="-webkit-flex: 1 0 auto !important; flex: 1 0 auto !important;" flex-gt-md="50" flex-order="0">
      <home-introduction></home-introduction>
      <span ng-if="userIsLoggedIn && authenticatedUser" flex>
        <my-comments ng-if="settingsGlobal.comment.on"></my-comments>
        <my-votes ng-if="settingsGlobal.voting.on"></my-votes>
      </span>
    </div>


    <div flex="1--" style="-webkit-flex: 1 0 auto !important; flex: 1 0 auto !important;" flex-gt-md="50" flex-order="1">
      <top-motions></top-motions>
      <top-comments ng-if="settingsGlobal.comment.on"></top-comments>
    </div>

  </div>

</div>