<div class="home">



  <div layout="row" flex="100" layout-sm="column" layout-wrap>
    <md-card flex>
      <md-card-content>
            <md-icon md-svg-src="/themes/{{themename}}/logo/symbol_onlight.svg" style="display:inline-block; left: 3px; position: relative; bottom: 5px; width: 18px; margin: 3px;"></md-icon>
        <h3 class="title-header">Welcome to IserveU</h3>
        <div layout-padding>
          <p class="md-body-1">{ Introduction Message, subtle link to change their profile. Also do not show once their credentials have been verified. }</p>
          <md-button layout-align="center" class="md-raised">Got it!</md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>





  <div layout="row" flex="100" layout-sm="column" layout-wrap>
    <md-card flex>
      <md-card-content> 
          <md-icon class="mdi mdi-chart-areaspline title-icon"></md-icon>
          <h3 class="title-header">Top Motions</h3>
            <md-list layout-padding>
              <md-list-item ng-if="home.topMotion" ui-sref="motion({id:home.topMotion.id})">
                <p class="md-body-1">{{home.topMotion.title}}</p>
                <md-button class="md-icon-button" aria-label="topMotionRedirect" ui-sref="motion({id:home.topMotion.id})">
                  <md-icon class="mdi" layout-align="end"md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
                </md-button>
              </md-list-item>
              <p ng-if="home.empty.topmotion" ng-cloak class="md-body-1">There are no passing motions.</p>
            </md-list>  
      </md-card-content>
    </md-card>


    <md-card flex>
      <md-card-content>
        <md-icon class="mdi mdi-playlist-minus title-icon"></md-icon>
        <h3 class="title-header">Top Comments</h3>
          <md-list layout-padding>
            <div  ng-if="home.topComments" ng-repeat="comment in home.topComments">

            <md-list-item ui-sref-active="active" ui-sref="motion({id:comment[0].vote.motion_id})">
              <p class="md-body-1">{{comment[0].text | limitTo: 120}}{{comment.text[0].length > 120 ? '...' : ''}}</p>

              <span style="color:green;">{{ (comment[0].commentRank > 0) ? '+' + comment[0].commentRank : '0'}}</span>
              <md-button class="md-icon-button"  aria-label="topCommentRedirect" ui-sref="motion({id:comment[0].vote.motion_id})">
                <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
              </md-button>

            </md-list-item>

              <md-divider></md-divider>

            <md-list-item class="md-caption" layout-align="end">
              <span ng-show="comment[0].user.public">{{'BY' | translate}}{{comment[0].user.first_name + ' ' + comment[0].user.last_name}}</span>
              <span ng-hide="comment[0].user.public">{{'BY_A' | translate}}</span>
            </md-list-item>
            </div>
           <p ng-show="home.empty.topcomment" ng-cloak class="md-body-1">There aren't any top comments. </p>
          </md-list>

      </md-card-content>
    </md-card>

  </div>


  <div layout="row" flex="100" layout-sm="column" layout-wrap>

    <md-card flex>
      <md-card-content>
        <md-icon class="mdi mdi-comment-text-outline title-icon"></md-icon>
        <h3 class="title-header">Your comments</h3>
          <md-list layout-padding ng-if="!home.empty.mycomments" ng-repeat="comment in home.myComments | limitTo: 5">
            <md-list-item ui-sref-active="active"  ui-sref="motion({id:comment.vote.motion_id})" >
              <p class="md-body-1">{{comment.text | limitTo: 120}}</p>
              <md-button class="md-icon-button" aria-label="yourCommentRedirect" ui-sref="motion({id:comment.vote.motion_id})">
                <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
              </md-button>
            </md-list-item>
          <md-divider ng-if="!$last"></md-divider>
          </md-list>

          <md-list layout-padding ng-if="home.empty.mycomments" ng-cloak>
            <p class="md-body-1">You don't have any comments.</p>
          </md-list>

      </md-card-content>
    </md-card>

    <md-card flex>
      <md-card-content>
        
        <md-icon class="mdi mdi-checkbox-marked-circle-outline title-icon"></md-icon>
        <h3 class="title-header">Your votes</h3>


      <md-list layout-padding ng-if="!home.empty.myvotes" ng-repeat="vote in home.myVotes">
      <md-list-item ui-sref-active="active"  ui-sref="motion({id:vote.motion_id})">
       <span ng-switch="{{ vote.position }}">
          <md-icon ng-switch-when="1" class="md-primary" md-svg-src="/themes/{{::themename}}/icons/thumb-up.svg"></md-icon>
          <md-icon ng-switch-when="-1" md-svg-src="/themes/{{::themename}}/icons/thumb-down.svg"></md-icon>
          <md-icon ng-switch-when="0" md-svg-src="/themes/{{::themename}}/icons/thumbs-up-down.svg"></md-icon>
        </span>


      <p class="md-body-1">{{vote.motion.title}}</p>

          <md-button class="md-icon-button"  aria-label="yourVoteRedirect" ui-sref="motion({id:vote.motion_id})">
           <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
          </md-button>
        </md-list-item>

        <md-divider ng-if="!$last"></md-divider>
        </md-list>


          <md-list layout-padding ng-if="home.empty.mycomments" ng-cloak>
            <p class="md-body-1">You don't have any votes.</p>
          </md-list>


      </md-card-content>
    </md-card>

  </div>




</div>