<div class="home" ng-cloak ng-controller="CommonController as common">

<home-fab></home-fab>

  <div layout="row" flex="100" layout-sm="column" layout-wrap>
    <md-card flex>
      <md-card-content>
            <md-icon md-svg-src="{{ home.settings.home.introduction.icon }}" style="display:inline-block; left: 3px; position: relative; bottom: 5px; width: 18px; margin: 3px;"></md-icon>
        <h3 class="title-header"> {{ home.settings.home.introduction.title }} </h3>
        <div>
          <p class="md-body-1" ta-bind ng-model="home.settings.home.introduction.text"></p>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" flex layout-sm="column" layout-wrap>
    <md-card flex ng-if="common.settings.home.widgets.top_motions || common.settings.module.motions">
      <md-card-content flex> 
          <md-icon class="mdi mdi-chart-areaspline title-icon"></md-icon>
          <h3 class="title-header">Top {{ 'MOTIONS' | translate }}</h3>

            <md-progress-circular md-mode="indeterminate" ng-if="home.loading.topmotion"></md-progress-circular>

            <md-list ng-if="!home.loading.topmotion">
              <md-list-item ng-if="home.topMotion" ui-sref="motion({id:home.topMotion.id})">
                <p class="md-body-1">{{home.topMotion.title}}</p>
                <md-button class="md-icon-button" aria-label="topMotionRedirect" ui-sref="motion({id:home.topMotion.id})">
                  <md-icon class="mdi" layout-align="end"md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
                </md-button>
              </md-list-item>
              <p ng-if="home.empty.topmotion" ng-cloak class="md-body-1">There are no big ideas right now.</p>
            </md-list>  
      </md-card-content>
    </md-card>

    <md-card flex ng-if="common.settings.home.widgets.top_comments || common.settings.module.comments">
      <md-card-content>
        <md-icon class="mdi mdi-playlist-minus title-icon"></md-icon>
        <h3 class="title-header">Top Comments</h3>

          <md-progress-circular md-mode="indeterminate"  ng-if="home.loading.topcomment"></md-progress-circular>


          <md-list ng-if="!home.loading.topcomment">
            <div  ng-if="home.topComments" ng-repeat="comment in home.topComments">

            <md-list-item ui-sref-active="active" ui-sref="motion({id:comment[0].vote.motion_id})">
              <p class="md-body-1">{{comment[0].text | limitTo: 120}}{{comment.text[0].length > 120 ? '...' : ''}}</p>

              <span style="color:green;">{{ (comment[0].commentRank > 0) ? '+' + comment[0].commentRank : '0'}}</span>
              <md-button class="md-icon-button"  aria-label="topCommentRedirect" ui-sref="motion({id:comment[0].vote.motion_id})">
                <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
              </md-button>

            </md-list-item>

              <md-divider></md-divider>

            <md-list-item class="md-caption" layout-align="end">
              <span ng-show="comment[0].user.public">{{'BY' | translate}}{{comment[0].user.first_name + ' ' + comment[0].user.last_name}}</span>
              <span ng-hide="comment[0].user.public">{{'BY_A' | translate}}</span>
            </md-list-item>
            </div>
           <p ng-show="home.empty.topcomment" ng-cloak class="md-body-1">There aren't any top comments. </p>
          </md-list>

      </md-card-content>
    </md-card>

  </div>


  <div layout="row" flex="100" layout-sm="column" layout-wrap> 

    <md-card flex ng-if="common.settings.home.widgets.your_comments || common.settings.module.comments">
      <md-card-content>
        <md-icon class="mdi mdi-comment-text-outline title-icon"></md-icon>
        <h3 class="title-header">Your comments</h3>

        <md-progress-circular md-mode="indeterminate" ng-if="home.loading.mycomments"></md-progress-circular>

        <div ng-if="!home.loading.mycomments">
          <md-list ng-if="!home.empty.mycomments" ng-repeat="comment in home.myComments | limitTo: 5">
            <md-list-item ui-sref-active="active"  ui-sref="motion({id:comment.vote.motion_id})" >
              <p class="md-body-1">{{comment.text | limitTo: 120}}</p>
              <md-button class="md-icon-button" aria-label="yourCommentRedirect" ui-sref="motion({id:comment.vote.motion_id})">
                <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
              </md-button>
            </md-list-item>
          <md-divider ng-if="!$last"></md-divider>
          </md-list>

          <md-list ng-if="home.empty.mycomments" ng-cloak>
            <p class="md-body-1">You haven't commented on anything, yet.</p>
          </md-list>
        </div>
      </md-card-content>
    </md-card>

    <md-card flex ng-if="common.settings.home.widgets.your_votes || common.settings.module.voting">
      <md-card-content>
        
        <md-icon class="mdi mdi-checkbox-marked-circle-outline title-icon"></md-icon>
        <h3 class="title-header">Your votes</h3>


        <md-progress-circular md-mode="indeterminate" ng-if="home.loading.myvotes"></md-progress-circular>

        <div ng-if="!home.loading.myvotes">
      <md-list ng-if="!home.empty.myvotes" ng-repeat="vote in home.myVotes">
      <md-list-item ui-sref-active="active"  ui-sref="motion({id:vote.motion_id})">
       <span ng-switch="{{ vote.position }}">
          <md-icon ng-switch-when="1" class="md-primary" md-svg-src="/themes/{{::themename}}/icons/thumb-up.svg"></md-icon>
          <md-icon ng-switch-when="-1" class="md-accent" md-svg-src="/themes/{{::themename}}/icons/thumb-down.svg"></md-icon>
          <md-icon ng-switch-when="0" md-svg-src="/themes/{{::themename}}/icons/thumbs-up-down.svg"></md-icon>
        </span>


      <p class="md-body-1">{{vote.motion.title}}</p>

          <md-button class="md-icon-button"  aria-label="yourVoteRedirect" ui-sref="motion({id:vote.motion_id})">
           <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
          </md-button>
        </md-list-item>

        <md-divider ng-if="!$last"></md-divider>
        </md-list>


          <md-list ng-if="home.empty.myvotes" ng-cloak>
            <p class="md-body-1">You haven't vote, yet.</p>
          </md-list>
        </div>

      </md-card-content>
    </md-card>

  </div>




</div>