<md-content id="maincontent" ng-if="userIsLoggedIn" layout="row" >
<div layout layout-md="column" layout-lg="column" layout-sm="column" >
  <div flex="90" flex-sm="100" flex-md="50"  flex-lg="100" flex-gt-lg="50" >

  <div>
    <section layout-margin class="md-whiteframe-z1">
      <md-toolbar class="section-toolbar">
        <div class="md-toolbar-tools">
          <h3 translate="{{'WELCOME'}}"></h3>
        </div>
      </md-toolbar>
      <div layout-padding>
        <p class="md-body-1">Welcome to the beta version of IserveU. Motions are being added to begin the shadow council. Check out the Introduction Motion to the left. It's really easy to get started.</p>
      </div> 
    </section>
  </div>

  <div style="margin-top: 17px;">
    <section layout-margin class="md-whiteframe-z1">
      <md-toolbar class="section-toolbar">
        <div class="md-toolbar-tools">
          <h3 translate="{{'CURRENTLY_PASSING'}}"></h3>
        </div>
      </md-toolbar>
      <md-list layout-padding>
        <md-list-item ng-if="home.topMotion" ui-sref="motion({id:home.topMotion.id})">
        <p class="md-body-1">{{home.topMotion.title}}</p>
         <md-button class="md-icon-button" aria-label="topMotionRedirect" ui-sref="motion({id:home.topMotion.id})">
        <md-icon class="mdi" layout-align="end"md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
        </md-button>
        </md-list-item>
        <p ng-if="home.empty.topmotion" ng-cloak class="md-body-1">There are no motions that are currently passing.</p>
      </md-list>    
    </section>
  </div>
  
  <div  style="margin-top: 17px;">
  <section layout-margin class="md-whiteframe-z1">
      <md-toolbar class="section-toolbar">
        <div class="md-toolbar-tools">
          <h3 translate="{{'TODAYS_TOP_COMMENTS'}}"></h3>
        </div>
      </md-toolbar>
      <md-list layout-padding>
      <div  ng-if="home.topComments" ng-repeat="comment in home.topComments">

      <md-list-item ui-sref-active="active" ui-sref="motion({id:comment[0].vote.motion_id})">
      <p class="md-body-1">{{comment[0].text | limitTo: 120}}{{comment.text[0].length > 120 ? '...' : ''}}</p>

      <span style="color:green;">{{ (comment[0].commentRank > 0) ? '+' + comment[0].commentRank : '0'}}</span>
      <md-button class="md-icon-button"  aria-label="topCommentRedirect" ui-sref="motion({id:comment[0].vote.motion_id})">
        <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
      </md-button>

      </md-list-item>
        <md-divider></md-divider>

        <md-list-item class="md-caption" layout-align="end">
        <span ng-show="comment[0].user.public">{{'BY' | translate}}{{comment[0].user.first_name + ' ' + comment[0].user.last_name}}</span>
        <span ng-hide="comment[0].user.public">{{'BY_A' | translate}}</span>
        </md-list-item>
      </div>
      <p ng-show="home.empty.topcomment" ng-cloak class="md-body-1">There isn't a top comment today. Give it a go.</p>
      </md-list>
    </section>
  </div>  
</div>



<div  flex="90" flex-sm="100" flex-md="50"  flex-lg="100" flex-gt-lg="50" >
    <section layout-margin class="md-whiteframe-z1">
      <md-toolbar class="section-toolbar">
        <div class="md-toolbar-tools">
          <h3 translate="{{'YOUR_VOTES'}}"></h3>
        </div>
      </md-toolbar>
      <md-list layout-padding ng-if="!home.empty.myvotes" ng-repeat="vote in home.myVotes">
      <md-list-item ui-sref-active="active"  ui-sref="motion({id:vote.motion_id})">
      <p class="md-body-1">{{vote.motion.title}}</p>
      <span ng-switch="{{ vote.position }}">
        <md-icon ng-switch-when="1" class="md-primary" md-svg-src="/themes/{{::themename}}/icons/thumb-up.svg"></md-icon>
        <md-icon ng-switch-when="-1" md-svg-src="/themes/{{::themename}}/icons/thumb-down.svg"></md-icon>
        <md-icon ng-switch-when="0" md-svg-src="/themes/{{::themename}}/icons/thumbs-up-down.svg"></md-icon>
      </span>
          <md-button class="md-icon-button"  aria-label="yourVoteRedirect" ui-sref="motion({id:vote.motion_id})">
           <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
          </md-button>
        </md-list-item>



        <md-divider></md-divider>
        </md-list>

      <md-list layout-padding ng-if="home.empty.myvotes" ng-cloak>
      <p class="md-body-1">You've yet to vote on anything.</p>
        </md-list>
    </section>

    <div style="margin-top: 17px;">
    <section layout-margin  class="md-whiteframe-z1" flex>
      <md-toolbar class="section-toolbar">
        <div class="md-toolbar-tools">
          <h3 translate="{{'YOUR_COMMENTS'}}"></h3>
        </div>
      </md-toolbar>
      <md-list layout-padding ng-if="!home.empty.mycomments" ng-repeat="comment in home.myComments | limitTo: 5">
      <md-list-item ui-sref-active="active"  ui-sref="motion({id:comment.vote.motion_id})" >
      <p class="md-body-1">{{comment.text | limitTo: 120}}</p>
      <md-button class="md-icon-button" aria-label="yourCommentRedirect" ui-sref="motion({id:comment.vote.motion_id})">
        <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
      </md-button>
      </md-list-item>


      <md-divider></md-divider>
      </md-list>

      <md-list layout-padding ng-if="home.empty.mycomments" ng-cloak>
      <p class="md-body-1">You haven't commented on anything. Why not get started?</p>
      </md-list>

    </section>
    </div>

</div>

</md-content>