<div class="home" ng-cloak layout-wrap flex>

  <floating-button has-permission="administrate-motion"
    init-buttons="['edit']"
    on-edit="homePage.edit()">
  </floating-button>


  <div flex layout="row" layout-sm="column" layout-xs="column">

    <div flex flex-lg="50" flex-order="0">
      <home-introduction></home-introduction>
      <span ng-if="userIsLoggedIn && authenticatedUser" flex>
        <!-- <my-comments></my-comments> -->
        <!-- <my-votes></my-votes> -->
      </span>
    </div>


    <div flex flex-lg="50" flex-order="1">
      <top-motions></top-motions>
      <top-comments></top-comments>
    </div>

  </div>

</div>