<div class="edit-motion-mode" flex="90" flex-sm="100" flex-order="2" flex-order-gt-sm="1" layout-padding style="padding:16px">
	<div flex>



		<fieldset>
			<legend class="md-headline">Introduction</legend>
			<textarea rows="4" class="md-body-1" ng-model="motion.motionDetail.summary" aria-label="motionSummary" flex></textarea>
		</fieldset>
		<fieldset>
			<legend class="md-headline">Details</legend>
			<text-angular class="text-angular md-body-1" ng-model="motion.motionDetail.text" name="text">
			</text-angular>
		</fieldset>

		<div ng-controller="CreateMotionController as create">
		<fieldset flex>
			<legend class="md-headline">Display</legend>
			<div layout layout-sm="column" layout-align="front end" layout-padding>
				<md-select ng-model="motion.motionDetail.department_id" name="departmentname" placeholder="{{motion.motionDetail.department_id}}" aria-label="select Department"><md-option ng-repeat="department in create.departments" ng-value="department.id">{{department.name}}</md-option></md-select>
				<md-input-container><label>Change the closing date</label><input convert-date type="date" aria-label="closing date to be edited" ng-model="motion.motionDetail.closing.carbon.date"/></md-input-container>
				<span style="width:50px"></span>
				<md-checkbox aria-label="Deactivate/Activate motion" ng-model="motion.motionDetail.active" ng-true-value="1" ng-false-value="0"><p class="md-body-1">Deactivate/Activate motion</p></md-checkbox>
			</div>
			<i class="md-caption" style="font-size:11px">While the motion is set to <strong>active</strong> it is up for discussion within city council. <strong>Unactive</strong> indicates to the user that they cannot to vote on the motion yet.</br>
				The <strong>closing date</strong> marks the end of the voting period. All votes will be given to the councilors.</i>
		</fieldset>		

		<fieldset>
		<legend class="md-subhead">Attachments</legend>
			<div  flow-init="" flow-files-submitted="motion.upload($flow)" layout layout-sm="column">
				<md-input-container>
					<md-icon class="mdi" md-font-icon="mdi-file-image-box" ></md-icon>
					<input aria-label="figures select" type="file" style="position:absolute"flow-btn/>
				</md-input-container>
				<span flex="15"></span>
				<md-input-container ng-repeat="file in $flow.files" layout-sm="column">
					<input  ng-model="file.name" name="file" ng-blur="create.newFigureTitle($flow, file.name, $index)" ng-minlength="8"></input>
						<div ng-messages="newmotionform.file.$error">  
							<div ng-message="minlength">Title must be 8 characters.</div>
						</div>
				</md-input-container>
			</div>

			<md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"md-row-height-gt-md="1:1" md-row-height="4:3">
				<md-grid-tile ng-class="{'overlay':motion.delete_motion_file[file.id].bool}" ng-repeat="file in motion.motion_files"
					md-colspan-sm="1">
					<md-grid-tile-header>
					<!-- <h3 ng-click="motion.show_title_change_name">{{file.filename}}</h3> -->
					<md-input-container style="font-size:13px; display:inline-block"><input ng-if="!file.title" ng-model="file.filename" ng-blur="motion.updateMotionFile(file.filename, motion.motionDetail.id, file.id)">
					<input ng-if="file.title" ng-model="file.title" ng-blur="motion.updateMotionFile(file.title, motion.motionDetail.id, file.id)">
					</md-input-container>
					</md-grid-tile-header>
					<a href="/uploads/motionfiles/{{::file.filename}}">
						<img ng-src="/uploads/motionfiles/{{::file.filename}}" />
					</a>
					<md-grid-tile-footer  style="padding-top: 12px;"><md-button ng-click="motion.deleteMotionFile(motion.delete_motion_file[file.id].bool, motion.motionDetail.id, file.id)"><md-icon class="mdi-small mdi-close"></md-icon><p class="md-caption">{{motion.delete_motion_file[file.id].bool ? 'Cancel' : 'Remove'}}</p></md-button></md-grid-tile-footer>

				</md-grid-tile>
			</md-grid-list>
		</fieldset>


		</div>


	<div layout layout-align="center end">
		<md-button ng-click="motion.updateMotion()">
		<div ng-hide="motion.editingMotion">Save Changes</div>
		<md-icon ng-show="motion.editingMotion" md-svg-icon="/themes/{{::themename}}/loading.svg"></md-icon>
	</md-button>
	<md-button ng-click="motion.editMotionSwitch()">Cancel</md-button>
	</div>

</div>
</div>