<section layout-margin layout="column" ng-class="{ 'loading' : !motion }" flex>

	<motion-fab-toolbar></motion-fab-toolbar>	

	<md-card flex>
		<md-card-content flex>

		<article id="motion" layout="row" layout-sm="column" flex="100">
			<div flex="90" flex-sm="100" flex-order="1" flex-order-gt-sm="1" layout-padding>
		
				<header>
					<h1 class="md-display-2">{{::motion.title}}</h1>
				</header>


				<!-- TODO: make into a component -->
				<div layout="row" layout-sm="column" layout-xs="column" flex="55" flex-sm="100" flex-xs="100" flex-md="75" flex-lg="100">
					<section ng-repeat="section in motion.sections" flex>

						<div class="budget" ng-show="section.type=='Budget'" flex-order="section.order" flex>
							<h3 class="title-header">Projected Costs</h3>
							<p>${{::section.content.price | number}}</p>
							<p>{{::section.content.description}}</p>
						</div>


						<div ng-show="section.type=='Profile'" flex="50" flex-sm="100" flex-xs="100" flex-order="section.order">
							<h3 class="title-header">Proposed by:</h3>
							<div class="bio" flex>
								<img file-id="{{::section.content.file_id}}" flex-order="0"/>
								<span flex-order="1">
									<p>{{::section.content.heading}}</p>
									<a href="{{::section.content.subheading}}" target="_blank">{{::section.content.subheading}}</a>
									<i>{{::section.content.description}}</i>
								</span>
							</div>
						</div>

					</section>
				</div>

				<section flex="100">
					<header ng-if="motion.text">
						<md-icon class="mdi mdi-file-document"></md-icon>
							<h3>Details</h3>
					</header>

					<div flex="55" flex-sm="100" flex-xs="100" flex-md="90" flex-lg="75">
						<p class="md-body-1" ng-bind-html="::motion.text | trustAsHtml"></p>
					</div>
					
				</section>

				<section ng-if="motion.motionFiles" flex="100">
					<header>
						<md-icon class="mdi mdi-chart-bar"></md-icon>
						<h3>Resources</h3>
					</header>

					<div flex ng-repeat="file in motion.motionFiles" layout-padding>
						<a ng-hide="file.isImage" ng-href="/uploads/{{::file.filename}}" ng-bind="(file.title ? file.title : file.filename)" download></a>
						<img ng-show="file.isImage" ng-src="/uploads/{{::file.filename}}" />
					</div>
				</section>


			</div>
	
			<motion-tiles flex="10" flex-sm="100" flex-order-sm="1" flex-order="2" flex-order-gt-sm="2" layout-margin></motion-tiles>

		</article>
		</md-card-content>
	</md-card>
		
	<motion-votes class="motionVotes" ng-show="motion.motionVotes"></motion-votes>
	<!-- rename styles below; else css selector on the element names -->
	<user-comment id="comment"></user-comment>
	<comment-list id="display-comments"></comment-list>

</section>