<md-toolbar id="userbar" class="md-whiteframe-glow-z1 site-content-toolbar" layout="row" layout-align="center center" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);" md-scroll-shrink>

    <md-toolbar-filler ng-class="settingsGlobal.module.motions?'motion-enabled flex':''" hide-xs hide-sm>
        <motion-toolbar-search></motion-toolbar-search>
    </md-toolbar-filler>

    <div hide-gt-lg hide-lg hide-gt-md hide-md>
        <md-button class="md-icon-button home-btn" aria-label="Home Button">
          <md-icon md-svg-src="/themes/{{::themename}}/logo/symbol_mono.svg"  ui-sref="home"></md-icon>
        </md-button>

        <button  class="main-nav-button md-button md-ink-ripple" style="margin:0; padding:0;" ng-click="user.toggleSidebar('left'); user.switchMenuButton()" aria-label="Toggle Sidebar">
          <div layout="row">
            {{ 'MOTIONS' | translate}} Bank
            <md-icon ng-class="user.menuButton?'mdi mdi-menu-up':'mdi mdi-menu-up go-up'"></md-icon>
          </div>
        </button>
    </div>

    <div ng-repeat="page in user.pageObj.index" hide-sm hide-xs>
        <button class="main-nav-button md-button md-ink-ripple" aria-label="Open new page" ui-sref="pages({id:page.slug})">
          {{ page.title }}
        </button>
    </div>

  <span flex></span>

  <div class="md-toolbar-item docs-tools" layout="column" layout-gt-md="row">
    <md-menu md-position-mode="target-right target">
        <md-button aria-label="User Menu" class="md-icon-button" ng-click="$mdOpenMenu()">
            <md-icon class="mdi ng-scope ng-isolate-scope md-default-theme cog" md-menu-origin md-font-icon="mdi-settings" ng-if="$mdMedia('gt-sm')"></md-icon>
            <md-icon class="mdi ng-scope ng-isolate-scope md-default-theme" md-menu-origin md-font-icon="mdi-menu" ng-if="!$mdMedia('gt-sm')"></md-icon>
        </md-button>
        <md-menu-content width="4">

            <span hide-gt-sm>

                <p class="md-body-2" layout-padding>Site Menu</p>

                <md-menu-item ng-repeat="page in user.pageObj.index">
                  <md-button aria-label="link to page"  ui-sref="pages({id:page.slug})">
                        <div layout="row">
                            <p flex>{{ page.title }}</p>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
            </span>

            <span ng-show="userIsLoggedIn">
                <md-menu-item ui-sref="edit-user({id:authenticatedUser.id})">
                    <md-button aria-label="go to your profile">
                        <div layout="row">
                            <p flex translate="{{'YOUR_PROFILE'}}"></p>
                            <md-icon class="mdi mdi-account-circle"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>

                <has-permission has-permission="create-motions">
                <md-menu-item ui-sref="dashboard">
                    <md-button aria-label="go to admin dashboard">
                        <div layout="row">
                            <p flex>Admin Dashboard</p>
                            <md-icon class="mdi mdi-view-dashboard"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
                </has-permission>

                <md-menu-item>
                    <md-button aria-label="logout" ng-click="user.logout()">
                        <div layout="row">
                            <p flex>{{ 'LOGOUT' | translate}} {{::authenticatedUser.first_name}}</p>
                            <md-icon class="mdi mdi-logout"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
            </span>

            <span ng-hide="userIsLoggedIn">
                <md-menu-item ui-sref="login">
                    <md-button aria-label="go to login">
                        <div layout="row">
                            <p flex>Login</p>
                            <md-icon class="mdi mdi-login"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
            </span>
            
        </md-menu-content>
    </md-menu>
  </div>

</md-toolbar>