<div  layout-align="center center" layout-fill  layout="row">
  <div flex-sm="70" flex="30">
      <div flex="100" layout-align="center center" layout-padding>
       <img class="logo" src="/themes/default/logo/logo.png"/>
      </div>
    <md-content class="md-whiteframe-z5 loginbox" layout-padding layout-wrap layout="row" >
  
      <div flex="100">
        <form name="loginform" id="loginform" ng-if="!login.registerform" novalidate layout="column">
          <md-input-container flex>
            <label>Email</label>
            <input type="email" label="email" name="email" ng-model="login.email" required>
              <div ng-messages="loginform.email.$error" ng-if="loginform.email.$dirty">
                <div ng-message="required">Email is required</div>
              </div>
              <div ng-messages="{email_warning:login.invalidEmail}">
                <div ng-message="email_warning">This email is not registered to the site.</div>
              </div>
          </md-input-container>
          <md-input-container flex>
            <label>Password</label>
            <input type="password" name="password" ng-model="login.password" required>
              <div ng-messages="loginform.password.$error">  
                <div ng-if="loginform.password.$dirty" ng-message="required">Password is required.</div>
              </div>
              <div ng-messages="{warning:login.invalidCredentials}">
                <div ng-message="warning">Password and email combination do not match.</div>
              </div>
          </md-input-container>


          <div layout="row" layout-align="center center" layout-padding style="padding-top:0px">



            <md-button type="submit" name="login" ng-click="login.login()">
              <loading-spinner check-if="{{login.loggingIn}}">
                <div>Login</div>
              </loading-spinner>
            </md-button>

            <md-button name="creationextend" ng-click="login.extendregister()">Create</md-button>
          </div>

          <div style="right:12px">
            <md-button ng-show="login.invalidCredentials" ng-click="login.sendResetPassword()">Forgot password</md-button>
          </div>

          <div layout-padding style="padding-top:0px" layout-align="end end">
            <md-checkbox style="margin:0px" class="md-secondary" ng-model="login.publicComputer" aria-label="Switch" ng-true-value="true" ng-false-value="false">Public Computer</md-checkbox>
          </div>

        </form>
        
        <!-- extends when Create is pressed -->
        <form name="registerform" ng-if="login.registerform" ng-submit="registerform.$valid && login.createUser()" novalidate layout="column" style='margin-bottom: 100px'>
          <md-input-container flex>
            <label>First Name</label>
            <input type="name" name="firstname" ng-model="login.first_name" required>
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input type="name" name="lastname" ng-model="login.last_name" required>
          </md-input-container>
          <md-input-container flex>
            <label>Email</label>
            <input type="email" name="newemail" ng-model="login.email" required>
            <div ng-messages="{warning:login.emailValidation}">
            <div ng-message="warning">This email is already being used on the site.</div>
            </div>
            <div ng-messages="registerform.newemail.$error" ng-if="registerform.newemail.$dirty">
            <div ng-message="email">Example: yourname@example.ca</div>
            <div ng-message="required">An email is required to register.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Confirm Email</label>
            <input type="email" name="confirmemail" ng-model="login.confirm_email" compare-to="login.email" required>
            <div ng-messages="registerform.confirmemail.$error" >
              <div ng-message="required" ng-if="registerform.newemail.$touched">Please confirm your email.</div>
              <div ng-message="compareTo">Your email does not match.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Password</label>
            <input ng-minlength="8" type="password" name="newpassword" ng-model="login.password"  required="">
            <div ng-messages="registerform.newpassword.$error"> 
              <div ng-message="minlength">Password must be more than 8 characters long.</div>
            </div>
          </md-input-container>
          <div layout="row" layout-align="center center" layout-padding>
          <md-button type="submit" name="create" terms-and-conditions ng-mousedown="ctrl.showTermsAndConditions($event, true)">
            <loading-spinner check-if="{{login.creatingUser}}">
              <div>Create</div>
            </loading-spinner>
          </md-button>            
          <md-button name="createcancel" ng-click="login.extendregister();">Cancel</md-button>
          </div>
          <div layout-padding>
            <md-checkbox style="margin:0px" class="md-secondary" ng-model="login.publicComputer" aria-label="Switch" ng-true-value="true" ng-false-value="false">Public Computer</md-checkbox>
          </div>
        </form>
      </div>
    </md-content>
  </div>
</div>
