<section layout-margin  id="edit-motion-mode">
	<md-card style="margin:0"flex >
		<md-card-content style="padding: 0">

		<fieldset>
			<legend class="md-headline" translate="{{'INTRODUCTION'}}"></legend>
			<textarea rows="4" class="md-body-1" ng-model="motion.motionDetail.summary" aria-label="motionSummary" flex></textarea>
		</fieldset>
		<fieldset>
			<legend class="md-headline" translate="{{'DETAILS'}}"></legend>
			<text-angular class="text-angular md-body-1" ng-model="motion.motionDetail.text" name="text">
			</text-angular>
		</fieldset>

		<div ng-controller="CreateMotionController as create">
		<fieldset flex>
			<legend class="md-headline">{{motion.motionDetail.active ? 'Department' : 'Display'}}</legend>
			<md-select ng-model="motion.motionDetail.department_id" placeholder="{{motion.motionDetail.department_id}}" aria-label="select Department">
				<md-option ng-repeat="department in create.departments" ng-value="department.id">{{department.name}}</md-option></md-select>
			<span ng-if="::!motion.motionDetail.active || motion.motionDetail.motionRank">
				<div layout layout-sm="column" layout-align="front end" layout-padding>
					<md-datepicker style="background-color:transparent; margin-left:-14px" ng-model="motion.motionDetail.closing.carbon.date" md-placeholder="Enter Closing Date"></md-datepicker>
					<span style="width:50px"></span>
					<md-checkbox aria-label="Activate motion" ng-model="motion.motionDetail.active" ng-true-value="1" ng-false-value="0"><p class="md-body-1" style="display:inline-block">Activate motion</p></md-checkbox>
				</div>
			<i class="md-caption" style="font-size:11px">While the motion is set to <strong>active</strong> it is up for discussion within city council. <strong>Unactive</strong> indicates to the user that they cannot to vote on the motion yet.</br>
				The <strong>closing date</strong> marks the end of the voting period. All votes will be given to the councilors.</i>
			</span>
		</fieldset>		
		</div>

		<fieldset><a id="attachments"></a>
		<legend class="md-subhead">Attachments</legend>
			<div class="file-upload-drag"
				 flow-init layout-sm="column" layout-padding 
		 	     flow-drop-enabled="true"
			     flow-drop 
			     flow-file-added="motion.validate($file, $index);">
				<span>
					<md-icon class="mdi" md-font-icon="mdi-file-image-box"></md-icon>
					<input id="file-btn" aria-label="attachment input" type="file" flow-btn/>
					<p class="md-body-1">Or drag and drop your files here</p>
				</span>

			    <md-input-container id="title-input" ng-repeat="file in motion.viewFiles" flex>
			    <md-icon class="mdi mdi-close close" ng-click="motion.deleteTempMotionFile(file); hideFile = true" ng-hide="hideFile"></md-icon>
			      <input type="text"  aria-label="attachment title textfield" press-enter="motion.changeTitleName(file)" ng-blur="motion.changeTitleName(file)" ng-model="file.name" ng-hide="hideFile"/>
			    </md-input-container>
		    
			    <md-input-container>
			      <div ng-messages="{uploadError:motion.uploadError}" ng-repeat="file in motion.errorFiles | limitTo:5">
			        <div ng-message="uploadError">
			           {{file.file.name}}:  {{file.error}}
			        </div>
			      </div>
			    </md-input-container>
			</div>

			<md-grid-list md-gutter="3px" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-row-height="4:3"  layout-padding>
				<md-grid-tile ng-class="{'overlay':motion.delete_motion_file[file.id].bool}" ng-repeat="file in motion.motion_files"md-colspan-sm="1">
					<md-grid-tile-header>
						<h3><textarea ng-model="file.title" ng-blur="motion.updateMotionFile(file)"></textarea></h3>
					</md-grid-tile-header>
					<a href="/uploads/motion_files/{{::file.filename}}">
						<img ng-src="/uploads/motion_files/{{::file.filename}}" />
					</a>
					<md-grid-tile-footer><md-button ng-click="motion.deleteOldMotionFile(motion.delete_motion_file[file.id].bool, motion.motionDetail.id, file.id)"><md-icon class="mdi-small mdi-close"></md-icon><p class="md-caption">{{ motion.delete_motion_file[file.id].bool ? ('CANCEL' | translate) : ('REMOVE' | translate) }}</p></md-button></md-grid-tile-footer>
				</md-grid-tile>
			</md-grid-list>

		</fieldset>


	<div layout layout-align="center end">
		<md-button ng-click="motion.updateMotion()">
		<div ng-hide="motion.editingMotion" translate="{{'SAVE_CHANGES'}}"></div>
		<md-icon ng-show="motion.editingMotion" md-svg-icon="/themes/{{::themename}}/loading.svg"></md-icon>
	</md-button>
	<md-button ng-click="motion.editMotionSwitch()" translate="{{'CANCEL'}}"></md-button>
	</div>


</md-card-content>
</md-card>
</section>