<section layout-margin layout="column" ng-class="motion.isLoading?'loading':''">

	<motion-fab-toolbar></motion-fab-toolbar>	

	<md-card flex>
		<md-card-content style="padding: 0">

		<div class="motion-contents" layout="row">
			<div flex="90" flex-sm="100" flex-order="2" flex-order-gt-sm="1" layout-padding>
				
				<md-icon class="mdi mdi-information-outline title-icon"></md-icon>
					<h3 class="title-header">Introduction</h3>
						<p class="md-body-1" ng-bind-html="::motion.details.summary" aria-label="motionSummary"></p>
				
				<md-icon class="mdi mdi-file-document title-icon"></md-icon>
					<h3 class="title-header">Details</h3>
						<p class="md-body-1" ng-bind-html="::motion.details.text"></p>

				<md-icon class="mdi mdi-chart-bar title-icon"></md-icon>
					<h3 class="title-header">Figures</h3>

				<div flex ng-repeat="file in motionFile.data">
					<a href="/uploads/{{file.filename}}" ng-bind="(file.title ? file.title : file.filename)" download></a>
					<!-- <img ng-if="file.image" ng-src="/uploads/motion_files/{{file.filename}}" /> -->
				</div>

			</div>
				
				<!-- TODO: make this into a directive -->
				<div flex="10" flex-sm="100" flex-order-sm="1" flex-order="1" flex-order-gt-sm="2" layout-padding>
					<div layout-padding class="listgrid">
					    <md-grid-list md-cols-sm="3" md-cols-md="1" md-cols-gt-md="1" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="16px">
					    
						    <md-grid-tile class="md-whiteframe-z1">
							    <md-icon md-svg-icon="/themes/{{::themename}}/icons/calendar-remove.svg" ng-if="!motion.details.MotionOpenForVoting" hide-sm>
							    	<md-tooltip md-direction="left">{{'CLOSED' | translate}}</md-tooltip>
							    </md-icon>

							    <md-icon ng-if="!motion.details.MotionOpenForVoting" md-svg-icon="/themes/{{::themename}}/icons/calendar-remove.svg" hide-md hide-gt-md>
							    	<md-tooltip>{{'CLOSED' | translate}}</md-tooltip>
							    </md-icon>

							    <md-icon ng-if="motion.details.MotionOpenForVoting" md-svg-icon="/themes/{{::themename}}/icons/calendar-clock.svg" hide-sm>
							    	<md-tooltip md-direction="left">{{ 'CLOSES_ON' | translate }} {{ motion.details.closing.alpha_date }}</md-tooltip>
							    </md-icon>

							    <md-icon ng-if="motion.details.MotionOpenForVoting" md-svg-icon="/themes/{{::themename}}/icons/calendar-clock.svg" hide-md hide-gt-md >
							    	<md-tooltip>{{ 'CLOSES_ON' | translate }} {{ motion.details.closing.alpha_date }}</md-tooltip>
							    </md-icon>
						    </md-grid-tile>

						    <md-grid-tile class="md-whiteframe-z1 {{ votes.getOverallPosition() }}">
							  	<md-icon md-svg-icon="/themes/{{::themename}}/icons/{{ votes.getOverallPosition() }}.svg"  ng-if="votes.getOverallPosition()"></md-icon>
							  	<md-icon md-svg-src="/themes/{{::themename}}/loading.svg" ng-show="!votes.getOverallPosition()"></md-icon>
						    </md-grid-tile>

						    <md-grid-tile class="md-whiteframe-z1">
							  <!--  <md-icon md-svg-icon="/departments/{{motion.details.department_id || '1' }}.svg"></md-icon> comment out until departments assigned-->
							    <md-icon md-svg-icon="/themes/{{::themename}}/logo/symbol_mono.svg"></md-icon>
						    </md-grid-tile>
					    </md-grid-list>
					</div>
				</div>	
			</div>
		</md-card-content>
	</md-card>
		

	<vote-on-motion></vote-on-motion>
	<comment-on-motion></comment-on-motion>
	<display-comments></display-comments>



</section>

