<md-content id="maincontent" layout="column" fill-layout ng-class="motion.isLoading?'loading':''">
<section class="md-whiteframe-z1" style="margin:8px">
	<md-toolbar md-scroll-shrink ng-if="true" class="section-toolbar">
	<div class="md-toolbar-tools">
		<h3 translate="{{'DESCRIPTION'}}"></h3>
	</div>
</md-toolbar>
<div layout="row" layout-wrap fill-layout ng-hide="motion.editMotionMode" >
	<div flex="90" flex-sm="100" flex-order="2" flex-order-gt-sm="1" layout-padding style="padding:16px">
		<p class="md-headline" translate="{{'INTRODUCTION'}}" aria-label="Motion Introduction text"></p>
		<p class="md-body-1" ng-bind-html="motion.motionDetail.summary" aria-label="motionSummary"></p>
		<p class="md-headline" translate="{{'DETAILS'}}" aria-label="Motion detail text"></p>
		<p class="md-body-1" ng-bind-html="motion.motionDetail.text"></p>

		<div layout-padding ng-if="motion.motion_files[0]">
			<md-divider></md-divider>
			<md-icon class="mdi mdi-paperclip" style="display:inline-block"></md-icon><p style="display:inline-block" class="md-body-1">Attachments:</p>
			<div flex ng-repeat="file in motion.motion_files">
				<a class="md-subhead" href="/uploads/motion_files/{{file.filename}}" ng-bind="(file.title ? file.title : file.filename)"></a>
					<img ng-if="file.image" ng-src="/uploads/motion_files/{{file.filename}}" />
			</div>
		</div>
	</div>
			
			<div flex="10" flex-sm="100" flex-order-sm="1"  flex-order="1" flex-order-gt-sm="2"  layout-padding ><a id="top"></a>
				<div layout-padding class="listgrid">
				    <md-grid-list md-cols-sm="3" md-cols-md="1" md-cols-gt-md="1" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="16px">
				    
					   <md-grid-tile class="md-whiteframe-z1">
						    <md-icon ng-if="!motion.motionDetail.MotionOpenForVoting" class="mdi mdi-calendar-remove" style="font-size:3.2vw;" hide-sm><md-tooltip md-direction="left">{{'CLOSED' | translate}}</md-tooltip></md-icon>
						    <md-icon ng-if="!motion.motionDetail.MotionOpenForVoting" class="mdi mdi-calendar-remove" style="font-size:86px;" hide-md hide-gt-md ><md-tooltip>{{'CLOSED' | translate}}</md-tooltip></md-icon>

						    <md-icon ng-if="motion.motionDetail.MotionOpenForVoting" class="mdi mdi-calendar-check" style="font-size:3.2vw;" hide-sm><md-tooltip md-direction="left">{{ 'CLOSES_ON' | translate }} {{ motion.motionDetail.closing.alpha_date }}</md-tooltip></md-icon>
						    <md-icon ng-if="motion.motionDetail.MotionOpenForVoting" class="mdi mdi-calendar-check"  style="font-size:86px;" hide-md hide-gt-md ><md-tooltip>{{ 'CLOSES_ON' | translate }} {{ motion.motionDetail.closing.alpha_date }}</md-tooltip></md-icon>
					    </md-grid-tile>

					    <md-grid-tile class="md-whiteframe-z1 {{motion.overallVotePosition}}">
						  	<md-icon md-svg-icon="/themes/{{::themename}}/icons/{{motion.overallVotePosition}}.svg"  ng-if="motion.overallVotePosition"></md-icon>
						  	<md-icon md-svg-src="/themes/{{::themename}}/loading.svg" ng-show="!motion.overallVotePosition"></md-icon>
					    </md-grid-tile>
					    <md-grid-tile class="md-whiteframe-z1">
						  <!--  <md-icon md-svg-icon="/departments/{{motion.motionDetail.department_id || '1' }}.svg"></md-icon> comment out until departments assigned-->
						    <md-icon md-svg-icon="/themes/{{::themename}}/logo/symbol_mono.svg"></md-icon>

					    </md-grid-tile>
				    </md-grid-list>
				</div>

			</div>	
		</div>
	<div  ui-view="editmotion" ng-if="motion.editMotionMode"></div>
</section>

	
		
		
	<!-- implement when the user is close to scrolling near comments begin to load the DOM -->
		<!--vote.tpl.html-->
	<div ui-view="votes"></div>
		<!--comment.tpl.html-->
	<div ui-view="comments"></div>



		    	
</md-content>

