.comment-vote__container {

}

.comment-vote__button {

}

.comment-vote__button-icon {

}

.comment-vote__user-comment {
  word-wrap: break-word;
}



	// .comment-votes{
	// 	display: inline-block; margin-right: 10px; float: right !important;
	// 	md-icon {
	// 		@extend .title-svg-icon;
	// 	}
	// }
	//
	// 	div.comment-votes {
	// 	padding: 0;
	// 	md-button {
	// 		margin: 0;
	// 	}
	// 	p.md-caption {
	// 		margin-bottom:0 !important; margin-top: 11px !important;
	// 	}
	// }
