
/****************************************************************
*
*	STATUS BAR
*
****************************************************************/
.motion__votes-statusbar_container {

	border-radius: 0px;
	display: block !important;
    overflow:hidden;
    white-space: nowrap;

}

.motion__votes-statusbar-button {
	margin: 0;
	display: inline-block;
}

.motion__votes-statusbar-abstain > button{
	@extend .motion__votes-statusbar-button;
}

.motion__votes-statusbar-agree > button {
	@extend .motion__votes-statusbar-button;
}

.motion__votes-statusbar-disagree  > button {
	@extend .motion__votes-statusbar-button;
}