.motion__votes-button_container {
    transition: all 0.3s ease;
    opacity: 1;

    &.ng-hide-add, 
    &.ng-hide-remove{ 
        display: inline-block !important;
    }

    &.ng-hide{
        opacity: 0;
    }

	button{
		margin: 0px;
		height: 100px;
	}

	md-icon{
		height: 80%;
		width: 25%;
	}

	.raised {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}

	.disabled {
		color: black;
	}
}

.motion__votes-button {
	margin: 8px;
}

.motion__votes-button .agree {
	margin-left: 0px;
}

.motion__votes-button .disagree {
	margin-right: 0px;
}

.motion__votes-button .disabled {
	md-icon {
		color: $midGrey !important;
	}
	&:hover{
		background-color:transparent !important;
		cursor: default;
		.md-focused {
			background-color: transparent;
		}
		.md-button {
			background-color: transparent;
		}
	}
}

/****************************************************************
*
*	STATUS BAR
*
****************************************************************/

.motion__votes-statusbar_container {
	button {
		margin: 0;
	}

	border-radius: 0px;
	margin: 8px;
	display: block !important;

}