<!-- <md-card id="dashboard" flex ng-cloak>
  <md-card-content>
  <md-tabs md-dynamic-height md-border-bottom>

    <md-tab label="Site Content">
      <content-manager></content-manager>
    </md-tab>

    <md-tab label="Appearance">
      <appearance-manager></appearance-manager>
    </md-tab>

    <md-tab label=" {{ 'MOTION' | translate }} Drafts" >
      <motion-drafts></motion-drafts>
    </md-tab>

    <md-tab label="Emails">
      <email-manager></email-manager>
    </md-tab>

    <md-tab label="Background Image">
      <background-image-manager></background-image-manager>
    </md-tab>

    <md-tab label="User Management">
      <user-manager></user-manager>
    </md-tab>

    <md-tab label="Home">
      <edit-home></edit-home>
    </md-tab>

    <md-tab label=" {{ 'DEPARTMENT' | translate }} Manager" >
      <department-manager></department-manager>
    </md-tab>

  </md-tabs>
  </md-card-content>
</md-card> -->

<md-card id="dashboard" flex-gt-xs="100" flex-md="70" flex-lg="70" flex-gt-lg="60" layout="column" style="margin:auto;">
  <md-card-content>
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab ng-disabled="true">
        <md-tab-label><md-icon class="mdi mdi-view-dashboard material-icons"></md-icon></md-tab-label>
      </md-tab>


      <md-tab label="system">
        <md-tab-body>
          <system-manager></system-manager>
        </md-tab-body>
      </md-tab>


      <md-tab label="Users">
        <md-tab-body>
          <user-manager></user-manager>
        </md-tab-body>
      </md-tab>


      <md-tab label="Content">
        <md-tab-body>
          <content-manager></content-manager>
        </md-tab-body>
      </md-tab>

      <md-tab label="Pages">
        <md-tab-body>
          <page-manager></page-manager>
        </md-tab-body>
      </md-tab>

      <md-tab label="{{ 'MOTION' | translate }} Drafts">
        <md-tab-body>
          <motion-drafts></motion-drafts>
        </md-tab-body>
      </md-tab>

      <md-tab label="Emails">
        <md-tab-body>
          <email-manager></email-manager>
        </md-tab-body>
      </md-tab>



    </md-tabs>
  </md-card-content>
</md-card>

