<md-content role="navigation" class="flex md-default-theme motion-sidebar">
  
<motion-search hide-gt-lg hide-lg hide-gt-md hide-md flex>></motion-search>


<div infinite-scroll="sidebar.loadMoreMotions()" 
     infinite-scroll-container="'.site-sidenav'"
     infinite-scroll-distance="0" 
     infinite-scroll-disabled="sidebar.motionObj.next_page == 0 || sidebar.paginating || sidebar.motionObj.motionsAreEmpty">


  <md-list>
    
    <md-subheader ng-show="sidebar.search._filteredBy">
        <p>Filtered by {{ sidebar.search._filteredBy }}:</p>
    </md-subheader>

    <md-progress-circular md-mode="indeterminate" ng-show="!sidebar.motionObj.data.length && sidebar.motionListLoading"></md-progress-circular>

    <md-list-item layout="row" class="sidebar-list-item" ng-repeat="motion in sidebar.motionObj.data | isPublished | uniqueId | filter:sidebar.search.text" ui-sref-active="active" ng-click="sidebar.closeSidenav('left')" >

      <!-- <loading-spinner on-hide="motionIsLoading[motion.id]"> -->
      <!-- <trending-icon ng-hide="motionIsLoading[motion.id]"></trending-icon> -->

      <!-- <md-icon class="department" md-svg-src="themes/{{::themename}}/department_icons/{{::motion.icon}}.svg"></md-icon> -->
      <p ui-sref="motion({id:motion.id})">{{ ::motion.title }}</p>
      <quick-vote ng-if="userIsLoggedIn"></quick-vote>

    </md-list-item>

    <has-permission has-permission="create-motions">
      <md-list-item layout="row" ng-click="sidebar.closeSidenav('left')" ui-sref-active="active" layout-padding>  
          <p ui-sref="create-motion">{{'CREATE_NEW_MOTION' | translate | capitalize}}</p>
          <md-icon class="mdi mdi-plus" aria-label="create motion"></md-icon>
      </md-list-item>
    </has-permission>
  

    <md-list-item ng-if="sidebar.motionObj.data.length == 0 && !sidebar.motionListLoading">
      <p class="md-body-1 ellipsis" translate="{{'NO_MOTIONS'}}"></p>
    </md-list-item>

    <md-progress-circular md-mode="indeterminate" ng-show="sidebar.motionObj.data.length && sidebar.motionListLoading"></md-progress-circular>

    <md-subheader>
        <p>Upcoming {{ 'MOTIONS' | translate }}:</p>
    </md-subheader>

    <md-list-item layout="row" ng-repeat="review in sidebar.motionObj.data | isInReview | filter:sidebar.search.text" ui-sref-active="active" ng-click="sidebar.closeSidenav('left')">
      <!-- <md-icon class="department" md-svg-src="themes/{{::themename}}/department_icons/{{::review.icon}}.svg"></md-icon> -->
      <p ui-sref="motion({id:review.id})">{{ ::review.title }}</p>
    </md-list-item>


  </md-list>


</div>
</md-content>