<md-content role="navigation" class="flex md-default-theme" ng-cloak>

<div infinite-scroll="c.loadMoreMotions()" 
     infinite-scroll-container="'.site-sidenav'" 
     infinite-scroll-distance="0" 
     infinite-scroll-disabled="!c.motionObj.next_page || c.paginating">

  <md-progress-circular class="loading-circle" md-mode="indeterminate" ng-show="!c.motionObj.data.length && c.motionListLoading"></md-progress-circular>

  <md-list>
    <md-list-item layout="row" class="sidebar-list-item" ng-repeat="motion in c.motionObj.data | filter:c.search.text" ui-sref-active="active" ng-click="c.closeSidenav('left')">

    <!-- TODO: refactor and get to work properly --> 
    <loading-spinner check-if="{{motionIsLoading[motion.id]}}" layout-padding>
      <div>
        <md-icon aria-label="Motion Popularity" class="mdi" ng-class="{'mdi-arrow-top-right':motion.motion_rank > 0, 'md-primary':motion.motion_rank > 0, 'mdi-arrow-bottom-right':motion.motion_rank < 0, 'md-accent':motion.motion_rank < 0, 'mdi-equal':motion.motion_rank == 0}">
        <md-tooltip md-direction="right" ng-if="motion.motion_rank !== 0 && motion.motion_rank != null">{{ motion.motion_rank > 0 ? "Passing" : "Not passing"}}</md-tooltip>
        <md-tooltip md-direction="right" ng-if="motion.motion_rank == 0">{{'NEUTRAL' | translate}}</md-tooltip>
        </md-icon>
      </div>
    </loading-spinner>

      <p ui-sref="motion({id:motion.id})">{{ ::motion.title }}</p>

      <quick-vote></quick-vote>
    
    </md-list-item>

    
    <!-- TODO: better looking loading circle --> 
    <md-progress-circular class="loading-circle" md-mode="indeterminate" ng-show="c.motionObj.data.length && c.motionListLoading"></md-progress-circular>


    <md-list-item ng-if="!c.motionObj.data.length && !c.motionListLoading">
      <p class="md-body-1" translate="{{'NO_MOTIONS'}}"></p>
    </md-list-item>

    <has-permission has-permission="create-motions">
      <md-list-item class="sidebar-list" ui-sref-active="active"> 
        <md-icon class="mdi mdi-plus" aria-label="add" ui-sref="createmotion"></md-icon>
        <p ui-sref="createmotion" translate="{{'CREATE_NEW_MOTION'}}"></p>
      </md-list-item>
    </has-permission>
  
  </md-list>


</div>
</md-content>