<md-content class="md-padding">


    <div flow-init="{target: '/file', testChunks:false}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="bkg.uploaded = $message">
      <md-button flow-btn>Upload</md-button>
      <img style="max-width: 500px; height: auto;" flow-img="$flow.files[0]" />

      <div>

	      <img ng-if="!$flow.files[0]" ng-src="{{ bkg.today }}" />

      </div>
    </div>


    <spinner ng-click="bkg.save( bkg.uploaded )" name="'Save'" on-hide="bkg.settings.saving"></spinner>


</md-content>