<section class="md-whiteframe-z1 comments" ng-if="vm.userHasVoted && vm.motionOpen" layout-margin>
	<md-toolbar class="section-toolbar">
    	<div class="md-toolbar-tools">
    		<h3 ng-bind="vm.thisUsersComment == null ? '{{'POST_COMMENT' | translate}}' : '{{'YOUR_COMMENT' | translate}}'"></h3>
       	</div>
	</md-toolbar>
</span>	
	<div flex ng-if="vm.thisUsersComment.text == null" layout-padding>
		<form style="padding-bottom:20px">
     		<div layout="column"> 
			    <div>
				    <md-input-container>
						<label translate="{{'COMMENT'}}"></label>
						<textarea columns="1" ng-model="vm.commenttext"></textarea>
				    </md-input-container>
			    </div>
			    <div layout="row" layout-align="end center">
			    	<md-button ng-click="vm.submitComment(vm.commenttext)" class="btn btn-sm btn-primary" translate="{{'SUBMIT_COMMENT'}}" aria-label="submit comment"></md-button>
				</div>
			</div>
        </form>
	</div>

	<div flex layout-padding ng-hide="vm.thisUsersComment.text == null">
		<span ng-hide="vm.editComment">
			<p ng-bind="vm.thisUsersComment.text"></p>
				<div layout="row" layout-align="end center">
					<md-button class="md-primary" ng-click="vm.editCommentFunction()" translate="{{'EDIT'}}" aria-label="edit comment"></md-button>
					<md-button class="md-warn" ng-click="vm.deleteComment()" translate="{{'DELETE'}}" aria-label="delete comment"></md-button>
				</div>
		</span>
		<span ng-show="vm.editComment">
			<md-input-container flex>
				<textarea layout-padding columns="1" aria-label="Your comment" ng-model="vm.thisUsersComment.text"></textarea>
			</md-input-container>
			<div layout="row" layout-align="end center">
				<md-button class="md-primary" ng-click="vm.updateComment(vm.thisUsersComment.text); vm.editCommentFunction()" translate="{{'SAVE_COMMENT'}}" aria-label="update comment"></md-button>
				<md-button class="md-warn" ng-click="vm.editCommentFunction()" translate="{{'CLOSE'}}" aria-label="close edit comment"></md-button>
			</div>
		</span>
	</div>
</section>


<!-- This is comment display content card --> 
<section name="comments" layout="row">
	<div class="md-whiteframe-z1 comments-agree" flex layout-margin>
		<md-toolbar class="section-toolbar">
			<div class="md-toolbar-tools">
				<h3 translate="{{'AGREE'}}"></h3>
			</div>
		</md-toolbar>
	<div flex layout-fill>
		<div layout-padding ng-repeat="comment in vm.agreeComments | object2Array | orderBy: 'commentRank':true">
			<div class="motion-comments">
				<h4 class="md-title" ng-bind="comment.user.public ? comment.user.first_name + ' ' + comment.user.last_name : 'Yellowknifer'"></h4>
				<div>
					<i class="md-caption" ng-bind="comment.updated_at.database == comment.created_at.database ? '{{'WRITTEN' | translate}}' + comment.created_at.diff : '{{'EDITED' | translate}}' + comment.updated_at.diff"></i>
					<p class="md-title" ng-bind="comment.commentRank > 0 ? '+' + comment.commentRank : '' + comment.commentRank"></p>
				</div>
			</div>
			<p class="md-body-1" ng-bind="comment.text"></p>
			<div layout="row" layout-align="end center" ng-if="vm.showAgreeCommentVotes">
				<md-button ng-click="vm.checkCommentVotes(comment, 1, vm.thisUsersCommentVotes)" class="md-icon-button" ng-class="{'md-primary':comment.this_users_comment_vote == 1}" aria-label="Agree"> 
				<md-icon md-svg-src="/themes/{{::themename}}/icons/{{ comment.this_users_comment_vote == '1' && 'thumb-up' || 'thumb-up-outline' }}.svg"></md-icon>
					<md-tooltip>{{'AGREE_WITH_COMMENT' | translate}}</md-tooltip>
						</md-button>					         
				<md-button ng-click="vm.checkCommentVotes(comment, -1, vm.thisUsersCommentVotes)" class="md-icon-button" ng-class="{'md-accent':comment.this_users_comment_vote == -1}" aria-label="Disagree">
				<md-icon md-svg-src="/themes/{{::themename}}/icons/{{ comment.this_users_comment_vote == '-1' && 'thumb-down' || 'thumb-down-outline' }}.svg"></md-icon>
					<md-tooltip>{{'DISAGREE_WITH_COMMENT' | translate}}</md-tooltip>
						</md-button>	        					         
			</div> 
			<md-divider  ng-if="!$last" class="md-default-theme"></md-divider>				       
		</div>
	</div>
</div>

<div name="disagreecomments" class="md-whiteframe-z1 comments-disagree" flex layout-margin>
	<md-toolbar class="section-toolbar">
    	<div class="md-toolbar-tools">
    		<h3 translate="{{'DISAGREE_ABSTAIN'}}"></h3>
       	</div>
	</md-toolbar>
		<div flex layout-fill>
		 	<div layout-padding ng-repeat="comment in vm.disagreeComments | object2Array | orderBy: 'commentRank':true">
		 	<div class="motion-comments">
		 	<h4 class="md-title">{{comment.user.public ? comment.user.first_name + ' ' + comment.user.last_name : 'Yellowknifer'}}<span ng-show="comment.vote.position==0">&nbsp;({{ 'ABSTAINED' | translate }})</span></h4>
		 		<div>
	        		<i class="md-caption" ng-bind="comment.updated_at.database == comment.created_at.database ? 'written ' + comment.created_at.diff : 'edited ' + comment.updated_at.diff"></i>
	        		<p class="md-title" ng-bind="comment.commentRank > 0 ? '+' + comment.commentRank : '' + comment.commentRank"></p>
		 		</div>
		 	</div>
        <p class="md-body-1 abstained" ng-bind="comment.text"></p>
	 <div layout="row" layout-align="end center" ng-if="vm.showDisagreeCommentVotes"> 
	        <md-button ng-click="vm.checkCommentVotes(comment, 1, vm.thisUsersCommentVotes)" class="md-icon-button" ng-class="{'md-primary':comment.this_users_comment_vote == 1}" aria-label="Agree"> 
				<md-icon md-svg-src="/themes/{{::themename}}/icons/{{ comment.this_users_comment_vote == '1' && 'thumb-up' || 'thumb-up-outline' }}.svg"></md-icon>
				<md-tooltip>{{'AGREE_WITH_COMMENT' | translate}}</md-tooltip>
			</md-button>					         
			<md-button ng-click="vm.checkCommentVotes(comment, -1, vm.thisUsersCommentVotes)" class="md-icon-button" ng-class="{'md-accent':comment.this_users_comment_vote == -1}" aria-label="Disagree">
					<md-icon md-svg-src="/themes/{{::themename}}/icons/{{ comment.this_users_comment_vote == '-1' && 'thumb-down' || 'thumb-down-outline' }}.svg"></md-icon>
				<md-tooltip>{{'DISAGREE_WITH_COMMENT' | translate}}</md-tooltip>
			</md-button>	        					         
	</div>
<!-- TODO:		<comment-votes></comment-votes> -->
		<md-divider ng-if="!$last" class="md-default-theme"></md-divider>
		</div>	
		</div>
</div>
</section> 