<div>
 
<md-content id="maincontent" layout="column" fill-layout>

  <section class="md-whiteframe-z1" style="margin:8px">
    <md-toolbar class="section-toolbar">
      <div class="md-toolbar-tools">
        <h3>Basic Details</h3>
      </div>
    </md-toolbar>
    <div layout="column" >
      <div flex="90" flex-sm="100" flex-order="2" flex-order-gt-sm="1" layout-padding ></div>
      <div flex="10" flex-sm="100" flex-order-sm="1"  flex-order="1" flex-order-gt-sm="2"  layout-padding>
<div ng-if="!showUsers">This User's Profile is Not Public</div>

<form name="userprofile" ng-if="showUsers" ng-cloak>   


<!-- user name --> 
  <div layout layout-sm="column">  
   <md-input-container flex ng-hide="formEdit.first_name">
    <label>First Name</label>
      <input ng-model="users[getId()].first_name" aria-label="firstnamereadonly"readonly/>
    <md-button class="md-icon-button" style="padding-top:15px; left:87%; position:absolute" ng-click="formEdit.first_name = !formEdit.first_name" aria-label="editbutton">
     <md-icon class="mdi-small" md-font-icon="mdi-pencil" ng-hide="isLoading.first_name || onSuccess.first_name"></md-icon>
    </md-button>
    </md-input-container>

    <md-input-container flex ng-if="formEdit.first_name">
    <label>First Name</label>
    <input ng-model="users[getId()].first_name" ng-focus="" ng-blur="updateInfo(users[getId()], 'first_name')" aria-label="firstname" required/>
     <md-button class="md-icon-button" style="padding-top:15px; left:87%; position:absolute" aria-label="editbutton">
     <md-icon class="mdi-small md-primary" md-font-icon="mdi-pencil" ng-hide="isLoading.first_name || onSuccess.first_name" ng-click="formEdit.first_name = !formEdit.first_name"></md-icon>
     <md-progress-circular ng-show="isLoading.first_name" md-mode="indeterminate"></md-progress-circular>  
     <md-icon class="mdi-small" md-font-icon="mdi-check" ng-show="onSuccess.first_name"></md-icon>
     </md-button>
     </md-input-container>


    <md-input-container flex ng-hide="formEdit.middle_name">
     <label>Middle Name</label>
      <input ng-model="users[getId()].middle_name" aria-label="middlenamereadonly" readonly/>
    <md-button ng-hide="ispublic && !isuserprofile && !administrateUsers" class="md-icon-button" style="padding-top:15px; left:87%; position:absolute" ng-click="formEdit.middle_name = !formEdit.middle_name" aria-label="editbutton">
     <md-icon class="mdi-small" md-font-icon="mdi-pencil" ng-hide="isLoading.middle_name || onSuccess.middle_name"></md-icon>
    </md-button>
    </md-input-container>


    <md-input-container flex ng-if="formEdit.middle_name">
          <label>Middle Name</label>
          <input ng-model="users[getId()].middle_name" ng-focus="" ng-blur="updateInfo(users[getId()], 'middle_name')" aria-label="middlename"/>
          <md-button class="md-icon-button" style="padding-top:15px; left:87%; position:absolute" ng-show="formEdit.middle_name" aria-label="editbutton">
            <md-icon class="mdi-small md-primary" md-font-icon="mdi-pencil" ng-hide="isLoading.middle_name || onSuccess.middle_name" ng-click="formEdit.middle_name = !formEdit.middle_name"></md-icon>
            <md-progress-circular ng-show="isLoading.middle_name" md-mode="indeterminate"></md-progress-circular>
            <md-icon class="mdi-small" md-font-icon="mdi-check" ng-show="onSuccess.middle_name"></md-icon>
          </md-button>
    </md-input-container>

    <md-input-container flex ng-hide="formEdit.last_name">
     <label>Last Name</label>
      <input ng-model="users[getId()].last_name" aria-label="lastnamereadonly" readonly/>
    <md-button ng-hide="ispublic && !isuserprofile && !administrateUsers" class="md-icon-button" style="padding-top:15px; left:87%; position:absolute" ng-click="formEdit.last_name = !formEdit.last_name" aria-label="editbutton">
     <md-icon class="mdi-small" md-font-icon="mdi-pencil" ng-hide="isLoading.last_name || onSuccess.last_name"></md-icon>
    </md-button>
    </md-input-container>

  <md-input-container flex ng-if="formEdit.last_name" > 
          <label>Last Name</label>
          <input ng-model="users[getId()].last_name" focus="" ng-blur="updateInfo(users[getId()], 'last_name')" aria-label="lastname"/>
          <md-button class="md-icon-button" style="padding-top:15px; left:87%; position:absolute" ng-show="formEdit.last_name" aria-label="editbutton">
          <md-icon class="mdi-small md-primary" md-font-icon="mdi-pencil" ng-hide="isLoading.last_name || onSuccess.last_name" ng-click="formEdit.last_name = !formEdit.last_name"></md-icon>
          <md-progress-circular  ng-show="isLoading.last_name" md-mode="indeterminate"></md-progress-circular>
          <md-icon class="mdi-small" md-font-icon="mdi-check" ng-show="onSuccess.last_name"></md-icon>
          </md-button>
    </md-input-container>


  </div>


  <div layout layout-sm="column">

    <md-input-container flex ng-hide="formEdit.date_of_birth">
     <label>Birthday</label>
      <input ng-model="users[getId()].date_of_birth" aria-label="birthdayreadonly" type="date" readonly/>
    <md-button ng-hide="!isuserprofile && !administrateUsers" class="md-icon-button" style="padding-top:15px; left:87%; position:absolute" ng-click="formEdit.date_of_birth = !formEdit.date_of_birth" aria-label="editbutton">
     <md-icon class="mdi-small" md-font-icon="mdi-pencil" ng-hide="isLoading.date_of_birth || onSuccess.date_of_birth"></md-icon>
    </md-button>
    </md-input-container>



    <md-input-container ng-cloak flex ng-if="formEdit.date_of_birth" novalidate > 
      <label>Birthday</label>
      <input ng-model="users[getId()].date_of_birth" ng-focus="" ng-blur="updateInfo(users[getId()], 'date_of_birth')" type="date" aria-label="dateofbirth"/>
 <div class="md-icon-button" style="padding-top:15px; left:87%; position:absolute" aria-label="editbutton">
        <md-progress-circular ng-show="isLoading.date_of_birth" md-mode="indeterminate"></md-progress-circular>
        <md-icon class="mdi-small" md-font-icon="mdi-check" ng-show="onSuccess.date_of_birth"></md-icon>
        </div> 
    </md-input-container>




     <md-select ng-model="publicChoice" ng-disabled="!isuserprofile" flex="fixed" aria-label="publicprofile">
        <md-option ng-click="setPublic(1)">Public</md-option>
        <md-option ng-click="setPublic(0)">Not Public</md-option>
     </md-select>

    <md-switch ng-hide="!isuserprofile && !administrateUsers" ng-disabled="isuserprofile || user.canEditUser" class="md-secondary"ng-model="users[getId()].identity_verified" ng-change="verifyUser(users[getId()])" aria-label="Switch" ng-true-value="1" ng-false-value="0" flex="30">Identity Verified</md-switch>
  </div>


<div layout layout-sm="column">

    <md-input-container flex ng-hide="formEdit.email">
     <label>Email</label>
      <input ng-model="users[getId()].email" aria-label="emailreadonly" readonly/>
    <md-button ng-hide="!isuserprofile && !administrateUsers" class="md-icon-button" style="padding-top:15px; left:95%; position:absolute" ng-click="formEdit.email = !formEdit.email" aria-label="editbutton">
     <md-icon class="mdi-small"md-font-icon="mdi-pencil" ng-hide="isLoading.email || onSuccess.email"></md-icon>
    </md-button>
    </md-input-container>

    <md-input-container flex novalidate ng-if="formEdit.email"> 
      <label>Email</label>
      <input ng-model="users[getId()].email" ng-focus="" ng-blur="updateInfo(users[getId()], 'email')" aria-label="email" />
    <md-button style="padding-top:15px; left:95%; position:absolute" class="md-icon-button" ng-show="formEdit.email" aria-label="editbutton">
      <md-icon class="mdi-small md-primary" md-font-icon="mdi-pencil" ng-hide="isLoading.email || onSuccess.email" ng-click="formEdit.email = !formEdit.email"></md-icon >
      <md-progress-circular ng-show="isLoading.email" md-mode="indeterminate"></md-progress-circular>
      <md-icon class="mdi-small" md-font-icon="mdi-check" ng-show="onSuccess.email"></md-icon>
    </md-button>
    </md-input-container>

</div>

</form>

      </div>  
    </div>
  </section>
  </md-content>
   
</div>


<md-fab-toolbar class="md-right" >
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="menu" class="md-fab md-primary">
      <md-icon class="mdi" md-font-icon="mdi-menu" ></md-icon>
    </md-button>
    </md-fab-trigger>
    <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <md-button ng-show="administrateUsers" aria-label="create" class="md-icon-button">
        <md-icon class="mdi" md-font-icon="mdi-plus"></md-icon>
      </md-button>
        <md-button ng-show="administrateUsers" aria-label="edit" ng-click="user.showEditUsers()"  class="md-icon-button">
        <md-icon class="mdi" md-font-icon="mdi-pencil"></md-icon>
      </md-button>
        <md-button ng-show="administrateUsers" aria-label="comment" ng-click="motion.deleteMotion()"  aria-label="delete"  class="md-icon-button md-warn">
        <md-icon class="mdi" md-font-icon="mdi-delete"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>
