<div ng-hide="!settingsGlobal.betaMessage.on" flex md-colors="{background: '{{ theme.primary }}-700'}" style="height:25px; color: white; margin-top:0px;" ng-cloak>
  <p style="letter-spacing: 0.05em; font-weight: 500;" class="md-caption beta-message">
  <span hide-xs translate="{{'BETA_HEADER'}}"></span>&nbsp;
<!--   <span hide-md hide-sm hide-xs translate="{{'BETA_MESSAGE'}}"></span> -->
  <span hide-gt-md show-md show-xs translate="{{'BETA_MESSAGE_MINI'}}"></span>
<!--   <a md-colors="{color: '{{ theme.accent }}-50'}" href="mailto:support@iserveu.com"><u>support@iserveu.ca</u></a></p> -->
</div>
