<md-card class="edit-user-profile" flex-gt-xs="100" flex-md="70" flex-lg="70" flex-gt-lg="60" layout="column" style="margin:auto;">
  
<profile-toolbar></profile-toolbar>

  <md-card-content layout-margin ng-hide="roles.showEdit">
  

    <div has-permission="administrate-permission">
      <md-switch ng-model="profile.identity_verified" ng-change="edit.save('identity_verified', profile.identity_verified); edit.save('address_verified_until', edit.fourYearsFromNow)" aria-label="Verify user" ng-true-value="1" ng-false-value="0">
        User is {{ profile.identity_verified ? 'verified' : 'unverified' }}.
      </md-switch>
      <md-divider></md-divider>
    </div>

    <div layout="row">
        <md-input-container flex>
          <label>Email</label> 
          <md-icon class="mdi mdi-email"></md-icon>
          <input type="email" ng-model="profile.email" ng-disabled="edit.disabled.email" ng-keypress="edit.pressEnter($event, 'email', profile.email)" />
        </md-input-container>
          <md-icon class="mdi mdi-pencil" ng-click="edit.switch('email')" ng-show="edit.disabled.email"></md-icon>
          <md-icon class="mdi mdi-content-save" ng-click="edit.save('email', profile.email)" ng-hide="edit.success.email || edit.disabled.email"></md-icon>
          <md-progress-circular md-diameter="35px" md-mode="indeterminate" ng-show="!edit.disabled.email && edit.success.email"></md-progress-circular>
          <md-icon class="mdi mdi-check" ng-show="edit.disabled.email && edit.success.email"></md-icon>
    </div>



    <div layout="row" ng-if="edit.disabled.address">
        <md-input-container flex>
          <label>Address</label>
          <md-icon class="mdi mdi-home"></md-icon>
          <input type="text" ng-model="profile" ng-disabled="edit.disabled.address" format-address/>
        </md-input-container>
          <md-icon class="mdi mdi-pencil" ng-click="edit.switch('address')"></md-icon>

          <md-icon class="mdi mdi-check" ng-show="edit.success.address"></md-icon>
    </div>


    <div layout="column" ng-if="!edit.disabled.address" flex>
      <div layout="row" flex>
          <md-input-container flex="20">
            <label>Apt/Suite</label> 
            <md-icon class="mdi mdi-home"></md-icon>
            <input type='text' ng-model='edit.address.unit_number'/>
          </md-input-container>
          <md-input-container flex="15">
            <label>Street No.</label> 
            <input type='text' ng-model='edit.address.street_number' required/>
          </md-input-container>
          <md-input-container flex="50">
            <label>Street Name</label> 
            <input type='text' ng-model='edit.address.street_name' required/>
          </md-input-container>
          <md-input-container flex="20">
            <label>Postal Code</label> 
            <input type='text' ng-model='edit.address.postal_code' ng-keypress="edit.pressEnter($event, 'address')" required/>
          </md-input-container>
          <md-icon class="mdi mdi-content-save" ng-click="edit.save('address', edit.address)" ng-hide="edit.success.address"></md-icon>
          <md-progress-circular md-diameter="35px" md-mode="indeterminate" ng-show="edit.success.address"></md-progress-circular>
     </div>
    </div>

    <div layout="row" ng-if="edit.disabled.community">
        <md-input-container flex>
          <label>Community</label>
          <md-icon class="mdi mdi-hops"></md-icon>
          <input type="text" ng-model="profile.community_id" ng-disabled="edit.disabled.community" format-community="communities.index"/>
        </md-input-container>
          <md-icon class="mdi mdi-pencil" ng-click="edit.switch('community')"></md-icon>
          <md-icon class="mdi mdi-check" ng-show="edit.success.community"></md-icon>
    </div>


    <div layout="column" ng-if="!edit.disabled.community" flex>
      <div layout="row" flex>
        <md-select placeholder="Which community do you reside in?" ng-model="edit.community.community_id" required flex>
            <md-option ng-repeat="c in communities.index" ng-value="c.id" required>{{c.name}}</md-option>
        </md-select>
      
        <md-icon style="margin-top: 10px" class="mdi mdi-content-save" ng-click="edit.save('community', edit.community)" ng-hide="edit.success.community"></md-icon>
        <md-progress-circular style="margin-top: 10px" md-diameter="35px" md-mode="indeterminate" ng-show="edit.success.community"></md-progress-circular>
      </div>
    </div>


    <div layout="row">
        <md-input-container ng-if="!profile.date_of_birth && edit.disabled.date_of_birth" flex>
          <label>Birthday</label> 
          <md-icon class="mdi mdi-cake"></md-icon>
          <input type="text" placeholder="YYYY/MM/DD" ng-model="birthday" ng-disabled="edit.disabled.date_of_birth"/>
        </md-input-container>
        <md-input-container  ng-if="profile.date_of_birth || !edit.disabled.date_of_birth" flex>
          <label>Birthday</label> 
          <md-icon class="mdi mdi-cake"></md-icon>
          <input type="date" ng-model="profile.date_of_birth" ng-disabled="edit.disabled.date_of_birth" ng-keypress="edit.pressEnter($event, 'date_of_birth', profile.date_of_birth)" format-birthday/>
        </md-input-container>
          <md-icon class="mdi mdi-pencil" ng-click="edit.switch('date_of_birth')" ng-show="edit.disabled.date_of_birth"></md-icon>
          <md-icon class="mdi mdi-content-save" ng-click="edit.save('date_of_birth', profile.date_of_birth)" ng-hide="edit.success.date_of_birth || edit.disabled.date_of_birth"></md-icon>
          <md-progress-circular md-diameter="35px" md-mode="indeterminate" ng-show="!edit.disabled.date_of_birth && edit.success.date_of_birth"></md-progress-circular>
          <md-icon class="mdi mdi-check" ng-show="edit.disabled.date_of_birth && edit.success.date_of_birth"></md-icon>
    </div>




    <div layout="row" ng-if="edit.disabled.public && edit.isSelf()">
        <md-input-container flex>
          <label>Display options</label>
          <md-icon class="mdi mdi-odnoklassniki"></md-icon>
          <input type="text" ng-model="profile.public" ng-disabled="edit.disabled.public" format-public/>
        </md-input-container>
          <md-icon class="mdi mdi-pencil" ng-click="edit.switch('public')"></md-icon>
          <md-icon class="mdi mdi-check" ng-show="edit.success.public"></md-icon>
    </div>

    <div layout="column" ng-if="!edit.disabled.public" flex>
      <div layout="row" flex>
        <md-select placeholder="Display options" ng-model="edit.public" flex required>
            <md-option ng-value="1">Public</md-option>
            <md-option ng-value="0">Private</md-option>
        </md-select>
      
        <md-icon style="margin-top: 10px" class="mdi mdi-content-save" ng-click="edit.save('public', edit.public)" ng-hide="edit.success.public"></md-icon>
        <md-progress-circular style="margin-top: 10px" md-diameter="35px" md-mode="indeterminate" ng-show="edit.success.public"></md-progress-circular>
      </div>
    </div>

    <div ng-if="edit.isSelf()" layout="row">
      <md-input-container flex>
        <label>Change Password</label> 
        <md-icon class="mdi mdi-account-key"></md-icon>            
        <input type='password' ng-model="profile.password" ng-disabled="edit.disabled.password" ng-keypress="edit.pressEnter($event, 'password', profile.password)" />
      </md-input-container>
          <md-icon class="mdi mdi-pencil" ng-click="edit.switch('password')" ng-show="edit.disabled.password"></md-icon>
          <md-icon class="mdi mdi-content-save" ng-click="edit.save('password', profile.password)" ng-hide="edit.success.password || edit.disabled.password"></md-icon>
          <md-progress-circular md-diameter="35px" md-mode="indeterminate" ng-show="!edit.disabled.password && edit.success.password"></md-progress-circular>
          <md-icon class="mdi mdi-check" ng-show="edit.disabled.password && edit.success.password"></md-icon>
    </div>
  </md-card-content>



<md-card-content layout-margin ng-init="roles.user = profile.user_role" ng-show="roles.showEdit">
  <p class="md-subhead" translate="{{'USER_ROLES'}}" style="margin-bottom: 20px"></p>

  <div ng-repeat="role in roles.list">
    <md-checkbox ng-model="role.hasRole" ng-click="roles.set(role)" style="margin:0px" ng-disabled="role.id == 1 && edit.isSelf()">
      <p class="md-caption" style="margin:0px">{{role.display_name}}</p>
      <md-tooltip>{{role.description}}</md-tooltip>
    </md-checkbox>
  </div>

  <md-button ng-click="roles.showRoles()">
    <md-icon class="mdi mdi-arrow-left"></md-icon>
    {{ 'BACK' | translate }}
  </md-button>

</md-card-content>


</md-card>

