<md-card class="edit-user-profile">
  
<profile-toolbar></profile-toolbar>

  <md-card-content layout-margin ng-hide="roles.showEdit">

    <div layout="row">
        <md-input-container flex>
          <label>Email</label> 
          <md-icon class="mdi mdi-email"></md-icon>
          <input type="email" ng-model="profile.email" ng-disabled="edit.disabled.email" ng-keypress="edit.pressEnter($event, 'email', profile.email)" />
        </md-input-container>
          <md-icon class="mdi mdi-pencil" ng-click="edit.switch('email')" ng-show="edit.disabled.email"></md-icon>
          <md-icon class="mdi mdi-content-save" ng-click="edit.save('email', profile.email)" ng-hide="edit.success.email || edit.disabled.email"></md-icon>
          <md-progress-circular md-diameter="35px" md-mode="indeterminate" ng-show="!edit.disabled.email && edit.success.email"></md-progress-circular>
          <md-icon class="mdi mdi-check" ng-show="edit.disabled.email && edit.success.email"></md-icon>
    </div>

    <div layout="row" ng-if="edit.disabled.address">
        <md-input-container flex>
          <label>Community</label>
          <md-icon class="mdi mdi-home"></md-icon>
          <input type="text" ng-model="profile.community_id" ng-disabled="edit.disabled.address" format-community/>
        </md-input-container>
          <md-icon class="mdi mdi-pencil" ng-click="edit.switch('address')"></md-icon>
          <md-icon class="mdi mdi-check" ng-show="edit.success.address"></md-icon>
    </div>


    <div layout="column" ng-if="!edit.disabled.address" flex>
      <div layout="row" flex>
        <md-select placeholder="Which community do you reside in?" ng-model="edit.address.community_id" required>
            <md-option ng-repeat="c in communities" ng-value="c.id" required>{{c.name}}</md-option>
        </md-select>
      
        <md-icon class="mdi mdi-content-save" ng-click="edit.save('address', edit.address)" ng-hide="edit.success.address"></md-icon>
        <md-progress-circular md-diameter="35px" md-mode="indeterminate" ng-show="edit.success.address"></md-progress-circular>
      </div>


    </div>

    <div layout="row">
      <md-input-container flex>
        <label>Change Password</label> 
        <md-icon class="mdi mdi-account-key"></md-icon>            
        <input type='password' ng-model="profile.password" ng-disabled="edit.disabled.password" ng-keypress="edit.pressEnter($event, 'password', profile.password)" />
      </md-input-container>
          <md-icon class="mdi mdi-pencil" ng-click="edit.switch('password')" ng-show="edit.disabled.password"></md-icon>
          <md-icon class="mdi mdi-content-save" ng-click="edit.save('password', profile.password)" ng-hide="edit.success.password || edit.disabled.password"></md-icon>
          <md-progress-circular md-diameter="35px" md-mode="indeterminate" ng-show="!edit.disabled.password && edit.success.password"></md-progress-circular>
          <md-icon class="mdi mdi-check" ng-show="edit.disabled.password && edit.success.password"></md-icon>
    </div>
  </md-card-content>



<md-card-content layout-margin ng-init="roles.user = profile.user_role" ng-show="roles.showEdit">
  <p class="md-subhead" translate="{{'USER_ROLES'}}" style="margin-bottom: 20px"></p>

  <div ng-repeat="role in roles.list">
    <md-checkbox ng-model="role.hasRole" ng-click="roles.set(role)" style="margin:0px" ng-disabled="role.id == 1">
      <p class="md-caption" style="margin:0px">{{role.display_name}}</p>
      <md-tooltip>{{role.description}}</md-tooltip>
    </md-checkbox>
  </div>

  <md-button ng-click="roles.showRoles()">
    <md-icon class="mdi mdi-arrow-left"></md-icon>
    {{ 'BACK' | translate }}
  </md-button>

</md-card-content>


</md-card>

