<footer  id="footer" layout="row" layout-align="end end">
    

    <md-button class="md-primary md-raised" terms-and-conditions ng-click="ctrl.showTermsAndConditions($event, false)" flex-sm="50" flex-md="25" flex-gt-md="25">
        Terms &amp; Conditions
    </md-button>

    <md-caption layout-padding ng-controller="BackgroundImageController as vm" class="imagecredit">
        <span  ng-if="vm.background.credited">{{'PHOTO_COURTESY' | translate}}<a href="{{::vm.background.url}}" ng-bind="::vm.background.credited"></a></span>
    </md-caption>
   
    
</footer>
