<md-card flex-gt-xs="100" flex-md="70" flex-lg="70" flex-gt-lg="60" layout="column" style="margin:auto;">
	<md-card-content>

	<md-toolbar class="md-hue-1 md-tall profile-toolbar" layout-align="center front">
		<h2 class="title-header" style="font-size: 23px; opacity: .8; margin: 20px">My {{'MOTIONS' | translate}}</h2>
		<p class="md-caption" style="margin-left: 20px">You've submitted these motions and they are currently being reviewed.</p>
	</md-toolbar>


    <md-progress-circular md-mode="indeterminate" ng-if="myMotions.loading" layout-padding></md-progress-circular>


	<md-list ng-repeat="motion in myMotions.motions">

		<md-list-item ui-sref="motion({id:motion.id})">

			<p class="md-body-1">{{ motion.title }}</p>
            <md-button class="md-icon-button" aria-label="Motion Redirect" ui-sref="motion({id:motion.id})">
              <md-icon class="mdi" layout-align="end"md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
            </md-button>

            <p class="md-body-1" ng-hide="myMotions.motions.length">You do not have any motions pending review.</p>

		</md-list-item>

	</md-list>

	</md-card-content>
</md-card>