<div class="comment-vote__container" ng-if="userIsLoggedIn" has-permission="create-comment_vote" layout="row" layout-align="end center">

    <md-button ng-click="commentVote.button.castVote(comment.id, 1, motion)"
    	class="md-icon-button comment-vote__button {{ commentVote.button.agree.class }}" aria-label="Agree comment vote">
		<md-icon class="comment-vote__button-icon" md-svg-src="/themes/{{::theme.name}}/icons/{{ commentVote.button.agree.selectedIcon }}.svg"></md-icon>
	</md-button>

    <md-button ng-click="commentVote.button.castVote(comment.id, -1, motion)"
    	class="md-icon-button comment-vote__button {{ commentVote.button.disagree.class }}" aria-label="Disagree comment vote">
		<md-icon class="comment-vote__button-icon" md-svg-src="/themes/{{::theme.name}}/icons/{{ commentVote.button.disagree.selectedIcon }}.svg"></md-icon>
	</md-button>

</div>