<div class="comment-votes" ng-if="userIsLoggedIn" has-permission="create-comment_vote" layout="row" layout-align="end center">

	<span ng-init="commentVote.loadCommentVotes(comment, motion.motionComments.thisUsersCommentVotes)"></span>

    <md-button ng-click="commentVote.button.castVote(comment, 'agree', motion)"
    	class="md-icon-button {{ commentVote.button.agree.class }}" aria-label="Agree comment vote"> 
		<md-icon md-svg-src="/themes/{{::themename}}/icons/{{ commentVote.button.agree.icon }}.svg"></md-icon>
	</md-button>

    <md-button ng-click="commentVote.button.castVote(comment, 'disagree', motion)"
    	class="md-icon-button {{ commentVote.button.disagree.class }}" aria-label="Disagree comment vote"> 
		<md-icon md-svg-src="/themes/{{::themename}}/icons/{{ commentVote.button.disagree.icon }}.svg"></md-icon>
	</md-button>

</div>