.isu-logo md-icon{
	height: 40px;
  	margin: 0;
  	width: 40px;
}

.isu-logotype{
	line-height: 40px;
	text-indent: 15px;
}

/*
#testicon{
	fill: #aaaaaa;
} */


md-sidenav md-list{
	padding: 0;
}


md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 304px !important;
    width: 85vw !important;
    max-width: 400px !important;
} 