.loginwall{
	background-image: url('/img/photos/large/01.jpg');

}



.isu-logo md-icon{
	height: 40px;
  	margin: 0;
  	width: 40px;
}

{
	line-height: 40px;
	text-indent: 15px;
}


md-sidenav md-list{
	padding: 0;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 304px !important;
    width: 85vw !important;
    max-width: 400px !important;
} 

.md-toolbar-tools > md-icon{
	width:24px;
	display: block;
	margin-bottom: 12px;
	margin-left: 0px;
	margin-right: 32px;
	margin-top: 12px;
}

md-grid-tile{
	background-color: #aaaaaa;
}

md-grid-tile md-icon{
	width: 80%;
	height: 80%;
		
}

.voting button{
	margin: 0px;
	height: 150px;
}

.voting md-icon{
	height: 80%;
	width: 25%;

}

.voting .agree md-icon{
	color: rgb(0,172,177);
}

.voting .disagree md-icon{
	color: rgb(255,118,0);
}



/*
.voting button.agree{
	background-color: #00acb1;
}


.voting button.abstain{
	background-color: #99949d;
}


.voting button.disagree{
	background-color: #ff7600;
} */


.listgird{
	padding-left:0px !important;

}


[layout-padding]{
	padding: 20px;

}

@media (max-width: 599px){

	.listgird{
		padding-left:20px !important;
	}
	
}

.comments md-list-item.md-no-proxy{
	padding: 0px;
}


.sidebar-list {
	cursor: pointer;
}

