<h3 class="widget_title">
  <md-icon class="mdi mdi-checkbox-marked-circle-outline"></md-icon>
  Your Votes
</h3>

<div class="widget_content--list" ng-if="myVotes.voteList.length > 0">
    <md-list>

      <md-list-item class="md-2-line"  ui-sref-active="active" ui-sref="motion({id:vote.motion_id})"
      ng-switch="{{ vote.position }}"  ng-repeat="vote in myVotes.voteList | limitTo: 5">
        <md-icon ng-switch-when="1" class="md-primary" md-svg-src="thumb-up"></md-icon>
        <md-icon ng-switch-when="-1" class="md-accent" md-svg-src="thumb-down"></md-icon>
        <md-icon ng-switch-when="0" md-svg-src="thumbs-up-down"></md-icon>

        <div class="md-list-item-text">
          <h3>{{ vote._motion_title }}</h3>
          <p>{{ vote.updated_at['diff'] }}</p>
        </div>
        <div class="md-secondary-container">
          <md-button class="md-icon-button"  aria-label="yourVoteRedirect" ui-sref="motion({id:vote.motion_id})">
           <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
          </md-button>
        </div>
        </md-list-item>

    </md-list>
</div>

<div class="widget_content--text" ng-if="myVotes.voteList.length <= 0">
    <p>You haven't voted, yet.</p>
</div>

<div class="widget_content--text"  ng-if="myVotes.loading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
