<md-card ng-if="settingsGlobal.home.widgets.top_comments || settingsGlobal.module.comments" layout layout-margin flex>
  <md-card-content layout-padding flex>
    <md-icon class="mdi mdi-playlist-minus title-icon"></md-icon>
    <h3 class="title-header">Top Comments</h3>

      <md-progress-circular md-mode="indeterminate"  ng-if="topComments.loading"></md-progress-circular>


      <md-list ng-if="!topComments.loading">
        <div ng-if="topComments.commentList" ng-repeat="comment in topComments.commentList | limitTo: 5">

        <md-list-item ui-sref-active="active" ui-sref="motion({id:comment[0].vote.motion_id})">
          <p class="md-body-1">{{comment[0].text | limitTo: 120}}{{comment.text[0].length > 120 ? '...' : ''}}</p>

          <span style="color:green;">{{ (comment[0].commentRank > 0) ? '+' + comment[0].commentRank : '0'}}</span>
          <md-button class="md-icon-button"  aria-label="topCommentRedirect" ui-sref="motion({id:comment[0].vote.motion_id})">
            <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
          </md-button>

        </md-list-item>

          <md-divider></md-divider>

        <md-list-item class="md-caption" layout-align="end">
          <span ng-show="comment[0].user.public">{{'BY' | translate}}{{comment[0].user.first_name + ' ' + comment[0].user.last_name}}</span>
          <span ng-hide="comment[0].user.public">{{'BY_A' | translate}}</span>
        </md-list-item>
        </div>
       <p ng-show="topComments.commentList.length <= 0" ng-cloak class="md-body-1">There aren't any top comments.</p>
      </md-list>

  </md-card-content>
</md-card>