<h3 class="widget_title"><md-icon class="mdi mdi-playlist-minus title-icon"></md-icon>Top Comments</h3>

<div class="widget_content--list" ng-if="$ctrl.commentList.length > 0">

  <md-list>

      <md-list-item class="md-2-line" ui-sref-active="active" ui-sref="motion({id:comment.motionSlug})" ng-repeat="comment in $ctrl.commentList | limitTo: 5">
        <md-icon class="mdi" md-font-icon="mdi-account-circle"></md-icon>
        <div class="md-list-item-text">
          <h3 ng-bind="comment.commentWriter.first_name ? comment.commentWriter.first_name + ' ' + comment.commentWriter.last_name : comment.commentWriter.community.adjective"></h3>
          <p marked="(comment.text | limitTo: 120) + (comment.text.length > 120 ? '...' : '')" class="md-body-1"></p>
        </div>
        <div class="md-secondary-container">
          <md-button class="md-icon-button"  aria-label="topCommentRedirect" ui-sref="motion({id:comment.motionSlug})">
            <md-icon class="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
          </md-button>
        </div>

      </md-list-item>
  </md-list>
</div>

<div class="widget_content--text"  ng-if="$ctrl.commentList.length <= 0">
  <p>There are no top comments</p>
</div>

<div class="widget_content--text"  ng-if="$ctrl.loading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
