<section flex="100">
	<div flex="100" layout="row">
	    <md-card layout-margin flex>
	    	<md-card-content flex>

	    		<header layout-margin>
					<md-icon md-svg-src="/themes/{{::themename}}/icons/thumb-up.svg" class="md-primary"></md-icon>
					<h1 class="md-subhead">AGREEMENT</h1>
				</header>

				<md-divider></md-divider>

				<section class="motion-comments" ng-repeat="comment in show.obj.comments.agree | orderBy: comment.commentRank" layout-padding>

					<header layout layout-align="front">
						<md-icon class="mdi mdi-account-circle"></md-icon>
						<h3 ng-bind="comment.user.public ? comment.user.first_name + ' ' + comment.user.last_name : 'Yellowknifer'" layout-padding></h3>
					</header>

					<p class="md-caption" ng-bind="show.formatDate(comment)"></p>
					<p class="md-body-1">{{ comment.text }}</p>

					<div ng-if="userIsLoggedIn && vote.user.position == 1" class="comment-votes" layout="row" layout-align="end center">
						
					    <div has-permission="create-comment_vote">
						    <md-button ng-click="commentVote.onclick(comment.id, 1, show.obj.comments.vote)" class="md-icon-button {{ commentVote.buttonClass(comment.id, '1', show.obj.comments.vote) }}" aria-label="Agree"> 
								<md-icon md-svg-src="/themes/{{::themename}}/icons/{{ commentVote.iconClass(comment.id, '1', show.obj.comments.vote) }}.svg"></md-icon>
							</md-button>

							<md-button ng-click="commentVote.onclick(comment.id, -1, show.obj.comments.vote)" class="md-icon-button {{ commentVote.buttonClass(comment.id, '-1', show.obj.comments.vote) }}" aria-label="Disagree">
								<md-icon md-svg-src="/themes/{{::themename}}/icons/{{ commentVote.iconClass(comment.id, '-1', show.obj.comments.vote) }}.svg"></md-icon>
							</md-button>	
						</div>

					</div>

					<md-divider ng-if="!$last" class="md-default-theme"></md-divider>
				</section>
			</md-card-content>
		</md-card>			       

	    <md-card layout-margin flex>
			<md-card-content flex>

	    		<header layout-margin>
					<md-icon md-svg-src="/themes/{{::themename}}/icons/thumb-down.svg" class="md-accent title-svg-icon"></md-icon>
					<h1 class="md-subhead">DISAGREEMENT</h1>

					<div ng-if="settingsGlobal.abstain">
						<md-icon md-svg-src="/themes/{{::themename}}/icons/thumbs-up-down.svg" class="title-svg-icon"></md-icon>
						<h1 class="md-subhead">/ ABSTAINED</h1>
					</div>
				</header>

				<md-divider></md-divider>
			
				<section class="motion-comments" ng-repeat="comment in show.obj.comments.disagree | orderBy: comment.commentRank" ng-class=" comment.vote.position == 0 ? 'abstained' : ''" layout-padding>
					
					<header layout layout-align="front">
						<md-icon class="mdi mdi-account-circle"></md-icon>
						<h3 class="title-header" ng-bind="comment.user.public ? comment.user.first_name + ' ' + comment.user.last_name : 'Yellowknifer'" layout-padding></h3>
					</header>

					<p class="md-caption" ng-bind="show.formatDate(comment)"></p>
					<p class="md-body-1">{{ comment.text }}</p>

					<div ng-if="userIsLoggedIn && vote.user.position != 1" class="comment-votes"  layout="row" layout-align="end center">

						<div has-permission="create-comment_vote">
						    <md-button ng-click="commentVote.onclick(comment.id, 1, show.obj.comments.vote)" class="md-icon-button {{ commentVote.buttonClass(comment.id, '1', show.obj.comments.vote) }}" aria-label="Agree"> 
								<md-icon md-svg-src="/themes/{{::themename}}/icons/{{ commentVote.iconClass(comment.id, '1', show.obj.comments.vote) }}.svg"></md-icon>
							</md-button>

							<md-button ng-click="commentVote.onclick(comment.id, -1, show.obj.comments.vote)" class="md-icon-button {{ commentVote.buttonClass(comment.id, '-1', show.obj.comments.vote) }}" aria-label="Disagree">
								<md-icon md-svg-src="/themes/{{::themename}}/icons/{{ commentVote.iconClass(comment.id, '-1', show.obj.comments.vote) }}.svg"></md-icon>
							</md-button>
						</div>	  

					</div>

					<md-divider ng-show="!$last" class="md-default-theme"></md-divider>
				</section>
		
			</md-card-content>
		</md-card>
	 </div>
 </section>
