@import 'variables';
@import 'vendor/vendor';
@import 'common/common';
@import 'components/components';
@import 'global/global';



*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

md-icon{
	height: auto;
}

/*Prevents duplicate issue SVG issue */
button md-icon svg:nth-child(2) {
	display: none !important;
}

.ios-flex-fix, * .ios-flex-fix, * > .ios-flex-fix{
	-webkit-flex: 1 0 auto !important;
	flex: 1 0 auto !important;
}


.main-nav-button {
	line-height: 64px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background: none;
    border-radius: 0;
    position: relative;
    margin: 0;
}

.md-whiteframe-z1, #maincontent, #footer{
	background-color: rgba(255,255,255, $backgroundTransparency) !important;
}

#footer{
	bottom:0px;
	background-color:$primaryDark;
}

.logo{
	margin: auto;
	display: block;
	margin-bottom: 30px;
}

.loading {
	md-card-content{
		filter: blur(5px) grayscale(0.5);
		transition-delay: 3s;
	}
}

#maincontent{

	p{
		line-height: 23px;
	}

	&.loading{
		md-card-content{
			filter: blur(5px) grayscale(0.5);
			transition-delay: 3s;
		}
		// position:absolute;
	}

	transition: 2s filter linear;
	position: relative;

	// md-grid-tile{
	// 	background-color: $midGrey;
	// 	md-icon{
	// 		width: 80%;
	// 		height: 80%;
	// 		text-align: center;
	// 	}
	// }

	.voting-disabled {
		md-icon {
			color: $midGrey !important;
		}
		&:hover{
			background-color:transparent !important;
			cursor: default;
			.md-focused {
				background-color: transparent;
			}
			.md-button {
				background-color: transparent;
			}
		}
	}

	.md-title{
		padding: 0px;
		margin: $padding/2;
	}

	// p.md-body-1{
	// 	margin: $padding/2;
	// }

}

/** Sidebar Styles **/
md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 304px !important;
    height: 91vh;
    width: 85vw !important;
    max-width: 400px !important;


	.quick-vote-disabled{
		cursor: default; color: $midGrey;
	}

    motion-sidebar{

		md-list-item{

			> md-icon:first-child{
				margin-top:0px;
				margin-bottom: 0px;
			}

			md-icon.department{
				margin-right:18px;
			}

			&.active {
				font-weight: 600; background-color: $lightGrey;
			}
		}

		.ellipsis {
    		overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 294px;
		}

	}
}

.sidebar-toolbar {
	padding-right:0px;
	> md-icon:first-child .md-icon-button{
		min-width: 48px;
	}
	.motion-enabled {
		max-width: 400px; min-width: 400px;
	}
	.mdi-magnify {
		position:relative; left: 9px;
	}
	.mdi-dots-vertical {
		margin: 0;
	}
	md-menu {
		margin: 0;
		.search-icon {
			left:10px; margin: 0; margin-bottom: 4px; margin-right: 17px;
		}
		md-select {
			margin: 4px;
		}
	}
	h2 {
		position: relative; top: 5px;
	}
}

.motion-search {
	max-width: 400px;
	input {
		color:black; font-size: 16px; border-bottom: black thin solid; width: 80%;
	}
}

.search-icon {
 	position: relative;
  	right: 0px;
  	transition: transform 1s;
   	-o-transition:	all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  	-moz-transition:	 all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  	transform: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  	&:hover {
	  	cursor: pointer;
  		font-size:26px;
	}
}
input.sidebar-search-input {

	border: 0px;
	background-color: transparent;
	color: white;
	font-size: inherit;
    border-style: solid;
    line-height: 120%;
    border-bottom: thin solid;
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		font-size: 16px;
	    color:    $white;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-size: 16px;
	   	color:    $white;
	   	opacity:  1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-size: 16px;
	   	color:    $white;
	   	opacity:  1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		font-size: 16px;
	   	color:    $white;
	}
	&.toolbar {
		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			font-size: 16px;
		    color:    $darkGrey;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			font-size: 16px;
		   	color:    $darkGrey;
		   	opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			font-size: 16px;
		   	color:    $darkGrey;
		   	opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			font-size: 16px;
		   	color:    $darkGrey;
		}

	}
}

/** End sidebar Styles **/

/** Toolbar styles **/
.md-toolbar-tools{
	md-menu{
		.md-button, md-icon{
			text-align: right;
			margin-right:0px;
		}
	}
}

md-menu-item{
	> .md-button md-icon {
		margin: auto 0px auto 3px;
		padding-top: 3px;
	}
	p{
		padding-top: 6px;
	}
}

.cog{
  -o-transition:	  $cubicBezierFadeIn;
  -moz-transition:	  $cubicBezierFadeIn;
  -webkit-transition: $cubicBezierFadeIn;
  transition:         $cubicBezierFadeIn;
  	&:hover{
		-o-transition:rotate(40deg);
	    -moz-transition:rotate(40deg);
		-webkit-transform: rotate(40deg);
	    transform: rotate(40deg);
  	}
}

// user bar menu stuff
.userbar__menu-header {
	margin-bottom: 0;

}
/** End toolbar Styles **/


//animation for accordian
.accordian{
	margin-left:15px;
	&.opened {
		transition: .1s;
		border-bottom: $primaryColor 2px solid;
	}
	&.closed {
		transition: .2s;
		border-bottom: none;
	}
	.accordian-content {
		transition: .2s;
	}
	h3 {
		display:inline-block;
	}
}
// end accordian

// start comment
#display-comments {


	section.motion-comments {
		p, h4, i{
			display:inline;
		}
		div{
			float: right;
			color: grey;
		}
		p.md-caption {
			float: right; position: relative; top: 23px;
		}
		p.md-body-1 {
			display: block;
		}
	}
}

#comment {
	header {
		h1, h2, h3 { margin-top: 10px; }
	}

	.inline-action-buttons {
		.md-icon-button {
			position: relative;
		}
		md-button {
			max-width: 35px; max-height: 35px;
			md-icon {
				@extend .title-icon;
			}
		}
		> md-button:first-child {
			right: 5px !important;
		}
		> md-button:last-child {
			right: 30px !important;
		}
	}
	// .comment-votes{
	// 	display: inline-block; margin-right: 10px; float: right !important;
	// 	md-icon {
	// 		@extend .title-svg-icon;
	// 	}
	// }
}

.imagecredit{
	text-align: right;
	padding:$padding;
	color:#fff;
	text-shadow: 0px 0px 5px #000000;

	a{
		color: #fff;
	}
}


// user stuff
.edit-user-profile {
	.mdi-pencil, .mdi-content-save {
  		cursor: pointer;
		font-size: 18px;
		margin-top: 29px;
		display: inline-block;
		&:hover { color: $primaryColor; }
	}
	md-select { margin-top: 0; }
	md-progress-circular { margin: 20px 0 0 0; }
	input[disabled] {
		color: black;
		background-image:none;
	}
}

.profile-toolbar {
	background-color: $lightGrey !important;
	h2 {
		color:black;
	}
	.toolbar-avatar{
		font-size: 120px;
		margin: 5px 100px 0 5px;
	}
	.toolbar-name{
		margin-top: 15px;
	}
	p {
		color: $darkGrey;
	}
}

.profile-display {
	md-icon {
		position: relative;
		bottom: 3px !important;
	}
}
// end user stuff


//temp
.home {
	md-card {margin: 10px;}
	md-card-content { padding: 10px;}
	md-list{
		padding:0;
		a{
			padding:10px; margin:0;
		}
	}
}

.inline-save-icons {
	md-icon {
		display:inline-block;
		position: relative;
		cursor: pointer;
		font-size: 17px !important;
		left: -1px !important;
		bottom: 1px !important;
	}
}

#loading-bar .bar {
	background-color: $accentColor !important;
}

#notification {
	background-color: $primaryLight;
	position: relative;
	top: -9px;
	p{
		color: 	$white;
		font-weight: 500;
		line-height: 23px;
	}
	button{
		font-weight: 600px;
	}
}

#dashboard {
	.title {
		cursor:pointer;
	}
	.department-manager {
		input[disabled] {
			color: black;
			background-image: none;
		}
	}
}

// style preset for md-card style that emulates angular.io's material style.
.inline-icon {
	display:inline-block;
	position: relative;
	cursor: pointer;
	font-size: 17px !important;
	left: -1px !important;
	bottom: 1px !important;
}
.title-icon {
	@extend .inline-icon;
	font-size: 19px !important;
	left: 3px !important;
	vertical-align:inherit;
}
.title-header{
	font-size: 16px; margin-bottom: 18px; display:inline-block;
	opacity: .87;
}
.title-subhead{
	@extend .title-header;
	font-size: 14px;
	color: $darkGrey;
}
.title-svg-icon {
	display:inline-block;
	width: 18px;
}
