// @import 'materialoverrides'


/* variables */
$primaryColor: rgb(0,172,177);
$primary-color: rgb(0,172,177);

$accent: rgb(255,118,0);

$darkGrey: #666666;
$midGrey: #cccccc;
$lightGrey:  #f2f2f2;

$padding: 16px;

$backgroundTransparency: 0;

$cubicBezierFadeIn:  all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);



//temp
.home {
	md-card {margin: 10px;}
	md-card-content { padding: 10px;}
	md-list{
		padding:0;
		a{
			padding:10px; margin:0;
		}
	}
}

.inline-save-icons {
	md-icon {
		display:inline-block; 
		position: relative; 
		cursor: pointer;
		font-size: 17px !important; 
		left: -1px !important; 
		bottom: 1px !important;		
	}
}

#dashboard {
	.title {
		cursor:pointer;
	}
	.department-manager {
		input[disabled] {
			color: black;
			background-image: none;
		}
	}
}

// style preset for md-card style that emulates angular.io's material style.
.inline-icon {
	display:inline-block; 
	position: relative; 
	cursor: pointer;
	font-size: 17px !important; 
	left: -1px !important; 
	bottom: 1px !important;
}	
.title-icon {
	@extend .inline-icon;
	font-size: 19px !important; 
	left: 3px !important; 
	vertical-align:inherit;
}
.title-header{
	font-size: 16px; margin-bottom: 18px; display:inline-block;
}
.title-subhead{
	@extend .title-header;
	font-size: 14px;
	color: $darkGrey;
}
.title-svg-icon {
	display:inline-block; 
	width: 18px;
}
.fab-tool-animate {
  transition-duration: .5s;
   -o-transition:	all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition:	 all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

p.beta-message {
	font-size: 11px; 
	color: white; 
	margin-top:0px; 
	padding-top:5px; 
	padding-left:16px;
}

@media screen and (max-width:320px) {
	p.beta-message {
		font-size: 10px;
		padding-left:8px;
	}
}	
// end temp


// Element Overrides
html,body{
	min-height: 100% !important;
}

body{
	height: auto; /* If the height is auto the background image moves and scrollbars show up on things */
	overflow: hidden;
}

md-caption.imagecredit{
	text-align: right;
	padding:$padding;
	color:#fff;
	text-shadow: 0px 0px 5px #000000;

	a{
		color: #fff;
	}
}

img {max-width:100%;}

header {

	.inline-icon {
		display:inline-block; 
		position: relative; 
		cursor: pointer;
		font-size: 17px !important; 
		left: -1px !important; 
		bottom: 1px !important;
	}	
	md-icon {
		@extend .inline-icon;
		cursor: default;
		font-size: 19px !important; 
		left: 3px !important; 
		vertical-align:inherit;
	}
	&md-icon[md-svg-src] {
		display:inline-block; 
		width: 18px;
	}
	h1, h2, h3 {
		font-size: 16px; margin-bottom: 18px; display:inline-block;
	}
	h4, h5, h6{
		@extend .title-header;
		font-size: 14px;
		color: $darkGrey;
	}
}

/*Prevents duplicate issue SVG issue */
button md-icon svg:nth-child(2) {
	display: none !important; 
}

form{
  	margin-bottom: 0em;
}

*:focus {
    outline: none;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Angular Material overrides
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-toast{
	position: fixed;
}

ng-message{
	position:relative;
}

[layout-margin]{
	margin: $padding/2;
}

[layout-padding]{
	padding: $padding/2;
}

md-fab-toolbar.md-right md-fab-trigger{
	right:$padding/2;
}

md-card{
	margin: 0;
	md-card-content {
		padding: 0;
	}
}

md-progress-linear {
	> div:first-child {
		height: 3px;
	}
}

md-progress-circular {
	margin: auto;
}

md-sidenav{
 	background-color: rgba(255,255,255,1) !important;	
} 

// for toolbar shadow
md-sidenav.md-locked-open {
	z-index: 0;
}

.mdi {
  font-size:24px;
}

// fix of hiding menu container behind shit.
.md-select-menu-container  {
	z-index: 999;
}
.md-backdrop-select {
	z-index: 999;
}

// End Angular Material overrides

.background-image{
	background-position: center center;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-nav-button {
	line-height: 64px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background: none;
    border-radius: 0;
    position: relative;
    margin: 0;
}

.md-whiteframe-z1, #maincontent, #footer{
	background-color: rgba(255,255,255, $backgroundTransparency) !important;
}

.loginbox{
	background-color: rgba(255,255,255, .8) !important;
}

#footer{
	bottom:0px;
	background-color:#f00;
}

.logo{
	margin: auto;
	display: block;
	margin-bottom: 30px;
}

#maincontent{
	
	height: 93vh;

	&.loading{
		.loginbox, md-card-content{
			filter: blur(5px) grayscale(0.5);
			transition-delay: 3s;
		}
		position:absolute;
	}

	transition: 2s filter linear;
	position: relative;

	md-grid-tile{
		background-color: $midGrey;
		md-icon{
			width: 80%;
			height: 80%;
			text-align: center;		
		}
	}

	.bio {
		display: inline-block;
		img {
			width: 100px !important; height:auto !important; vertical-align: top;
		}
		span {
			display: inline-block;
		}
		p, a, i {
			display: block;
		}
	}

	.budget {
		p {
			display: block;
		}
	}

	.voting{

	    transition: all 0.3s ease;
	    opacity: 1;

	    &.ng-hide-add, 
	    &.ng-hide-remove{ 
	        display: inline-block !important;
	    }

	    &.ng-hide{
	        opacity: 0;
	    }

		button{
			margin: 0px;
			height: 100px;
		}

		md-icon{
			height: 80%;
			width: 25%;
		}
		.raised {
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		}
		.statusbar button.md-raised.md-button.md-default-theme{
			border-radius: 0px;
			margin: 8px;
			display: block !important;
			.deferred-agree{
				background-color: #22e7ec;
			}
			.deferred-disagree {
				background-color: #ff9a00;
			}
		}
	}

	.voting-disabled {
		md-icon {
			color: $midGrey !important;
		}
		&:hover{
			background-color:transparent !important;
			cursor: default;
			.md-focused {
				background-color: transparent;
			}
			.md-button {
				background-color: transparent;
			}
		}
	}

	.md-title{
		padding: 0px;
		margin: $padding/2;	
	}

	p.md-body-1{
		margin: $padding/2;
	}

}


/** Sidebar Styles **/
md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 304px !important;
    height: 90vh;
    width: 85vw !important;
    max-width: 400px !important;


	.quick-vote-disabled{
		cursor: default; color: $midGrey;
	}

    motion-sidebar{

		md-list-item{

			> md-icon:first-child{
				margin-top:0px;
				margin-bottom: 0px;
			}

			md-icon.department{
				margin-right:18px;
			}

			&.active {
				font-weight: 600; background-color: $lightGrey;
			}
		}

		.ellipsis {
    		overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 294px;
		}

	}
}

.sidebar-toolbar {
	padding-right:0px;
	> md-icon:first-child .md-icon-button{
		min-width: 48px;
	}
	.motion-enabled {
		max-width: 400px; min-width: 400px;
	}
	.mdi-magnify {
		position:relative; left: 9px;
	}
	.mdi-dots-vertical {
		margin: 0;
	}
	md-menu {
		margin: 0;
		.search-icon {
			left:10px; margin: 0; margin-bottom: 4px; margin-right: 17px;
		}
		md-select {
			margin: 4px;
		}
	}
	h2 {
		position: relative; top: 5px;
	}
}

.motion-search {
	max-width: 400px;
	input {
		color:black; font-size: 16px; border-bottom: black thin solid; width: 80%;
	}
}

.search-icon {
 	position: relative;
  	right: 0px;
  	transition: transform 1s;
   	-o-transition:	all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  	-moz-transition:	 all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  	transform: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  	&:hover {
	  	cursor: pointer;
  		font-size:26px;
	}
}
input.sidebar-search-input {
	border: 0px;
	background-color: transparent;
	color: white;
	font-size: inherit;
    border-style: solid;
    line-height: 120%;
    border-bottom: thin solid white;
	
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		font-size: 16px;
	    color:    $lightGrey;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-size: 16px;
	   	color:    $lightGrey;
	   	opacity:  1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-size: 16px;
	   	color:    $lightGrey;
	   	opacity:  1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		font-size: 16px;
	   	color:    $lightGrey;
	}
}
/** End sidebar Styles **/

/** Toolbar styles **/
md-toolbar.site-content-toolbar{
	padding:0px;
	md-toolbar-filler {
		margin-right: 21px;		
		&.motion-enabled {
			max-width: 400px;
			min-width: 400px;
		}
	}
	//animation for menu button
	.mdi-menu-up{
		transition: .3s;
	}
	.go-up {
		transform: rotate(180deg);
		transition: .3s;
	}
}

.md-toolbar-tools{
	md-menu{
		.md-button, md-icon{
			text-align: right;
			margin-right:0px;
		} 
	}
}

md-menu-item{
	> .md-button md-icon {
		margin: auto 0px auto 3px;
		padding-top: 3px;
	}
	p{
		padding-top: 6px;
	}
}

.cog{
  -o-transition:	  $cubicBezierFadeIn;
  -moz-transition:	  $cubicBezierFadeIn;
  -webkit-transition: $cubicBezierFadeIn;
  transition:         $cubicBezierFadeIn;
  	&:hover{
		-o-transition:rotate(40deg);
	    -moz-transition:rotate(40deg);
		-webkit-transform: rotate(40deg);
	    transform: rotate(40deg);
  	}
}
// End


//animation for accordian
.accordian{
	margin-left:15px;
	&.opened {
		transition: .1s;
		border-bottom: $primaryColor 2px solid;
	}
	&.closed {
		transition: .2s;
		border-bottom: none;
	}
	.accordian-content {
		transition: .2s;
	}
	h3 {
		display:inline-block;
	}
	.mdi-menu-up{
		transition: .3s;
	}
	.go-up {
		transform: rotate(180deg);
		transition: .3s;
	}
}
// end accordian 

// start comment
#display-comments {

	margin: 0;
	header {
		text-align:center;
		h1 {
			letter-spacing: 0.3px;
		    position: relative; 
			bottom: 12px;
		}
		md-icon {
			margin-left: 4px; margin-right: 1px;
		}
		> md-icon:last-child {
			margin-right: 3px
		}
	}

	div.motion-comments {
		p, h4, i{
			display:inline;
		}
		div{
			float: right;
			color: grey;
		}
		p.md-caption {
			float: right; position: relative; top: 23px;
		}
		p.md-body-1 {
			display: block;
		}
		&.abstained {
			background-color: $lightGrey;
		}
	}
	div.comment-votes {
		padding: 0;
		md-button {
			margin: 0;
		}
		p.md-caption {
			margin-bottom:0 !important; margin-top: 11px !important;
		}
	}
}

#comment {
	header {
		h1, h2, h3 { margin-top: 10px; }
	}

	.inline-action-buttons {
		.md-icon-button {
			position: relative;
		}
		md-button {
			max-width: 35px; max-height: 35px;
			md-icon {
				@extend .title-icon;
			}
		}
		> md-button:first-child {
			right: 5px !important;
		}
		> md-button:last-child {
			right: 30px !important;
		}
	}
	.comment-votes{
		display: inline-block; margin-right: 10px; float: right !important;
		md-icon {
			@extend .title-svg-icon;
		}
	}
}


// user stuff 
.edit-user-profile {
	.mdi-pencil, .mdi-content-save {
  		cursor: pointer;	
		font-size: 18px;
		margin-top: 29px;
		display: inline-block;
		&:hover { color: $primaryColor; }
	}
	md-select { margin-top: 0; }
	md-progress-circular { margin: 20px 0 0 0; }
	input[disabled] {
		color: black;
		background-image:none;
	}
}

.profile-toolbar {
	background-color: $lightGrey !important;
	h2 {
		color:black; 
	}
	.toolbar-avatar{
		font-size: 120px;
		margin: 5px 100px 0 5px;
	}
	.toolbar-name{
		margin-top: 15px;
	}
	p {
		color: $darkGrey;
	}
}

.profile-display {
	md-icon {
		position: relative;
		bottom: 3px !important;
	}
}
// end user stuff
