
/* variables */
$primaryColor: rgb(0,172,177);
$accentColor: rgb(255,118,0);

$darkGrey: #666666;
$midGrey: #cccccc;
$lightGrey:  #f2f2f2;

$padding: 16px;


html{
	height: 100%;
	
}

body{
	height: auto;

}

html,body{
	min-height: 100% !important;
}

a{
	text-decoration: none;
	font-weight: 700;
	color:$accentColor;
}

md-caption.imagecredit{
	text-align: right;
	padding:$padding;
	color:#fff;
	text-shadow: 0px 0px 5px #000000;

	a{
		color: #fff;
	}
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

 *:focus {
    outline: none !important;
 }

.background-image{
	background-position: center center;
	background: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


@font-face{font-family:'MaterialDesignIcons';
src:url("/fonts/materialdesignicons-webfont.eot?v=1.1.70");src:url("/fonts/materialdesignicons-webfont.eot?#iefix&v=1.1.70") format("embedded-opentype"),url("/fonts/materialdesignicons-webfont.woff2?v=1.1.70") format("woff2"),url("/fonts/materialdesignicons-webfont.woff?v=1.1.70") format("woff"),url("/fonts/materialdesignicons-webfont.ttf?v=1.1.70") format("truetype"),url("/fonts/materialdesignicons-webfont.svg?v=1.1.70#materialdesigniconsregular") format("svg");font-weight:normal;font-style:normal}

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mdi {
  display: inline-block;
  font: normal normal normal 24px/1 MaterialDesignIcons;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.mdi-small {
  display: inline-block;
  font: normal normal normal 15px/1 MaterialDesignIcons;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.mdi-big {
  display: inline-block;
  font: normal normal normal 120px/1 MaterialDesignIcons;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }


/*Prevents duplicate issue SVG issue */
button md-icon svg:nth-child(2) {
	display: none !important; 
}



form{
  margin-bottom: 0em;
}

.md-whiteframe-z1, .loginbox, md-sidenav, #maincontent{
	background-color: rgba(255,255,255,0.6) !important;
}

.logo{
	margin: auto;
	display: block;
	margin-bottom: 30px;
}


#maincontent{

	

	&.loading{
		section{
			filter: blur(5px) grayscale(0.5);
		}

		position:absolute;

		.loading_animation{
		
		}
	}

	.loading_animation{
		height:250px;
		display:absolute;
		z-index:999;
/*	position:absolute; */
	}

	transition: 1s filter linear;


	padding: $padding/2;



	md-grid-tile{
		background-color: $midGrey;


		md-icon{
			width: 80%;
			height: 80%;
			text-align: center;		
		}

		&.thumb_up md-icon{
			color: $primaryColor;

		}

		&.thumb_down md-icon{
			color: $accentColor;
		}
	}

	.voting{
		button{
			margin: 0px;
			height: 100px;
		}

		md-icon{
			height: 80%;
			width: 25%;
		}

		.agree md-icon{ 
			color: $primaryColor;
		}
		
		.disagree md-icon{
			color: $accentColor;
		}

		.statusbar button.md-raised.md-button.md-default-theme{
			border-radius: 0px;
			margin: 0;
			display: block !important;
		}

	}

	.comments md-list-item.md-no-proxy{
		padding: 0px;

		.abstained{
			background: $lightGrey !important;

		}
	}

	md-toolbar.section-toolbar.md-default-theme{
		background-color: $lightGrey;
	}

	md-toolbar.section-toolbar.md-default-theme h3{
		color: $darkGrey;
	}

	.md-title{
		padding: 0px;
		margin: $padding/2;	
	}

	p.md-body-1{
		margin: $padding/2;
	}

}


 

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 304px !important;
    width: 85vw !important;
    max-width: 400px !important;


    sidebar{

		md-list-item{
			cursor: pointer;

			p{
				display: block;
				padding-top:16px;
				padding-bottom: 16px;
			}

			> md-icon:first-child{
				margin-top:0px;
				margin-bottom: 0px;
			}

			min-height: 0;

			&.active {
				font-weight: 600;
				background-color: $lightGrey;
			}
		}
		md-list{
			padding: 0;
		}
	}
}

md-toolbar.site-content-toolbar{
	padding:0px;

}

// .md-toolbar-tools md-icon{
// 	width:24px;
// 	display: block;
// 	margin-bottom: 12px;
// 	margin-left: 0px;
// 	margin-right: 32px;
// 	margin-top: 12px;
// }


md-toolbar.md-warn{
	.md-toolbar-tools{
		height: auto;
		max-height: none;
	}

}

.md-toolbar-tools{
	md-menu{
		.md-button, md-icon{
			text-align: right;
			margin-right:0px;
		} 
	}
}

md-menu-item{
	
	> .md-button md-icon {
		margin: auto 0px auto 3px;
			padding-top: 3px;
	}

	p{
		padding-top: 6px;
	}

}

md-input-container ng-message, md-input-container data-ng-message, md-input-container x-ng-message, md-input-container [ng-message], md-input-container [data-ng-message], md-input-container [x-ng-message], md-input-container .md-char-counter {
position: relative; //INSTEAD OF ABSOLUTE
font-size: 12px;
line-height: 24px; }


md-toast{
	position: fixed;
}

ng-message{
	position:relative;
}

[layout-margin]{
	margin: $padding/2;
}

[layout-padding]{
	padding: $padding/2;
}

md-fab-toolbar.md-right md-fab-trigger{
	right:$padding/2;
}

md-card{
	margin: $padding;
}

img {max-width:100%;}

.random-motion-image {
	max-width: 100% !important;
}