<section style="margin: 0">
  <div flex="100" layout="row" class="voting">
    <md-card style="margin: 8px; margin-left: 0px" flex>
      <md-card-content style="padding: 0">
            <md-button ng-click="v.castVote(motion.details.id, 1)" ng-class="{'raised':v.voteObj.user.position == 1, 'voting-disabled':v.isVotingEnabled() }" aria-label="Agree" layout-fill>
              <md-icon ng-class="{ 'md-primary':v.voteObj.user.position == 1 }" md-svg-src="/themes/{{::themename}}/icons/{{ v.voteObj.user.position==1 && 'thumb-up' || 'thumb-up-outline' }}.svg" ng-show="!v.voting[1]"></md-icon>
              <md-icon md-svg-src="/themes/{{::themename}}/loading.svg" ng-show="v.voting[1]"></md-icon>
            </md-button>

            <md-tooltip>{{ v.voteButtonMessage(v.voting, 'Agree with this ') }}</md-tooltip>

      </md-card-content>
    </md-card>


    <md-card style="margin: 8px;" flex ng-if="settingsGlobal.abstain">
      <md-card-content style="padding: 0">
          <md-button  ng-click="v.castVote(motion.details.id, 0)" ng-class="{'raised':v.voteObj.user.position == 0, 'voting-disabled':v.isVotingEnabled()}" aria-label="Abstain" layout-fill>
            <md-icon md-svg-icon="/themes/{{::themename}}/icons/{{ v.voteObj.user.position==0 && 'thumbs-up-down' || 'thumbs-up-down-outline' }}.svg" ng-show="!v.voting[0]"></md-icon>
            <md-icon md-svg-icon="/themes/{{::themename}}/loading.svg" ng-show="v.voting[0]"></md-icon>             
          </md-button>  

            <md-tooltip>{{ v.voteButtonMessage(v.voting, 'Abstain on this ') }}</md-tooltip>
      </md-card-content>
    </md-card>


        <md-card style="margin: 8px; margin-right: 0px" flex>
      <md-card-content style="padding: 0">
        <md-button ng-click="v.castVote(motion.details.id, -1)" ng-class="{'raised':v.voteObj.user.position == -1, 'voting-disabled':v.isVotingEnabled()}" aria-label="Disagree" layout-fill>
            <md-icon ng-class="{'md-accent':v.voteObj.user.position == -1}" md-svg-src="/themes/{{::themename}}/icons/{{ v.voteObj.user.position=='-1' && 'thumb-down' || 'thumb-down-outline' }}.svg" ng-show="!v.voting[-1]"></md-icon>
            <md-icon md-svg-src="/themes/{{::themename}}/loading.svg" ng-show="v.voting[-1]"></md-icon>
          </md-button>   

            <md-tooltip>{{ v.voteButtonMessage(v.voting, 'Disagree with this ') }}</md-tooltip>


      </md-card-content>
    </md-card>
  </div>
</section>

<section style="margin: 0">
    <div class="statusbar" layout="row" layout-align="center center" flex> 

        <md-button ng-if="v.voteObj.votes['1'] && v.voteObj.votes['1'].active" style="width:{{ v.voteObj.votes['1'].active.percent }}%; margin:0" class="agree md-raised md-primary" aria-label="Number in agreement">
          <md-tooltip>{{ v.voteObj.votes['1'].active.number }} {{vm.motionOpen ? ('AGREE' | translate) : ('AGREED' | translate) }} </md-tooltip>
        </md-button>

        <md-button ng-if="v.voteObj.votes['1'] && v.voteObj.votes['1'].passive" style="width:{{ v.voteObj.votes['1'].passive.percent }}%; background-color:#00dbd5; margin:0" class="md-raised" aria-label="Number in deferred agreement">
          <md-tooltip>{{ v.voteObj.votes['1'].passive.number }} {{ 'AGREE_DEFERRALS' | translate}}</md-tooltip>
        </md-button>

        <span ng-if="settingsGlobal.abstain">
          <md-button ng-if="v.voteObj.votes['0'] && v.voteObj.votes['0'].active" style="width:{{ v.voteObj.votes['0'].active.percent }}%; margin:0"  class="abstain md-raised md-grey; margin:0" aria-label="Number abstaining">
            <md-tooltip>{{ v.voteObj.votes['0'].active.number }} {{ vm.motionOpen? ('ABSTAIN' | translate) : ('ABSTAINED' | translate) }}</md-tooltip>
          </md-button>

          <md-button ng-if="v.voteObj.votes['0'] && v.voteObj.votes['0'].passive"  style="width:{{  v.voteObj.votes['0'].passive.percent }}%; background-color: #c3c3c3; margin:0" class="deferred_abstain md-raised md-primary" aria-label="Number in deferred abstained">
            <md-tooltip>{{ v.voteObj.votes['0'].passive.number }} {{ 'ABSTAIN_DEFERRALS' | translate }} </md-tooltip>
          </md-button>
         </span>

        <md-button ng-if="v.voteObj.votes['-1'] && v.voteObj.votes['-1'].passive"  style="width:{{ v.voteObj.votes['-1'].passive.percent }}%; background-color: #ff9a00; margin:0" class="deferred-disagree md-raised md-primary" aria-label="Number in deferred agreement">
          <md-tooltip>{{ v.voteObj.votes['-1'].passive.number }} {{ 'DISAGREE_DEFERRALS' | translate }} </md-tooltip>
        </md-button>


        <md-button ng-if="v.voteObj.votes['-1']" style="width:{{ v.voteObj.votes['-1'].active.percent }}%; margin:0" class="disagree md-raised md-accent" aria-label="Number in disagreement">
          <md-tooltip>{{ v.voteObj.votes['-1'].active.number }} {{ vm.motionOpen ? ('DISAGREE' | translate) : ('DISAGREED' | translate) }} </md-tooltip>
        </md-button>

    </div>
</section>