<md-content id="maincontent" layout="column" fill-layout>

<!-- preview image html -->
<div ui-view></div>

<!-- upload html begins --> 
  <section class="md-whiteframe-z1" style="margin:8px" ng-if="!$state.includes('backgroundimage.preview')">
    <md-toolbar class="section-toolbar">
      <div class="md-toolbar-tools">
        <h3 translate="{{'UPLOAD_BACKGROUND_IMG'}}"></h3>
      </div>
    </md-toolbar>
    <div layout="column" >
      <div flex="90" flex-sm="100" flex-order="2" flex-order-gt-sm="1" layout-padding ></div>
      <div flex="10" flex-sm="100" flex-order-sm="1"  flex-order="1" flex-order-gt-sm="2"  layout-padding>
      <form name="uploadfile">

      <md-input-container>

                <md-icon class="mdi" md-font-icon="mdi-account" ></md-icon>
        <input ng-model="background.credited" translate translate-attr-placeholder="WHO_TOOK_THIS" aria-label="input field to put in who took the photo" required/>
      </md-input-container>

      <md-input-container>
                <md-icon class="mdi" md-font-icon="mdi-link" ></md-icon>
       <input ng-model="background.url" translate translate-attr-placeholder="EXAMPLE_WEBSITE" aria-label="input field for image url source" required/>
      </md-input-container>

 
      <div flow-init="" flow-files-submitted="background.upload($flow)" layout layout-sm="column">
      <md-input-container>
                <md-icon class="mdi" md-font-icon="mdi-file-image-box" ></md-icon>
        <input aria-label="backgroundImageFile upload" type="file" style="position:absolute" flow-btn/>
      </md-input-container>
      <span flex="30"></span>
        <p class="md-body-1" ng-repeat="file in $flow.files">{{file.name}}</p>
      <div ng-show="background.preview" style="display:inline-block;width:300px;height:200px" >
        <img flow-img="$flow.files[0]" />
      </div>
      </div>

      <div layout layout-sm="column">
        <md-button ng-click="background.uploadFile(); background.uploading = true" ng-hide="background.uploading" type="submit" translate="{{'SUBMIT'}}" aria-label="submit button"></md-button>
        <md-button aria-label="loading" ng-show="background.uploading"> <md-icon class="mdi" md-svg-src="/themes/default/loading.svg" ></md-icon>
        </md-button>

        <has-permission has-permission="administrate-background_images">
        <md-checkbox ng-model="background.isactive" ng-true-value="1" ng-false-value="0" aria-label="Checkbox to set active">
            {{'ACTIVE' |  translate}}<md-tooltip>{{'DAILY_CYCLE_TOOLTIP' | translate}}</md-tooltip>
        </md-checkbox>
         <div ng-messages="{warning:background.showError}">
          <div ng-message="warning">{{'UPLOAD_PHOTO_ERROR' | translate}}</div>
         </div>
         </has-permission>
        

      </div>
      </form>
      </div>
      
      </div>  
    </section>
  </md-content>