<md-card class="comment-list__container" layout-margin flex>
	<md-card-content flex>

	<span layout="row" layout-md="column" layout-sm="column" layout-xs="column" layout-align="center center">
		<header layout-margin>
			<md-icon md-svg-src="thumb-down" class="md-accent title-svg-icon"></md-icon>
			<h1 class="md-subhead">DISAGREEMENT</h1>
		</header>
	</span>

		<md-divider></md-divider>

		<section class="comment-list__list-item-container" ng-repeat="comment in motion.motionComments.disagreeComments | orderBy:'-commentRank'" layout-padding>

			<header layout layout-align="front" class="comment-list__list-item-header">
				<md-icon class="mdi mdi-account-circle"></md-icon>
				<h3 class="title-header" ng-bind="comment.user.public ? comment.user.first_name + ' ' + comment.user.last_name : 'Yellowknifer'" layout-padding></h3>
        <h3 class="title-header" ng-bind="comment.commentRank === 1 ? comment.commentRank + ' ' + 'Point' : comment.commentRank + ' ' + 'Points'" layout-padding></h3>
      </header>

			<div class="comment-list__list-item">
				<p class="md-caption comment-list__list-item-date" ng-bind="show.formatDate(comment)"></p>
				<p class="md-body-1 comment-list__list-item-text">{{ comment.text }}</p>
				<comment-vote ng-if="motion.userVote.position == -1" comment-id="comment.id"></comment-vote>
			</div>

			<md-divider ng-show="!$last" class="md-default-theme"></md-divider>

		</section>


		<section class="comment-list__list-item-container zero-comments" ng-show="motion.motionComments.disagreeComments.length == 0">
			<div>
				<md-icon class="mdi mdi-microphone-off title-icon"></md-icon>
				<h1 class="md-subhead title-header">No comments have been made for disagree.</h1>
			</div>
		</section>

	</md-card-content>
</md-card>
