<md-card>
	<md-card-content layout-padding>
	<form name="editHome" ng-submit="edit.save()">

		<textarea alloy-editor flow-init id="homepage-editor" ng-model="edit.settings.home.introduction.text"></textarea>

		<spinner layout layout-align="center end"
				 form-name="editHome" name="'Save'" on-hide="edit.settings.saving"
			 	 secondary-btn="{control: edit.cancel, name: 'Cancel'}">
		</spinner>
	</form>
	</md-card-content>
</md-card>


<!-- TODO: HOME PAGE WIDGETS


	<md-card>
		<md-card-content layout-padding>

		<div class="title" ng-click="showHomePageWidgets = !showHomePageWidgets">
			<md-icon class="mdi mdi-google-pages title-icon"></md-icon>
				<h3 class="title-header">Home Page Widgets</h3>
		</div>


		<div ng-if="showHomePageWidgets">
		    <ul>
			    <li>
			    	<a style="cursor:pointer">Introduction</a>
				    	<md-icon ng-click="editHomeIntro = !editHomeIntro" class="mdi mdi-pencil inline-icon" style="left: 5px !important"></md-icon>
				    	<md-icon ng-click="editHomeIntro = !editHomeIntro"  class="mdi mdi-delete inline-icon"></md-icon>
			    </li>
		    </ul>

		    <form layout="column" ng-if="editHomeIntro" flex>

		    	<md-input-container>
		    		<label>Display Icon</label>
		    		<md-icon md-svg-src="{{ content.settings.home.introduction.icon }}"></md-icon>
		    		<input type='file' ng-model='content.settings.home.introduction.icon'/>
	    		</md-input-container>
				<md-input-container>
		    		<label>Title</label>
		    		<input type='text' ng-model='content.settings.home.introduction.title'/>
	    		</md-input-container>
	    		<text-angular ng-model='content.settings.home.introduction.text' ta-file-drop="taDropHandler"></text-angular>


				<spinner ng-click="content.service.saveTypeOf('home.introduction', content.settings.home.introduction)" name="'Save'" on-hide="content.settings.saving"></spinner>

		    </form>


		    <div ng-if="!editHomeIntro">
				<h2 class="title-subhead">Display</h2>

				<div layout="column" style="margin-top: 15px">
				    <md-checkbox ng-model="content.settings.home.widgets.your_votes">Your votes</md-checkbox>
				    <md-checkbox ng-model="content.settings.home.widgets.your_comments">Your comments</md-checkbox>
				    <md-checkbox ng-model="content.settings.home.widgets.top_comments">Top comments</md-checkbox>
				    <md-checkbox ng-model="content.settings.home.widgets.top_motions">Top {{ 'MOTIONS' | translate | lowercase }}</md-checkbox>
			    </div>

				<spinner ng-click="content.service.saveTypeOf('home.widgets', content.settings.home.widgets)" name="'Save'" on-hide="content.settings.saving"></spinner>
			</div>

	    </div>
		</md-card-content>
	</md-card>
 -->