<div layout="row" layout-align="end center"> 
    <md-button ng-mousedown="vm.checkCommentVotes(comment, 1, vm.thisUsersCommentVotes)" class="md-icon-button" ng-class="{'md-primary':comment.this_users_comment_vote == 1}" aria-label="Agree"> 
		<md-icon md-svg-src="/themes/default/icons/{{ comment.this_users_comment_vote == '1' && 'thumb-up' || 'thumb-up-outline' }}.svg"></md-icon>
		<md-tooltip>{{'AGREE_WITH_COMMENT' | translate}}</md-tooltip>
	</md-button>					         
	<md-button ng-mousedown="vm.checkCommentVotes(comment, -1, vm.thisUsersCommentVotes)" class="md-icon-button" ng-class="{'md-accent':comment.this_users_comment_vote == -1}" aria-label="Disagree">
			<md-icon md-svg-src="/themes/default/icons/{{ comment.this_users_comment_vote == '-1' && 'thumb-down' || 'thumb-down-outline' }}.svg"></md-icon>
		<md-tooltip>{{'DISAGREE_WITH_COMMENT' | translate}}</md-tooltip>
	</md-button>	        					         
</div>