<md-card ng-init="edit.init()">
<md-card-content>
<div id="edit-motion-mode" flex="100" flex-order="2" flex-order-gt-sm="1"  layout-padding>
	<div flex>

		<div>
		<md-icon class="mdi mdi-details title-icon"></md-icon>
			<h3 class="title-header">Title</h3>
			<div layout="column">
				<md-input-container style="margin-top:0">
					<input type="text" ng-model="edit.motion.title" autofocus/>
				</md-input-container>
			</div>
		</div>

<!-- 		<md-icon class="mdi mdi-information-outline title-icon"></md-icon>
			<h3 class="title-header">Introduction</h3>
				<textarea class="md-body-1" ng-model="edit.motion.summary" aria-label="motionSummary" flex></textarea> -->
		

		<md-icon class="mdi mdi-file-document title-icon"  ></md-icon>
			<h3 class="title-header">Details</h3>
			<text-angular class="text-angular md-body-1" ng-model="edit.motion.text" name="text"></text-angular>



		<div>
			<div>
				<md-icon class="mdi mdi-file-document title-icon" ></md-icon>
				<h3  class="title-header">Additional Details</h3>
			</div>

			<div>
				<div flex ng-click="edit.proponent = !edit.proponent" style="margin-left: 15px;">
					<md-icon class="mdi mdi-human title-icon"></md-icon>
					<h3 class="md-body-2" style="display:inline-block">Proponent</h3>
					<md-icon ng-class="edit.proponent?'mdi mdi-menu-up':'mdi mdi-menu-up go-up'"></md-icon>
				</div>

				<div layout="column" flex ng-if="edit.proponent || edit.motion.section.bio">
					<div layout="row" layout-sm="column"  layout-xs="column" flex>
						
						<!-- TODO make multiple photos --> 
						<div flow-init="{ target: '/file', testChunks:false }"
						     flow-files-submitted="$flow.upload()"
						     flow-file-success="edit.pushAvatarArray($message)"
						     >

							<img ng-if="$flow.files[0]" style="width: 150px; height: auto;" flow-img="$flow.files[0]" /> 
							<img ng-if="!$flow.files[0]" style="width: 150px; height: auto;" src="uploads/{{edit.motion.section.bio.avatar}}"  flow-btn/> 
						</div>

						<div flex="5"><!-- Spacer --></div>

						<md-input-container flex>
							<label>Name</label>
							<input type="text" ng-model="edit.motion.section.bio.name" required/>
						</md-input-container>
					</div>

					<div layout="row"  layout-sm="column"  layout-xs="column"  flex>
						<md-input-container flex>
							<label>Company Name</label>
							<input type="text" ng-model="edit.motion.section.bio.company_name" required/>
						</md-input-container>
						<md-input-container flex>
							<label>Position</label>
							<input type="text" ng-model="edit.motion.section.bio.position" required/>
						</md-input-container>
						<md-input-container flex>
							<label>Website</label>
							<input type="text" ng-model="edit.motion.section.bio.website" required/>
						</md-input-container>
					</div>

			        <md-input-container class="md-block">
			          <label>Biography</label>
			          <textarea ng-model="edit.motion.section.bio.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
			        </md-input-container>
				</div>
			</div>
			<div layout="column" flex>
				<div  ng-click="edit.budget = !edit.budget" style="margin-left: 15px;" >
					<md-icon class="mdi mdi-wallet title-icon" ></md-icon>
					<h3 class="md-body-2" style="display:inline-block">Budget</h3>
					<md-icon ng-class="create.budget?'mdi mdi-menu-up':'mdi mdi-menu-up go-up'"></md-icon>

				</div>
				
				<div ng-if="edit.budget || edit.motion.section.budget">
					<md-input-container flex>
						<label>Price</label>
						<md-icon class="mdi mdi-currency-usd"></md-icon>
						<input type="number" ng-model="edit.motion.section.budget" step="1000" required/>
					</md-input-container>
				</div>
			</div>
		</div>



		<md-icon class="mdi mdi-chart-bar title-icon" ></md-icon>
			<h3 class="title-header">Resources</h3>

			<edit-motion-files></edit-motion-files>
			<create-motion-files></create-motion-files>

		<md-icon class="mdi mdi-view-list title-icon"></md-icon>
			<h3 class="title-header">Options</h3>

		<div>
			<md-select ng-model="edit.motion.department_id" placeholder="{{ edit.motion.department_id }}" aria-label="select Department">
				<md-option ng-repeat="d in departments.self.data" ng-value="d.id">{{d.name}}</md-option>
			</md-select>

			<md-select ng-model="edit.motion.status" placeholder="{{ 'MOTION' | translate}} Status">
				<md-option value="0">Draft</md-option>
				<md-option value="1">In review</md-option>
				<md-option value="2">Publish</md-option>
			</md-select>

<!-- 			<div ng-if="edit.motion.status == 2">
				<md-datepicker ng-model="edit.motion.closing.carbon.date" md-placeholder="Closing Date" format-date md-min-date="edit.minDate" flex></md-datepicker>
			</div> -->
		</div>
		

		<div layout layout-align="center end">
			<spinner ng-click="edit.updateGuard()" name="'Save Changes'" on-hide="edit.editing"></spinner>
			<md-button ng-click="edit.cancel()" translate="{{'CANCEL'}}"></md-button>
		</div> 

	</div>
</div>
</md-card-content>
</md-card>
