<md-card>
<md-card-content>
<div id="edit-motion-mode" flex="100" flex-order="2" flex-order-gt-sm="1"  layout-padding>
	<div flex>
		<md-icon class="mdi mdi-information-outline title-icon"  ></md-icon>
			<h3 class="title-header">Introduction</h3>
				<textarea class="md-body-1" ng-model="edit.motion.summary" aria-label="motionSummary" flex focus-input="true"></textarea>
		

		<md-icon class="mdi mdi-file-document title-icon"  ></md-icon>
			<h3 class="title-header">Details</h3>
			<text-angular class="text-angular md-body-1" ng-model="edit.motion.text" name="text"></text-angular>


		<md-icon class="mdi mdi-chart-bar title-icon" ></md-icon>
			<h3 class="title-header">Figures</h3>

			<edit-motion-files></edit-motion-files>
			<create-motion-files></create-motion-files>

		<md-icon class="mdi mdi-view-list title-icon"></md-icon>
			<h3 class="title-header">Options</h3>

		<div>
			<md-select ng-model="edit.motion.department_id" placeholder="{{ edit.motion.department_id }}" aria-label="select Department">
				<md-option ng-repeat="d in departments.self.data" ng-value="d.id">{{d.name}}</md-option>
			</md-select>

			<md-select ng-model="edit.motion.status" placeholder="{{ 'MOTION' | translate}} Status">
				<md-option value="0">Draft</md-option>
				<md-option value="1">In review</md-option>
				<md-option value="2">Publish</md-option>
			</md-select>

			<div ng-if="edit.motion.status == 2">
				<md-datepicker ng-model="edit.motion.closing.carbon.date" md-placeholder="Closing Date" format-date md-min-date="edit.minDate" flex></md-datepicker>
			</div>
		</div>
		

		<div layout layout-align="center end">
			<spinner ng-click="edit.updateGuard()" name="'Save Changes'" on-hide="edit.editing"></spinner>
			<md-button ng-click="edit.cancel()" translate="{{'CANCEL'}}"></md-button>
		</div> 

	</div>
</div>
</md-card-content>
</md-card>
