<div class="motion__votes-button_container" layout="row" flex>

  <md-card ng-repeat="button in motionVoteButtons.buttons" class="motion__votes-button {{ ::button.type }}" ng-hide="button.hidden" flex>
    <md-card-content>

      <md-button aria-label="{{ ::button.ariaLabel }}" ng-mousedown="button.cast(motion)"
                 ng-class="button.selectedClass" layout-fill>

          <md-icon ng-class="button.selectedColour" md-svg-src="{{ button.selectedIcon }}"></md-icon>

      </md-button>

      <md-tooltip>{{ button.tooltip }}</md-tooltip>
    </md-card-content>
  </md-card>
</div>