<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Terms and Conditions</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon class="mdi mdi-window-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div class="md-dialog-content">
      <h2>By using our website, you accept these terms and conditions in full</h2><p class="md-body-1">
      Accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.
      </p>
      <p>Terms and Conditions from settings array</p>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button href="http://iserveu.ca/about" target="_blank">
      More on IserveU
    </md-button>
    <span flex></span>
    <md-button ng-click="answer('agree')" style="margin-right:20px;" md-autofocus>
      I Agree
    </md-button>
  </div>
  </form>
</md-dialog>