<div class="md-toolbar-tools sidebar-toolbar" ng-class="settingsGlobal.motion.on?'motion-enabled flex':''">

  <md-button class="md-icon-button" aria-label="Home Button">
    <symbol-all-white-png resize-width="24" ui-sref="home" ng-if="!search.isOpen"></symbol-all-white-png>
    <md-icon class="mdi mdi-arrow-left" ng-show="search.isOpen" ng-click="search.show()"></md-icon>
  </md-button>

    <div ng-if="settingsGlobal.motion.on" layout="row" flex>

      <h2 ng-if="!search.isOpen" translate="{{'MOTIONS'}}" flex></h2>

      <input class="sidebar-search-input" type='text' placeholder="Search ..." ng-show="search.isOpen" ng-model='search.text' ng-class="{'sidebar-search-input':search.isOpen}" focus-input="search.isOpen" auto-focus flex/>


      <div ng-class="search.isOpen?'':'action-buttons'" layout-align="end end">
        <md-icon class="mdi mdi-magnify search-icon" ng-click="search.show()" ng-class="{'search-icon':search.isOpen}"></md-icon>
      </div>

</div>




