<div class="md-toolbar-tools sidebar-toolbar motion-search" ng-if="settingsGlobal.motion.on" layout="row"  flex>

    <input md-colors="{'border-bottom-color': '{{ theme.accent}}-50'}" class="sidebar-search-input toolbar" placeholder="Search" type="text" ng-model="search.text" ng-keyup="search.searchAll($event)" ng-class="{'sidebar-search-input':search.isOpen}"  style="color: black;" flex/>

    <div ng-class="search.isOpen?'':'action-buttons'" layout-align="end end">

      <md-icon class="mdi mdi-magnify search-icon" ng-click="search.show()" ng-class="{'search-icon':search.isOpen}"></md-icon>

      <md-menu md-offset="27 32">
        <md-icon class="mdi mdi-dots-vertical" ng-click="$mdOpenMenu()"></md-icon>
        <md-menu-content width="4" class="md-body-1">


          <md-select placeholder="Filter by Departments" ng-model="search._department.filter" ng-change="search.searchSpecific()" aria-label="filter motions by department" layout-padding>
            <md-option ng-repeat="department in search._department.index" ng-value="department.id">{{::department.name}}</md-option>
          </md-select>
          
            <md-select placeholder="Filter by Status" ng-model="search._status.filter" ng-change="search.searchSpecific()" aria-label="filter motions by status" layout-padding>
              <md-option ng-value="search._status.filters[0].query">{{search._status.filters[0].name}}</md-option>
              <md-option ng-value="search._status.filters[1].query">{{search._status.filters[1].name}}</md-option>
              <md-option has-permission="show-motion" ng-value="search._status.filters[2].query">{{search._status.filters[2].name}}</md-option>
              
            </md-select>                        
            <md-select ng-model="search._orderBy.filter" ng-change="search.searchSpecific()" placeholder="Order by:" aria-label="filter motions by properties" layout-padding>
              <md-option ng-repeat="filter in search._orderBy.filters" ng-value="filter.query">{{::filter.name}}</md-option>
            </md-select>
          <md-menu-button class="action-btns" layout="row" layout-align="end end">
              <md-button class="md-accent md-raised" ng-click="search.all()">Clear filters</md-button>
          </md-menu-button>

        </md-menu-content>
      </md-menu>
    </div>

</div>
