<has-permission has-permission="administrate-permissions"> 
  <form layout-padding>
  <table layout-padding>
    <thead>
      <tr>
        <td>
            <p class="md-body-2" translate="{{'USER_ROLES'}}"></p>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="r in user.roleObj.list">
          <td>
          <md-checkbox  
          ng-model="r.ifUserHasRole"
          ng-click="user.roleObj.setRole(r)" style="margin:0px">
            <p class="md-caption" style="margin:0px">{{r.display_name}}</p>
            <md-tooltip>{{r.description}}</md-tooltip>
          </md-checkbox>
          </td>
      </tr>
    </tbody>
  </table>

    <md-button>
      Clickity
    </md-button>
    <md-button ng-click="user.roleObj.showRoles(); user.pressBack()">
      <md-icon class="mdi mdi-arrow-left"></md-icon>
      &nbsp;{{ 'BACK' | translate}}
    </md-button>
  </form>
</has-permission> 