<div class="md-toolbar-tools sidebar-toolbar">

    <div ng-if="settingsGlobal.module.motions" layout="row" style="max-width: 400px" flex>

      <input style="color:black; font-size: 16px; border-bottom: black thin solid;" class="sidebar-search-input" type="text" ng-model="search.searchText" ng-change="search.searchInput()"  ng-class="{'sidebar-search-input':search.showSearch}" focus-input="true" auto-focus style="width: 80%" flex ng-click="search.clearInput()" ng-keypress="search.clearInput()"/>


      <div ng-class="search.showSearch?'':'action-buttons'" layout-align="end end" style="z-index: 0">

        <md-icon class="mdi mdi-magnify search-icon" ng-click="search.showSearchFunc()" ng-class="{'search-icon':search.showSearch}"></md-icon>

        <md-menu md-offset="27 32">
          <md-icon class="mdi mdi-dots-vertical" ng-click="$mdOpenMenu()"></md-icon>
          
          <md-menu-content width="4" class="md-body-1" >

            <md-select ng-model="search.departmentFilter" placeholder="Filter by City Department" layout-padding aria-label="filter motions by department" >
              <md-option ng-value="''" ng-mousedown="search.querySearchDepartment({department_id:''})" >None</md-option>
              <md-option ng-repeat="department in search.departmentObj.data" ng-mousedown="search.querySearchDepartment({department_id:department.id})"  ng-value="department.id">{{department.name}}</md-option>
            </md-select>

            <md-select ng-model="search.orderByFilter" placeholder="Order by:" layout-padding aria-label="filter motions by properties">
              <md-option ng-mousedown="search.querySearch(filter.query);"  ng-repeat="filter in search.orderByFilters" ng-value="filter.query">{{filter.name}}</md-option></md-select>

            <md-menu-button class="action-btns" layout="row">
              <md-button layout-align="center end" ng-click="search.showAll()">See All</md-button>
              <md-icon ng-show="search.searching" layout-align="center front" md-svg-src='/themes/{{::themename}}/loading.svg'></md-icon>
            </md-menu-button>
          
          </md-menu-content>
        </md-menu>
      </div>
    </div>

</div>




