<div>
  <div class="md-toolbar-tools sidebar-toolbar" ng-class="settingsGlobal.module.motions?'motion-enabled flex':''">

    <md-button class="md-icon-button home-btn" aria-label="Home Button">
      <md-icon md-svg-src="{{ ::settingsGlobal.logo }}" ui-sref="home" ng-hide="search.showSearch"></md-icon>
      <md-icon class="mdi mdi-arrow-left" ng-show="search.showSearch" ng-click="search.showSearchFunc()"></md-icon>
    </md-button>


      <div ng-if="settingsGlobal.module.motions" layout="row" style="max-width: 400px" flex>

        <h2 ng-hide="search.showSearch" translate="{{'MOTIONS'}}" flex></h2>

        <input class="sidebar-search-input" type='text' placeholder="Search {{'MOTIONS' | translate }} ..." ng-show="search.showSearch" ng-model='search.searchText' ng-change="search.searchInput()"  ng-class="{'sidebar-search-input':search.showSearch}" focus-input="search.showSearch" style="width: 80%" flex/>


        <div ng-class="search.showSearch?'':'action-buttons'" layout-align="end end">

          <md-icon class="mdi mdi-magnify search-icon" ng-click="search.showSearchFunc()" ng-class="{'search-icon':search.showSearch}"></md-icon>

          <md-menu md-offset="27 32">
            <md-icon class="mdi mdi-dots-vertical" ng-click="$mdOpenMenu()"></md-icon>
            
            <md-menu-content width="4" class="md-body-1" >

              <md-select ng-model="search.departmentFilter" placeholder="Filter by City Department" layout-padding aria-label="filter motions by department" >
                <md-option ng-value="''" ng-mousedown="search.querySearchDepartment({department_id:''})" >None</md-option>
                <md-option ng-repeat="department in search.departmentObj.data" ng-mousedown="search.querySearchDepartment({department_id:department.id})"  ng-value="department.id">{{department.name}}</md-option>
              </md-select>

              <md-select ng-model="search.orderByFilter" placeholder="Order by:" layout-padding aria-label="filter motions by properties">
                <md-option ng-mousedown="search.querySearch(filter.query);"  ng-repeat="filter in search.orderByFilters" ng-value="filter.query">{{filter.name}}</md-option></md-select>

              <md-menu-button class="action-btns" layout="row">
                <md-button layout-align="center end" ng-click="search.showAll()">See All</md-button>
                <md-icon ng-show="search.searching" layout-align="center front" md-svg-src='/themes/{{::themename}}/loading.svg'></md-icon>
              </md-menu-button>
            
            </md-menu-content>
          </md-menu>
        </div>
      </div>

  </div>

</div>    



