<md-list ng-show="motion.motionComments.abstainComments.length != 0">
	<md-list-item class="md-3-line md-long-text" ng-repeat="comment in motion.motionComments.abstainComments | orderBy:'-commentRank'">
		<md-icon class="mdi md-avatar-icon mdi-account-circle"></md-icon>

        <div class="md-list-item-text">
            <h3 class="motion_commentlist__usertitle" ng-bind="comment.commentWriter.first_name ? comment.commentWriter.first_name + ' ' + comment.commentWriter.last_name : comment.commentWriter.community.adjective"></h3>
            <h4 class="motion_commentlist__date" ng-bind="show.formatDate(comment)"></h4>
            <div class="motion_commentlist__text" marked="comment.text"></div>
        </div>

        <comment-vote position="0" comment-id="comment.id"></comment-vote>

    </md-list-item>
</md-list>

<section ng-show="motion.motionComments.abstainComments.length == 0">
	<md-icon class="mdi mdi-microphone-off title-icon"></md-icon>
	<h1 class="md-subhead title-header">No comments have been made for agree.</h1>
</section>
