<div flow-init="{ target: '/file', testChunks:false }"
     flow-files-submitted="$flow.upload()"
     flow-file-success="motionFile.pushArray($message); $file.msg = $message"
     flow-upload-started="motionFile.started()"
     flow-complete="motionFile.complete()">

  <md-button flow-btn>
  	<md-icon class="mdi mdi-upload"></md-icon>
	  Upload Files
  </md-button>

  <span ng-repeat="file in $flow.files">

    <div layout="row" ng-show="$flow.files[$index]"> 

      <p ng-init="i = motionFile.index;" ng-hide="editFile.show[i]">{{ title ? title : file.name}}</p>

      <input type="text" ng-model="title" ng-show="editFile.show[i]" style="border:none; border-bottom: black 1px solid; bottom: 12px; position: relative;" />

      <span flex></span>

      <div isu-inline-save
           isu-edit="editFile.edit(i)"
           isu-show="editFile.show[i]"
           isu-saving="editFile.saving[i]"
           isu-success="editFile.success[i]"
           isu-save="motionFile.saveTitle(title, file.msg)"
           isu-destroy="motionFile.removeFile(file.msg, file, $flow.files)"
           >
      </div>

    </div>

    <md-progress-linear ng-show="$flow.files[$index]" md-mode="determinate" value="{{ motionFile.uploading[i] }}"></md-progress-linear>
  
  </span>

</div>