<div flow-init layout-sm="column" layout-padding 
     flow-drop-enabled="true"
     flow-drop 
     flow-file-added="edit.validate($file, $index);">
	<span>
		<md-icon class="mdi" md-font-icon="mdi-file-image-box"></md-icon>
		<input id="file-btn" aria-label="attachment input" type="file" flow-btn/>
		<p class="md-body-1">Or drag and drop your files here</p>
	</span>

    <md-input-container id="title-input" ng-repeat="file in edit.viewFiles" flex>
    <md-icon class="mdi mdi-close close" ng-click="edit.deleteTempMotionFile(file); hideFile = true" ng-hide="hideFile"></md-icon>
      <input type="text"  aria-label="attachment title textfield" press-enter="edit.changeTitleName(file)" ng-blur="edit.changeTitleName(file)" ng-model="file.name" ng-hide="hideFile"/>
    </md-input-container>

    <md-input-container>
      <div ng-messages="{uploadError:edit.uploadError}" ng-repeat="file in edit.errorFiles | limitTo:5">
        <div ng-message="uploadError">
           {{file.file.name}}:  {{file.error}}
        </div>
      </div>
    </md-input-container>
</div>