<section ng-show="motion.motionComments" flex>
	<div flex layout="row">

		<comment-list-agree flex></comment-list-agree>
		<comment-list-disagree flex></comment-list-disagree>

	</div>
</section>

<section ng-hide="motion.motionComments" flex>
	<md-card layout-margin>
		<md-card-content>

			<div style="margin: 3px 0 0 8px;">
				<md-icon class="mdi mdi-microphone-off title-icon"></md-icon>
				<h1 class="md-subhead title-header">No comments, yet.</h1>
			</div>

		</md-card-content>
	</md-card>
</section>