<section layout-margin>
	<md-card style="margin:0"flex>
		<md-card-content style="padding: 0">

		<div class="create-comment" ng-if="!c.obj.comment && c.vote.user.id" ng-click="c.obj.writing = !c.obj.writing" layout-padding>
			<md-icon class="mdi mdi-pencil title-icon"></md-icon>
			<h3 class="title-header">Write a comment</h3>
		</div>
		<div flex layout="column" ng-if="!c.obj.writing  && !c.obj.comment && c.vote.user.id" layout-padding>
			<form name="commentForm"> 
				<md-input-container>
					<textarea columns="4" ng-model="text" focus-input="!c.obj.writing"></textarea>
				</md-input-container>

			    <div layout="row" layout-align="front center"> 
			    	<md-button class="md-raised" ng-click="c.obj.submit(c.vote.user.id, text)" translate="{{'SUBMIT'}}" aria-label="submit comment"></md-button>
			    	<md-button ng-click="c.obj.writing = !c.obj.writing;" translate="{{'CLOSE'}}" aria-label="cancel writing comment"></md-button>
				</div>
			</form>
		</div>

		<div class="display-user-comment" ng-if="!c.obj.writing && c.obj.comment" layout-padding>
			<md-icon class="mdi mdi-comment-text-outline title-icon"></md-icon>
			<h3 class="title-header">Your comment</h3>
			<md-button class="md-icon-button edit-btn"  ng-click="c.obj.editComment()" aria-label="edit comment button">
				<md-icon class="md-primary mdi mdi-pencil title-icon"></md-icon>
			</md-button>
			<md-button class="md-icon-button delete-btn"  ng-click="c.obj.delete()" aria-label="delete comment button">
				<md-icon class="md-warn mdi mdi-delete title-icon"></md-icon>
			</md-button>


			<!-- TODO: php return the number of comment votes in the thisUsersComment array -->
			<div class="comment-votes">
				<md-icon md-svg-src="/themes/{{::themename}}/icons/thumb-up.svg" class="md-primary title-svg-icon"></md-icon>
				<h4 class="title-subhead">16</h4>
				<md-icon md-svg-src="/themes/{{::themename}}/icons/thumb-down.svg" class="md-accent title-svg-icon"></md-icon>
				<h4 class="title-subhead">3</h4>		
			</div>

			<p class="md-body-1" ng-if="!c.obj.editing">{{ c.obj.comment.text }}</p>


			<div ng-if="c.obj.editing">
				<md-input-container>
					<textarea layout-padding columns="1" aria-label="Your comment" ng-model="c.obj.comment.text" focus-input="c.obj.editing"></textarea>
				</md-input-container>

				<md-button class="md-raised save-btn" ng-click="c.obj.update(); c.obj.editComment()" translate="{{'SAVE_COMMENT'}}" aria-label="update comment"></md-button>
				<md-button ng-click="c.obj.editComment()" translate="{{'CLOSE'}}" aria-label="close edit comment"></md-button>
			</div>
		</div>

		</md-card-content>
	</md-card>
</section>



