<section layout-margin>
	<md-card style="margin:0"flex>
		<md-card-content style="padding: 0">


		<div ng-if="!c.obj.writing && !c.obj.comment && c.obj.posting" layout-padding>
			<md-icon class="mdi mdi-pencil title-icon"  ng-click="c.obj.writing = !c.obj.writing"></md-icon>
			<h3 ng-click="c.obj.writing = !c.obj.writing" class="title-header">Write a comment</h3>
		</div>


		<div class="create-comment" ng-if="c.obj.writing" layout-padding>
			<md-icon class="mdi mdi-pencil title-icon"  ng-click="c.obj.writing = !c.obj.writing"></md-icon>
			<h3 ng-click="c.obj.writing = !c.obj.writing" class="title-header">Write a comment</h3>
			<div flex layout="column" ng-if="c.obj.writing" layout-padding>
				<form name="commentForm"> 
					<md-input-container>
						<textarea columns="4" ng-model="text" focus-input="c.obj.writing"></textarea>
					</md-input-container>

				    <div layout="row" layout-align="front center">
				    	<md-button class="md-raised" ng-click="c.obj.submit(c.userVote.id, text)" translate="{{'SUBMIT'}}" aria-label="submit comment"></md-button>
				    	<md-button ng-click="c.obj.writing = !c.obj.writing; c.close()" translate="{{'CANCEL'}}" aria-label="cancel writing comment"></md-button>
					</div>
				</form>
			</div>
		</div>

		<div class="display-user-comment" ng-if="!c.obj.writing && c.obj.comment" layout-padding>
			<md-icon class="mdi mdi-comment-text-outline title-icon"></md-icon>
			<h3 class="title-header">Your comment</h3>
			<md-button class="md-icon-button edit-btn"  ng-click="c.obj.editComment()" aria-label="edit comment button">
				<md-icon class="md-primary mdi mdi-pencil title-icon"></md-icon>
			</md-button>
			<md-button class="md-icon-button delete-btn"  ng-click="c.obj.delete()" aria-label="delete comment button">
				<md-icon class="md-warn mdi mdi-delete title-icon"></md-icon>
			</md-button>


			<!-- TODO: php return the number of comment votes in the thisUsersComment array -->
			<div class="comment-votes">
				<md-icon md-svg-src="/themes/{{::themename}}/icons/thumb-up.svg" class="md-primary title-icon-svg"></md-icon>
				<h4 class="title-subhead">16</h4>
				<md-icon md-svg-src="/themes/{{::themename}}/icons/thumb-down.svg" class="md-accent title-icon-svg"></md-icon>
				<h4 class="title-subhead">3</h4>		
			</div>

			<p class="md-body-1" ng-if="!c.obj.editing">{{ c.obj.comment.text }}</p>


			<div ng-if="c.obj.editing">
				<md-input-container>
					<textarea layout-padding columns="1" aria-label="Your comment" ng-model="c.obj.comment.text" focus-input="c.obj.editing"></textarea>
				</md-input-container>

				<md-button class="md-raised save-btn" ng-click="c.obj.update(); c.obj.editComment()" translate="{{'SAVE_COMMENT'}}" aria-label="update comment"></md-button>
				<md-button ng-click="c.obj.editComment()" translate="{{'CLOSE'}}" aria-label="close edit comment"></md-button>
			</div>
		</div>

		</md-card-content>
	</md-card>
</section>



<!-- <section layout-margin>

  <div flex="100" layout="row">
    <md-card style="margin: 8px" flex="50">
    	<md-content layout>

			<h3 style="font-size: 16px; margin-bottom: 18px; display: inline-block; margin-left: 33px;">In agreement</h3>
			<span flex></span>
	    	<div layout layout-align="end end" style="margin-right: 10px">
				<md-icon  md-svg-src="/themes/{{::themename}}/icons/thumb-up.svg"  style="display:inline-block; left: 3px; position: relative; bottom: 4px; width: 18px; margin: 6px"></md-icon>
					<h3 style="font-size: 16px; margin-bottom: 18px; display: inline-block">16</h3>
			</div>
		<div layout-padding ng-repeat="comment in vm.agreeComments | object2Array | orderBy: 'commentRank':true">
			<div class="motion-comments">
				<h4 class="md-title" ng-bind="comment.user.public ? comment.user.first_name + ' ' + comment.user.last_name : 'Yellowknifer'"></h4>
				<div>
					<i class="md-caption" ng-bind="comment.updated_at.database == comment.created_at.database ? '{{'WRITTEN' | translate}}' + comment.created_at.diff : '{{'EDITED' | translate}}' + comment.updated_at.diff"></i>
					<p class="md-title" ng-bind="comment.commentRank > 0 ? '+' + comment.commentRank : '' + comment.commentRank"></p>
				</div>
			</div>
				<p class="md-body-1" ng-bind="comment.text"></p>

				<comment-vote id="agreed-comment-vote-col" open-for-voting="{{vm.motionOpen}}" vote-position="{{vm.userHasVoted.position}}"></comment-vote>
				
			<md-divider  ng-if="!$last" class="md-default-theme"></md-divider>	
		</div>

		</md-content>
	</md-card>			       


    <md-card style="margin: 8px" flex="50">
		<md-content flex>


					<h3 style="font-size: 16px; margin-bottom: 18px; display: inline-block">In disagreement</h3>

				<md-icon md-svg-src="/themes/{{::themename}}/icons/thumb-down.svg"  style="display:inline-block; left: 3px; position: relative; bottom: 5px; width: 19px; margin: 6px"></md-icon>
					<h3 style="font-size: 16px; margin-bottom: 18px; display: inline-block">4</h3>


					<h3 style="font-size: 16px; margin-bottom: 18px; display: inline-block"> / Abstained</h3>

					<h3 style="font-size: 16px; margin-bottom: 18px; display: inline-block">1</h3>

				<md-icon md-svg-src="/themes/{{::themename}}/icons/thumbs-up-down.svg"  style="display:inline-block; left: 3px; position: relative; bottom: 5px; width: 19px; margin: 6px"></md-icon>
			</md-content>
		</md-card>
	</div>

</section> -->
