<div flex layout-fill>
	<div layout-padding ng-repeat="comment in vm.agreeComments | object2Array | orderBy: 'commentRank':true">
		<div class="motion-comments">
			<h4 class="md-title" ng-bind="comment.user.public ? comment.user.first_name + ' ' + comment.user.last_name : 'Yellowknifer'"></h4>
			<div>
				<i class="md-caption" ng-bind="comment.updated_at.database == comment.created_at.database ? '{{'WRITTEN' | translate}}' + comment.created_at.diff : '{{'EDITED' | translate}}' + comment.updated_at.diff"></i>
				<p class="md-title" ng-bind="comment.commentRank > 0 ? '+' + comment.commentRank : '' + comment.commentRank"></p>
			</div>
		</div>
			<p class="md-body-1" ng-bind="comment.text"></p>
	
			<comment-vote id="agreed-comment-vote-col" open-for-voting="{{vm.motionOpen}}" vote-position="{{vm.userHasVoted.position}}"></comment-vote>

		<md-divider  ng-if="!$last" class="md-default-theme"></md-divider>				       
	</div>
</div>