<section class="md-whiteframe-z1 comments" ng-if="vm.userHasVoted && vm.motionOpen" layout-margin>
	<md-toolbar class="section-toolbar">
    	<div class="md-toolbar-tools">
    		<h3 ng-bind="vm.thisUsersComment == null ? '{{'POST_COMMENT' | translate}}' : '{{'YOUR_COMMENT' | translate}}'"></h3>
       	</div>
	</md-toolbar>
	<div flex ng-if="vm.thisUsersComment.text == null" layout-padding>
		<form style="padding-bottom:20px">
     		<div layout="column"> 
			    <div>
				    <md-input-container>
						<label translate="{{'COMMENT'}}"></label>
						<textarea columns="1" ng-model="vm.commenttext"></textarea>
				    </md-input-container>
			    </div>
			    <div layout="row" layout-align="end center">
			    	<md-button ng-click="vm.submitComment(vm.commenttext)" class="btn btn-sm btn-primary" translate="{{'SUBMIT_COMMENT'}}" aria-label="submit comment"></md-button>
				</div>
			</div>
        </form>
	</div>

	<div flex layout-padding ng-hide="vm.thisUsersComment.text == null">
		<span ng-hide="vm.editComment">
			<p ng-bind="vm.thisUsersComment.text"></p>
				<div layout="row" layout-align="end center">
					<md-button class="md-primary" ng-click="vm.editCommentFunction()" translate="{{'EDIT'}}" aria-label="edit comment"></md-button>
					<md-button class="md-warn" ng-click="vm.deleteComment()" translate="{{'DELETE'}}" aria-label="delete comment"></md-button>
				</div>
		</span>
		<span ng-show="vm.editComment">
			<md-input-container flex>
				<textarea layout-padding columns="1" aria-label="Your comment" ng-model="vm.thisUsersComment.text"></textarea>
			</md-input-container>
			<div layout="row" layout-align="end center">
				<md-button class="md-primary" ng-click="vm.updateComment(vm.thisUsersComment.text); vm.editCommentFunction()" translate="{{'SAVE_COMMENT'}}" aria-label="update comment"></md-button>
				<md-button class="md-warn" ng-click="vm.editCommentFunction()" translate="{{'CLOSE'}}" aria-label="close edit comment"></md-button>
			</div>
		</span>
	</div>
</section>


<span class="desktop-comments" hide-sm>
	<section name="comments" layout="row">
		<div class="md-whiteframe-z1 comments-agree" flex layout-margin>
		<md-toolbar class="section-toolbar">
			<div class="md-toolbar-tools">
				<h3 translate="{{'AGREE'}}"></h3>
			</div>
		</md-toolbar>
			<agree-comment-section></agree-comment-section>
		</div>
		<div name="disagreecomments" class="md-whiteframe-z1 comments-disagree" flex layout-margin>
		<md-toolbar class="section-toolbar">
	    	<div class="md-toolbar-tools">
	    		<h3 translate="{{'DISAGREE_ABSTAIN'}}"></h3>
	       	</div>
		</md-toolbar>
			<disagree-comment-section></disagree-comment-section>
		</div>
	</section>
</span>

<span class="mobile-comments" hide-md hide-gt-md>
	<md-tabs md-swipe-content="true" md-dynamic-height md-center-tabs="true" md-selected="2" md-scroll-shrink layout-padding>
		<md-tab>
		<md-tab-label flex><h3 translate="{{'AGREE'}}"></h3></md-tab-label>
			<md-tab-body>
			<md-content id="maincontent">
				<agree-comment-section></agree-comment-section>
			</md-content>
			</md-tab-body>
		</md-tab>

		<md-tab>
		<md-tab-label flex><h3 translate="{{'DISAGREE_ABSTAIN'}}"></h3></md-tab-label>
			<md-tab-body>
			<md-content id="maincontent">
				<disagree-comment-section></disagree-comment-section>
			</md-content>
			</md-tab-body>
		</md-tab>
	</md-tabs>
</span>

