<md-dialog aria-label="New Password">
	<form name="newpassword" ng-submit="newpassword.$valid && resetPassword(user.new_password)" novalidate>
    <md-toolbar class="section-toolbar">
      <div class="md-toolbar-tools">
        <h3>Set New Password</h3>
      </div>
    </md-toolbar>

	<md-dialog-content style="max-width:800px;max-height:810px;">
	<div layout-padding>
	<md-input-container><label>Password</label>
		<input name="password" type="password" ng-model="user.new_password" ng-minlength="8" required/>
    <div ng-messages="newpassword.password.$error">  
      <div ng-message="required">A password is required.</div>
      <div ng-message="minlength">Must be atleast 8 characters.</div>
    </div>

		</md-input-container>


<!-- 	<div ng-messages="newpassword.password.$error">
		<div ng-message="minlength">Password is too short.</div>
		<div ng-message="required">A password is required.</p>
	</div> -->
	<md-input-container><label>Confirm Password</label>
		<input name="confirmPassword" type="password" ng-model="user.confirm_new_password" compare-to="user.new_password" required/>
	<div ng-messages="newpassword.confirmPassword.$error">
		<div ng-message="compareTo">Your password does not match.</div>
	</div>

		</md-input-container>

	<div layout="row">
	<md-button type="ng-submit">Okay</md-button>
	<md-button ng-click="cancel()">Cancel</md-button>
	</div>
	</div>
	</md-dialog-content>

	</form>
</md-dialog>
