<div class="motion_vote_statusbar" layout="row" layout-align="center center" flex> 

    <md-button ng-if="$ctrl.statusbar.agree" style="flex-basis:{{ $ctrl.statusbar.agree.percent }}%;" class="md-raised md-primary motion_vote_statusbar__bar--agree" aria-label="Number in agreement">
      <md-tooltip>{{ $ctrl.statusbar.agree.number }} agreed</md-tooltip>
    </md-button>

    <md-button ng-if="settingsGlobal.voting.abstain && $ctrl.statusbar.abstain" style="flex-basis:{{ $ctrl.statusbar.abstain.percent }}%;" class="md-raised md-grey motion_vote_statusbar__bar--abstain" aria-label="Number abstaining">
      <md-tooltip>{{ $ctrl.statusbar.abstain.number  }} abstained</md-tooltip>
    </md-button>

    <md-button ng-if="$ctrl.statusbar.disagree" style="flex-basis:{{ $ctrl.statusbar.disagree.percent }}%;" class="md-raised md-accent motion_vote_statusbar__bar--disagree" aria-label="Number in disagreement">
      <md-tooltip>{{ $ctrl.statusbar.disagree.number }} disagreed</md-tooltip>
    </md-button>

</div>
