<div class="motion__votes-statusbar_container" layout="row" layout-align="center center" flex> 

    <md-button ng-if="$ctrl.statusbar.agree" style="width:{{ $ctrl.statusbar.agree.percent }}%;" class="md-raised md-primary motion__votes-statusbar_agree" aria-label="Number in agreement">
      <md-tooltip>{{ $ctrl.statusbar.agree.number }} agreed</md-tooltip>
    </md-button>

    <md-button ng-if="settingsGlobal.abstain && $ctrl.statusbar.abstain" style="width:{{ $ctrl.statusbar.abstain.percent }}%;" class="md-raised md-grey motion__votes-statusbar_abstain" aria-label="Number abstaining">
      <md-tooltip>{{ $ctrl.statusbar.abstain.number  }} abstained</md-tooltip>
    </md-button>

    <md-button ng-if="$ctrl.statusbar.disagree" style="width:{{ $ctrl.statusbar.disagree.percent }}%;" class="md-raised md-accent motion__votes-statusbar_disagree" aria-label="Number in disagreement">
      <md-tooltip>{{ $ctrl.statusbar.disagree.number }} disagreed</md-tooltip>
    </md-button>

</div>
