<section flex>

	<header ng-click="userCommentCreate.writeComment()" layout-padding>
		<md-icon class="mdi mdi-pencil"></md-icon>
		<h1>Write a comment</h1>
	</header>


	<div ng-if="userCommentCreate.writing" layout="column" layout-padding flex>

		<form layout="column" name="commentForm" flex="100"> 
			<md-input-container flex>
				<textarea columns="4" ng-model="userComment.text" required></textarea>
			</md-input-container>


			<spinner layout="row" layout-align="front end" 
					 primary-action="userComment.submit(motion)"
					 form-name="commentForm" name="'Submit'" on-hide="userComment.posting" 
					 secondary-btn="{control: userCommentCreate.writeComment, name: 'Close'}">
			</spinner>

		</form>
	</div>

</section>