<h2 class="motion_usercomment__title">Why Did You 
		{{motion._userVote.position > 0 ? 'Agree' : ''  }}{{motion._userVote.position < 0 ? 'Disagree' : ''  }}{{motion._userVote.position == 0 ? 'Abstain' : ''  }}?</h2>



<form name="commentForm" flex layout="row">
	<md-input-container class="motion_usercomment__input">
		<textarea columns="4" ng-model="userComment.text" required></textarea>
	</md-input-container>

	<md-checkbox ng-model="userComment.status"
   		ng-true-value="'private'" ng-false-value="'public'"
   		aria-label="anonymous">
    	Make Anonymous
  	</md-checkbox>

	<div class="inline-action-buttons" layout layout-align="end end">
		<md-button class="md-icon-button motion_usercomment__button--save" ng-click="userComment.submit(motion)" aria-label="save comment">
			<md-icon class="md-primary mdi mdi-content-save"></md-icon>
		</md-button>

	</div>

</form>


