<md-content class="flex md-default-theme motion-sidebar">
  <motion-search hide-gt-lg hide-lg hide-gt-md hide-md flex>></motion-search>
    <div infinite-scroll="motionSidebar.loadMotions()"
         infinite-scroll-container="'.site-sidenav'"
         infinite-scroll-distance="0"
         infinite-scroll-disabled="( motionSidebar.motionIndex._paginating || motionSidebar.motionIndex._stopPaginating)">

      <md-list>
          <md-subheader ng-show="motionSidebar.search._filteredBy">
              <p>Filtered by {{ motionSidebar.search._filteredBy }}:</p>
          </md-subheader>

          <md-list-item layout="row" class="sidebar-list-item" ng-repeat="motion in motionSidebar.motionIndex._index | isPublished | filter:motionSidebar.search.text" ui-sref-active="active" ui-sref="motion({id:motion.id})" ng-click="motionSidebar.closeSidenav('left')">

            <md-icon class="department" md-svg-src="{{ ::motion.department.icon }}">
              <md-tooltip md-direction="right">{{ ::motion.department.name }}</md-tooltip>
            </md-icon>

            <p class="md-body-1 ellipsis">{{ ::motion.title }}</p>

            <quick-vote ng-if="userIsLoggedIn && settingsGlobal.voting.on"></quick-vote>

          </md-list-item>


          <md-list-item ng-if="motionSidebar.motionIndex._index.length == 0 && !motionSidebar.motionIndex._paginating">
            <p class="md-body-1 ellipsis" translate="{{'NO_MOTIONS'}}"></p>
          </md-list-item>


          <md-list-item has-permission="create-motion" layout="row" class="sidebar-list-item" ui-sref-active="active" ui-sref="create-motion" ng-click="motionSidebar.closeSidenav('left')" ng-if="motionSidebar.motionIndex._index.length == 0 && !motionSidebar.motionIndex._paginating">

              <p class="md-body-1 ellipsis">{{'CREATE_NEW_MOTION' | translate | capitalize}}</p>
              <md-icon class="mdi mdi-plus" aria-label="Create Motion"  layout-margin></md-icon>
          </md-list-item>


      </md-list>
    </div>
</md-content>