<div class="floating-button__directive" layout="row" layout-align="end end">
    <md-fab-speed-dial md-open="floatingButton.isOpen" md-direction="down"
                       class="md-scale">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-primary">
          	<md-icon class="mdi mdi-menu"></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button id="create_new_motion" aria-label="Create New Motion" class="md-fab md-raised md-mini" ng-if="(floatingButton.show.create && floatingButton.isOpen)" ng-click="floatingButton.onCreate()">
            <md-icon class="mdi mdi-plus" aria-label="Create"></md-icon>
          </md-button>
          <md-button id="edit_this_motion" aria-label="Edit This Motion" class="md-fab md-raised md-mini" ng-if="(floatingButton.show.edit && floatingButton.isOpen)" ng-click="floatingButton.onEdit()">
            <md-icon class="mdi mdi-pencil" aria-label="Edit"></md-icon>
          </md-button>
          <md-button id="delete_this_motion" aria-label="Delete This Motion" class="md-fab md-raised md-warn md-mini" ng-if="floatingButton.show.delete" ng-click="floatingButton.onDelete()">
            <md-icon class="mdi mdi-delete" aria-label="Delete"></md-icon>
          </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>