<md-content flex role="navigation" ng-controller="UserController as user">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button conference_logo" ui-sref="home" hide-lt-md aria-label="Toggle Menu">
        <md-icon md-svg-src="/themes/default/logo/symbol_mono.svg"></md-icon>
      </md-button>
      <h2>User List</h2>
    </div>
  </md-toolbar>
  <md-list>
    <md-list-item class="sidebar-list" ng-repeat="thisuser in user.users">  
      <p md-ink-ripple ui-sref="user({id:thisuser.id})">{{thisuser.first_name}} {{thisuser.last_name}}</p>      
      <md-switch style="margin:0px" class="md-secondary"ng-model="thisuser.identity_verified" ng-click="user.verifyUser(thisuser)" aria-label="Switch" ng-true-value="1" ng-false-value="0"></md-switch>
    </md-list-item>
  </md-list>
</md-content>