<md-content flex role="navigation" has-permission="administrate-user" style="overflow-y:hidden;" ng-controller="UserController as sidebar">
  <md-toolbar>
    <div class="md-toolbar-tools"  style="padding-right:0px">
      <md-button class="md-icon-button conference_logo" hide-lt-md aria-label="Toggle Menu">
          <symbol-all-white-png ui-sref="home"  ng-hide="sidebar.hideSearch"></symbol-all-white-png>
          <md-icon class="mdi mdi-arrow-left" ng-show="sidebar.hideSearch" ng-click="sidebar.hideSearch = !sidebar.hideSearch"></md-icon>
      </md-button>

      <h2  ng-hide="sidebar.hideSearch" translate="{{'USER_LIST'}}"></h2>
          <input type='text' class="sidebar-search-input"  ng-show="sidebar.hideSearch" placeholder='Search last or first name' ng-model='sidebar.text'/>
        <search-filter></search-filter>
    </div>

  </md-toolbar>

  <md-progress-circular class="loading-circle" md-mode="indeterminate" ng-show="sidebar.listLoading"></md-progress-circular>

  <md-list>
    <md-list-item class="sidebar-list" ng-repeat="thisuser in sidebar.users | filter:sidebar.text">
      <p layout-padding md-ink-ripple ui-sref="user({id:thisuser.id})">{{thisuser.first_name}} {{thisuser.last_name}}</p>
      <md-switch  style="margin:0px" class="md-secondary"ng-model="thisuser.identity_verified" ng-click="sidebar.verifyUser(thisuser)" aria-label="Switch" ng-true-value="1" ng-false-value="0"></md-switch>
    </md-list-item>
    <md-list-item>
        <span flex></span>
            <md-button id="show-more-btn" ng-show="sidebar.show_more" ng-click="sidebar.loadMore()">{{sidebar.paginate_loading ? 'LOADING' : 'SHOW MORE'}} ...</md-button>
    </md-list-item>


  </md-list>
</md-content>