<form class="user-profile-form" layout-padding>
   <div  layout="row" layout-sm="column"layout-padding>
     <md-input-container flex>
     <label style="padding-left:0px" translate="{{'FIRST_NAME'}}"></label>
     <!-- <md-icon class="mdi mdi-account input-icon" hide-sm></md-icon> -->
     <input ng-blur="user.updateUser('first_name', user.profile.first_name, user.profile.id)" ng-model="user.profile.first_name"/>
   </md-input-container>
   <md-input-container flex>
   <label style="padding-left:0px" translate="{{'MIDDLE_NAME'}}"></label>
   <input ng-blur="user.updateUser('middle_name', user.profile.middle_name, user.profile.id)" ng-model="user.profile.middle_name"/>
 </md-input-container>
 <md-input-container flex>
 <label  style="padding-left:0px" translate="{{'LAST_NAME'}}"></label>
 <input ng-blur="user.updateUser('last_name', user.profile.last_name, user.profile.id)" ng-model="user.profile.last_name"/>
</md-input-container>
</div>

<div layout layout-padding>
 <md-select layout-padding flex ng-model="user.profile.public" placeholder="Select public/private profile" >
 	<md-option ng-click="user.updateUser('public', 1, user.profile.id)" ng-value="1" flex translate="{{'PUBLIC'}}"></md-option>
 	<md-option ng-click="user.updateUser('public', 0, user.profile.id)" ng-value="0" translate="{{'PRIVATE'}}"></md-option>
 </md-select>
</div>
<md-button ng-click="user.show_edit_name = !user.show_edit_name;"><md-icon class="mdi mdi-arrow-left"></md-icon>&nbsp;{{'BACK' | translate}}</md-button>
</form>