<form layout-padding class="user-profile-form">

  <table class="user-table" layout-padding style="width:100%">
    <tbody layout-padding>

      <tr>

        <td class="mobile">
          <md-input-container>
          <label translate="{{'EMAIL_ADDRESS'}}"></label>
           <md-icon style="padding-top:22px" class="mdi mdi-email-outline input-icon"></md-icon>
             <input type="email"ng-model="user.profile.email" ng-keypress="user.pressEnter($event, 'email', user.profile.email)" ng-disabled="user.edit.email"/>
          </md-input-container>
        </td>

        <td style="width:10%">
          <md-icon ng-click="user.showEdit('email', user.profile.email)" class="edit-btn mdi mdi-pencil" ng-class="  {'clicked':!user.edit.email}"  ng-show="user.showEdits"></md-icon>
        </td>


        <td class="mobile">
        <md-input-container flex>
          <md-icon class="mdi mdi-earth input-icon"></md-icon>
               <p class="md-caption" style="padding-left:37px; margin:0px;padding-top:5px;color:grey" translate="{{'ETHNIC_ORIGIN'}}"></p>
        <md-select ng-disabled="user.edit.ethnic_origin_id" aria-label="select" style="padding-left:36px; padding-bottom: 2px" ng-model="user.profile.ethnic_origin_id"  placeholder="{{'ETHNIC_ORIGIN' | translate }}{{user.profile.ethnic_origin_id == null ? ' not set' : ''}}">
          <md-option ng-click="user.showEdit('ethnic_origin_id', ethnicity.id)" ng-repeat="ethnicity in user.ethnics" ng-value="ethnicity.id">{{ethnicity.region}}
              <md-tooltip>{{ethnicity.description}}</md-tooltip>
          </md-option>
        </md-select>
    </md-input-container>
        </td>
        <td>
      <md-icon ng-click="user.showEdit('ethnic_origin_id', user.profile.ethnic_origin_id)" class="edit-btn mdi mdi-pencil select-ctn" ng-class="{'clicked':!user.edit.ethnic_origin_id}"  ng-show="user.showEdits" ></md-icon>
        </td>


      </tr>

      <tr>
        <td class="mobile">
          <div class="column-form" style="display:inline-block" flex>
               <p class="md-caption date-picker-label" translate="{{'BIRTHDAY'}}"></p>
            <md-datepicker name="dateField" ng-model="user.profile.date_of_birth" md-placeholder="Birthday not set"
            required md-min-date="user.minDate" ng-blur="user.showEdit('date_of_birth', user.profile.date_of_birth)" md-max-date="user.maxDate" convert-date ng-disabled="user.edit.date_of_birth"></md-datepicker>          
             
          </div>
        </td>
        <td>
          <md-icon ng-click="user.showEdit('date_of_birth', user.profile.date_of_birth)" class="edit-btn mdi mdi-pencil date-pick" ng-class="{'clicked':!user.edit.date_of_birth}"  ng-show="user.showEdits"></md-icon>
        </td>


        <td class="mobile">
          <md-input-container class="change-password" flex>
            <label translate="{{'CHANGE_PASSWORD'}}"></label>
              <md-icon class="mdi mdi-key-change input-icon"></md-icon>
              <input type="password" name="input" ng-keypress="user.pressEnter($event, 'password', newpassword)" ng-disabled="user.edit.password" ng-model="newpassword" required min-length="8"/>
          </md-input-container>
        </td>
        <td>
            <md-icon ng-click="user.showEdit('password', newpassword)" class="edit-btn mdi mdi-pencil pass-ctn" ng-class="{'clicked':!user.edit.password}"  ng-show="user.showEdits"></md-icon>
        </td>
      </tr>


      <tr>
        <td class="mobile">
          <md-input-container>
           <label style="color:grey" translate="{{'ADDRESS'}}"></label> 
              <md-icon class="mdi mdi-home input-icon"></md-icon>
            <input  type='text' placeholder="{{user.profile.street_name ? (user.profile.unit_number + ' ' + user.profile.street_number + ' ' + user.profile.street_name) : 'Address not set'}}" ng-disabled="true"/>
          </md-input-container>
        </td>

        <td>
            <md-icon ng-click="user.show_edit_address = !user.show_edit_address;" class="edit-btn mdi mdi-pencil" ng-show="user.showEdits"></md-icon>
        </td>

        <td>
            <md-switch style="margin:0px" ng-model="user.verifyAddress" ng-if="user.profile.address_verified_until == null" has-permission="administrate-users" class="md-secondary" ng-change="user.verifyUserAddress(user.profile)" aria-label="Switch" ng-true-value="1" ng-false-value="0">Verify the address.</md-switch>
            <p class="md-body-2" ng-show="user.profile.address_verified_until != null">Address is verified until {{user.profile.address_verified_until.alpha_date}}</p>
        </td>

        <td>
        </td>


        </tr>

        <tr>
        <td class="mobile">
          <md-switch style="margin:0px" has-permission="administrate-users" class="md-secondary" ng-model="user.profile.identity_verified" ng-change="user.verifyUser()" aria-label="Switch" ng-true-value="1" ng-false-value="0">{{user.profile.identity_verified ? ('USER_VERIFIED' | translate) : ('USER_NOT_VERIFIED' | translate) }}</md-switch>

          <a ng-cloak has-permission="administrate-users" ng-if="!user.profile.identity_verified && user.profile.government_identification && !user.displayImgID"href="uploads/government_identification/{{user.profile.government_identification.filename}}"  target="_blank">
            <i class="md-caption">Government ID pending</i>
          </a>
        </td>

        <td>
        </td>
        <td>

        </td>
      </tr>

    </tbody>
  </table>

</form>