<form layout-padding class="user-profile-form" flex="90" flex-sm="100" flex-md="50"  flex-lg="100" flex-gt-lg="50" >
  <div layout layout-padding>
    <md-input-container flex>
      <label translate="{{'EMAIL_ADDRESS'}}"></label>
         <md-icon style="padding-top:22px" class="mdi mdi-email-outline input-icon"></md-icon>
       <input type="email"ng-model="user.profile.email" ng-keypress="user.pressEnter($event, 'email', user.profile.email)" ng-disabled="user.edit.email"/>
    </md-input-container>
      <md-icon ng-click="user.showEdit('email', user.profile.email)" class="edit-btn user-btn mdi mdi-pencil" ng-class="  {'clicked':!user.edit.email}"  ng-show="user.showEdits" ></md-icon>
    

    <md-input-container flex>
      <md-icon class="mdi mdi-earth input-icon"></md-icon>
      <p class="md-caption" style="padding-left:37px; margin:0px;padding-top:4px;color:grey">Ethnicity</p>
        <md-select ng-disabled="user.edit.ethnic_origin_id" aria-label="select" style="padding-left:36px; padding-bottom: 2px" ng-model="user.profile.ethnic_origin_id"  placeholder="{{'ETHNIC_ORIGIN' | translate }}{{user.profile.ethnic_origin_id == null ? ' not set' : ''}}">
          <md-option ng-click="user.showEdit('ethnic_origin_id', user.profile.ethnic_origin_id)" ng-repeat="ethnicity in user.ethnics" ng-value="ethnicity.id">{{ethnicity.region}}
              <md-tooltip>{{ethnicity.description}}</md-tooltip>
          </md-option>
        </md-select>
    </md-input-container>
      <md-icon ng-click="user.showEdit('ethnic_origin_id', user.profile.ethnic_origin_id)" class="edit-btn user-btn mdi mdi-pencil" ng-class="{'clicked':!user.edit.ethnic_origin_id}"  ng-show="user.showEdits" ></md-icon>
  </div>


  <div layout layout-padding>
    <md-input-container flex>
      <label translate="{{'BIRTHDAY'}}"></label>
        <md-icon class="mdi mdi-cake input-icon"></md-icon>
        <input type="{{user.edit.date_of_birth ? 'text' : 'date'}}" ng-keypress="user.pressEnter($event, 'date_of_birth', user.profile.date_of_birth)" ng-model="user.profile.date_of_birth" ng-disabled="user.edit.date_of_birth" convert-date/>
    </md-input-container>
      <md-icon ng-click="user.showEdit('date_of_birth', user.profile.date_of_birth)" class="edit-btn user-btn mdi mdi-pencil" ng-class="{'clicked':!user.edit.date_of_birth}"  ng-show="user.showEdits"></md-icon>

    <md-input-container class="change-password" flex>
      <label >Change Password</label>
        <md-icon class="mdi mdi-key-change input-icon"></md-icon>
        <input type="password" ng-keypress="user.pressEnter($event, 'password', newpassword)" ng-disabled="user.edit.password" ng-model="newpassword" required min-length="8"/>
    </md-input-container>
      <md-icon ng-click="user.showEdit('password', newpassword)" class="edit-btn user-btn mdi mdi-pencil" ng-class="{'clicked':!user.edit.password}"  ng-show="user.showEdits" ></md-icon>
  </div>

  <has-permission has-permission="administrate-users">
    <div layout layout-padding style="padding-top:24px; padding-bottom:17px">
      <md-switch style="margin:0px" class="md-secondary"ng-model="user.profile.identity_verified" ng-click="user.verifyUser(user.profile)" aria-label="Switch" ng-true-value="1" ng-false-value="0">User's identity{{user.profile.identity_verified ? ' verified.' : ' has not been verified.'}}</md-switch>
    </div>
  </has-permission>

</form>