<md-card id="dashboard" flex ng-cloak>
  <md-card-content>
  <md-tabs md-dynamic-height md-border-bottom>

    <md-tab label="Site Content">
      <content-manager></content-manager>
    </md-tab>

    <md-tab label="Appearance">
      <appearance-manager></appearance-manager>
    </md-tab>    

    <md-tab label=" {{ 'MOTION' | translate }} Drafts" >
      <motion-drafts></motion-drafts>
    </md-tab>

    <md-tab label="Background Images">
      <background-image-manager></background-image-manager>
    </md-tab>

    <md-tab label="User Management">
      <user-manager></user-manager>
    </md-tab>

    <md-tab label=" {{ 'DEPARTMENT' | translate }} Manager" >
      <department-manager></department-manager>
    </md-tab>

  </md-tabs>
  </md-card-content>
</md-card>

