<md-card flex>
  <md-card-content>
  <md-tabs md-dynamic-height md-border-bottom>




    <md-tab label=" {{ 'MOTION' | translate }} Drafts" >
    
      <motion-drafts />

    </md-tab>


    <md-tab label="Site Content">

      <content-manager />
    </md-tab>
    

    <md-tab label="Appearance">
      <appearance-manager />
    </md-tab>


 


<!--     <md-tab label="Images">
      <image-manager />
    </md-tab>  -->
    

    <md-tab label="User Management">
      <user-manager />
    </md-tab>



  </md-tabs>
  </md-card-content>
</md-card>

