<md-content id="maincontent" flex-gt-xs="100" flex-md="70" flex-lg="70" flex-gt-lg="60" layout="column" style="margin:auto;">
    <section class="md-whiteframe-z1" style="margin:8px; padding:0px" flex="50" layout-padding>

        <form name="newpassword">
        <div layout="column" style="font-size: 14px; padding-top:0px" layout-padding>
          <h2>Reset Password</h2>
        <md-input-container flex="33" >
            <label translate="{{'NEW_PASSWORD'}}"></label>
            <input name="password" type="password" ng-model="password" ng-minlength="8" required/>
            <div ng-messages="newpassword.password.$error">
              <div ng-message="minlength">{{ 'LEAST_CHAR' | translate }}</div>
            </div>

            </md-input-container>
        <md-input-container flex="33">
            <label translate="{{'CONFIRM_PASSWORD'}}"></label>
             <input name="confirmPassword" type="password" ng-model="confirmPassword" compare-to="password" required/>
            <div ng-messages="newpassword.confirmPassword.$error">
                <div ng-message="compareTo">{{ 'PASS_NOT_MATCH' |  translate }}</div>
            </div>
            </md-input-container>
          <div layout="row">
             <md-button ng-disabled="password != confirmPassword || !password" type="submit" layout layout-align="center end" ng-click="savePassword()" aria-label="confirm reset password">Reset</md-button>
          </div>
        </div>
        </form>

    </section>
</md-content>
</span>
