<md-dialog aria-label="Verify identity form"  flex="45">

<div ng-controller="NotificationController as vm">

<md-toolbar class="md-warn" style="padding-top: 15px">
  <div class="md-toolbar-tools">
   <h2 class="md-flex">Verify your address<span style="display:block" class="md-caption">We will need to verify your identity for your Yellowknife vote to count.</span></h2>
  </div>

</md-toolbar>
<form>

<md-dialog-content style="height:80%;">
<div layout-padding>

	<div layout layout-sm="column">
		<md-input-container flex="33">
			<label>Apt. Suite/Street Number</label><input ng-model="vm.address.street_number" required/>
		</md-input-container>

		<md-input-container flex="66">
			<label>Address</label><input ng-model="vm.address.street_name" required/>
		</md-input-container>
	</div>

	<div layout layout-sm="column">
		<md-input-container>
			<label>Postal Code</label><input ng-model="vm.address.postal_code" required/>
		</md-input-container>
		<md-input-container>
			<label>City</label><input ng-model="vm.address.city" required/>
		</md-input-container>
		<md-input-container>
			<label>Province/Territory</label><input ng-model="vm.address.territory" required/>
		</md-input-container>
	</div>

	<div flow-init="" flow-files-submitted="vm.upload($flow, $index)" layout-padding>
      <label>Proof of Identification</label>
      <div layout layout-sm="column">
	      <md-input-container flex="33">
	                <md-icon class="mdi" md-font-icon="mdi-file-image-box" ></md-icon>
	        <input aria-label="select" type="file" flow-btn/>
	        <md-tooltip>Upload a copy of a government issued ID and a piece of mail that has your address and legal name on it.</md-tooltip>
	      </md-input-container>
     	   <p class="md-body-1" ng-repeat="file in $flow.files">{{file.name}}, </p>
        </div>
      </div>

	<div layout layout-align="end">
		<md-button type="submit" ng-click="verify(vm.address); vm.uploadIdentification()" ng-cloak>Save</md-button>
		<md-button ng-click="cancel()" ng-cloak>Not now</md-button>
	</div>
</div>

</md-dialog-content>

</form>
</md-dialog>

